<% provide(:title, 'Mail Tablets') %>

		<!-- <link rel="stylesheet" href="/assets/jquery-ui.css"> -->		
		<!-- <script src="/assets/jquery-ui.js"></script> -->
		<!-- <script src="/assets/jquery-min.js"></script> -->

		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff; min-height: 850px;">						
		
			<div style="height: 70px;"></div>
		
			<div id="mtabs" class="mtabs" style="width: 1224px;">
				<ul>
					<!-- <li><a href="#tabs-A" id="tabsA">Tablets</a></li> -->				
					<li><a href="#tabs-0" id="tabs0" class="mtab mtab-yellow">MTablet 0</a></li>				
					<li><a href="#tabs-1" id="tabs1" class="mtab mtab-blue">MTablet 1</a></li>
					<li><a href="#tabs-2" id="tabs2" class="mtab mtab-blue">MTablet 2</a></li>
					<li><a href="#tabs-3" id="tabs3" class="mtab mtab-blue">MTablet 3</a></li>
					<li><a href="#tabs-4" id="tabs4" class="mtab mtab-blue">MTablet 4</a></li>
					<li><a href="#tabs-5" id="tabs5" class="mtab mtab-blue">MTablet 5</a></li>
					<li><a href="#tabs-6" id="tabs6" class="mtab mtab-blue">MTablet 6</a></li>
					<li><a href="#tabs-7" id="tabs7" class="mtab mtab-blue">MTablet 7</a></li>
					<li><a href="#tabs-8" id="tabs8" class="mtab mtab-blue">MTablet 8</a></li>
				</ul>
			</div>			
		
			<div id="render0"></div>

			<%= hidden_field_tag :pos1, params[:pos1] %>
						
		</div>

		<script>

			selected_index = 0;
			last_index = 0;
			selected_id = "";
			last_id = "";
			function change_selected(selected_index) {
				selected_id = "#tabs" + selected_index;
				last_id = "#tabs" + last_index; 
				
				switch (last_index)
				{
				  	case 0:
						$(last_id).removeClass("mtab-selected").addClass("mtab-yellow");
						break;
				  	case 1:
				  	case 2:
				  	case 3:
				  	case 4:
				  	case 5:
				  	case 6:
				  	case 7:
				  	case 8:
						$(last_id).removeClass("mtab-selected").addClass("mtab-blue");
						break;
					default:
					//
				}
				
				switch (selected_index)
				{
				  	case 0:
						$(selected_id).removeClass("mtab-yellow").addClass("mtab-selected");
						break;
				  	case 1:
				  	case 2:
				  	case 3:
				  	case 4:
				  	case 5:
				  	case 6:
				  	case 7:
				  	case 8:
						$(selected_id).removeClass("mtab-blue").addClass("mtab-selected");
						break;
					default:
					//
				}
				
				last_index = selected_index;
			}				
				
			$('#tabs0').on('click', function() {
				change_selected(0);
			   	$.get("/mtablets", null, null, "script");
			});

			$('#tabs1').on('click', function() {
				change_selected(1);
			   	$.get("/mtab1lets", null, null, "script");
			});
	
			$('#tabs2').on('click', function() {
				change_selected(2);				
			   $.get("/mtab2lets", null, null, "script");
			});
	
			$('#tabs3').on('click', function() {
				change_selected(3);
			   	$.get("/mtab3lets", null, null, "script");
			});
	
			$('#tabs4').on('click', function() {
				change_selected(4);
			   	$.get("/mtab4lets", null, null, "script");
			});
			
			$('#tabs5').on('click', function() {
				change_selected(5);
			   	$.get("/mtab5lets", null, null, "script");
			});

			$('#tabs6').on('click', function() {
				change_selected(6);
			   	$.get("/mtab6lets", null, null, "script");
			});

			$('#tabs7').on('click', function() {
				change_selected(7);
			   	$.get("/mtab7lets", null, null, "script");
			});

			$('#tabs8').on('click', function() {
				change_selected(8);
			   	$.get("/mtab8lets", null, null, "script");
			});
			
			$(function() {
				$('#tabs0').click();
			});			
	
		</script>

