<% provide(:title, 'Advertise') %>

	<section>
		
		<div class="content_about shadow" style="height: 600px;">

			<div class="space-100"></div>

			<div class="table-main">
				<div class="row">
					<div class="cell-600" align="center">
						<h1>Advertise</h1>
					</div>
					
				</div>
			</div>
    	</div>
	</section>

    <div class="space-20"></div>
