

		<style type="text/css">
		
			/*@font-face {
				font-family: KlavikaExtraLight;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayExtraLight.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicLight.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicRegular.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicMedium.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicBold.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayBlack.eot');
				src: url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('http://www.inc.com/lib/fonts/klavika/KlavikaWebDisplayBlack.woff') format('woff');
			}*/

			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}
		
		</style>		
			
		<!-- <link href="/assets/entrepeneurs_screen.css" media="screen, projection" rel="stylesheet" type="text/css"> -->
		
		<!-- <style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>
			
		<style type="text/css">
			#article_left_col{ width: 580px !important;} 
			#center_col { width: 950px !important;} 
			h1.indexhead { margin: 0px; padding: 0px;}
		</style> -->
				
							
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>

		<script type="text/javascript" src="http://www.work.ua/js/mootools_1350549978.js"></script>
		<script type="text/javascript" src="http://www.work.ua/js/mootools-more_1380281301.js"></script>
		
		<!-- <script type="text/javascript" src="http://www.work.ua/ru/js/lp_1378193134.js"></script> -->
				
		
		<script type="text/javascript" src="http://www.work.ua/js/main_1377000345.js"></script>
		
		
		<!-- <script src="http://www.work.ua/js/cssua.min.js" type="text/javascript"></script> -->		
		
		
		<link href="/assets/screen_headlines.css" media="screen, projection" rel="stylesheet" type="text/css">

		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
		
	    <script type="text/javascript">
	    	swfobject.embedSWF("/assets/865.swf", "myContent", "300", "120", "9.0.0");
	    </script> -->

	    
		<header>		
						
			<%= render 'share/backtotop' %>
			
	    	<%= render 'layouts/flash_alert' %>
	    	
			<div class="table-main">			
				<div class="row">
					<div class="cell-250">
						<div class="table-main">
							<div class="row">
								<div class="cell-250" style="padding-left: 24px;">
						  			<%= image_tag("image_learning_counsel.png", :alt => 'image_learning_counsel.png') %>
						  		</div>
							</div>
							<div class="row">
								<div class="cell-125" style="padding-left: 24px;">
									<p style="font-family: msyh; font-size: 12px;">News and Context for the<br>Shift to Digital Curriculum</p>
						  		</div>
							</div>							
						</div>
					</div>
					<div class="cell-650">
						<div class="table-main">
							<div class="row">
								<div class="cell-100"></div>
								<div class="cell-650">
									<div style="font-size: 40px; color: red;">			    
								    	<h1>The Learning Counsel Admin</h1>
								    </div>
									
									
									<!-- <div id="main_header_adblock_1">									
										<h3>Space Available</h3>
									</div> -->														
								</div>			
							</div>							
						</div>
					</div>
				</div>					
			</div>	
			  		
					
		</header>		
		
		<section>
			
			<div style="background-color: white;">
				
				
				<div style="height: 30px;"></div>

				
				<div id="container" class="inner">
					
					<script>
						$(document).ready(function() {
							$('#prev').hover(function() {$('#prev img').attr('src','http://images.inc.com/header/prev-arrow-hov.png')}, function() {$('#prev img').attr('src','http://images.inc.com/header/prev-arrow.png')})
							$('#next').hover(function() {$('#next img').attr('src','http://images.inc.com/header/next-arrow-hov.png')}, function() {$('#next img').attr('src','http://images.inc.com/header/next-arrow.png')})
						});
					</script>
					
					<!-- <span id="prev" style="float:left;left:-70px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<img src="/assets/entrepeneurs_prev-arrow.png">						
					</span> -->											
												
					<span id="prev" style="float:left;left:-100px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<div style="width: 50px; height: 150px;">
							<a class="scroll_video_prev" title="Previous" href="#"></a>
						</div>					
					</span>
					
					
					<!-- <span id="next" style="float:right;right:-70px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<img src="/assets/entrepeneurs_next-arrow.png">
					</span> -->

					<span id="next" style="float:right;right:-80px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<div style="width: 50px; height: 150px;">
							<a class="scroll_video_next" title="Next" href="#"></a>
						</div>					
					</span>
					
												

					<div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width:970px;position:relative;height:890px;">					
					
					<!-- <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width:970px;position:relative;height:700px;"> -->					
					
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 101; opacity: 1;" class="slide cycle-slide cycle-slide-active">

							<!-- 1 -->															
							<div class="fluidrow mainfeaturerow">
					
								<div>
							 		<a href="#">
							 			<img src="/assets/img-error-980-450-burgundy.png" width="980" height="450">
							 		</a>
								</div>

								<div class="channel-article header perspective">
									<a href="#"><span>GENRE</span></a>
								</div>
								
							    <div class="headlines">
						        	<div class="h1"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a></div>
						            <div class="h2">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut 
										labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
						            	<span class="byline">&nbsp;by&nbsp;
						            		<a href="#">The Author</a></span>
						            </div>
						        	<div class="space-20"></div>
						        </div>
					        </div>
							<br>
					        
					    	<div class="fluidrow">					    
								<!-- 2 -->																				    
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-green h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
								
								<!-- 3 -->																			    					    
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-orange h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
								
								<!-- 4 -->
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-violet h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="journals/tales_to_go" style="text-decoration: none;">
									    	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod	
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
						
							</div>
												
						</div>
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 100; display: none;" class="slide cycle-slide">
							<div class="fluidrow mainfeaturerow">
								<!-- 5 -->																				    					
								<div>
						 			<a href="journals/we_need">
						 				<img src="/assets/img-error-980-450-brown.png" width="980" height="450">
						 			</a>
								</div>
						 		
								<div class="channel-article header idea">
									<a href="#"><span>GENRE</span></a>
								</div>
						 		
							    <div class="headlines">
						        	<div class="h1"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a></div>
						            <div class="h2">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut 
										labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
						            	<span class="byline">&nbsp;by&nbsp;
						            		<a href="#">The Author</a></span>
						            </div>
						        	<div class="space-20"></div>
						        </div>
						 		
					        </div>
					        
					    	<div class="fluidrow">
								<!-- 6 -->								    		
								<div class="psubfeature" onclick="">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-pink h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Tales2Go Releases Android Version of its Award-Winning Service
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>					
								<!-- 7 -->		
								<div class="psubfeature" onclick="">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-brown h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>					
								<!-- 8 -->			
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-blue h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
						
							</div>
						</div>
					
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;" class="slide cycle-slide">
							<div class="fluidrow mainfeaturerow">
								<!-- 9 -->	

								<div>
							 		<a href="#">
						 				<img src="/assets/img-error-980-450-blue.png" width="980" height="450">
							 		</a>
								</div>
						 		
								<div class="channel-article header tactic">
									<a href="#"><span>GENRE</span></a>
								</div>
						 		
							    <div class="headlines">
						        	<div class="h1"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a></div>
						            <div class="h2">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut 
										labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
						            	<span class="byline">&nbsp;by&nbsp;
						            		<a href="#">The Author</a></span>
						            </div>
						        	<div class="space-20"></div>
						        </div>
						 		
					        </div>
					        
					    	<div class="fluidrow">
								<!-- 10 -->																				    					    
								<div class="psubfeature" onclick="">
									<div class="inner_cell-subfeature">

										<div class="bg-industry-news-pine h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									    									    									
									</div>
								</div>					
								
								<!-- 11 -->			
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-tan h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
																									    					    					    
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-tan h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
					
						</div>
					
					
					</div>		
								
				</div>
				
				
				
				
				
				
				
				
				
				<br>










				<!-- headlines -->
								
					
					<div class="container-main">
						<div class="board">
									
							<div style="width: 100%; height: 30px; background-color: gray; margin-top: 4px; margin-bottom: 20px;"></div>


<!--start single template -->

							<div class="rowfluid boxtemp-black-d">
								
								<a href="#" class="col_1 p_normal">
									<div class="inner_cell">
										<div class="b_container">
											<div class="img-cell-single">
												<img src="png" onerror="this.src='/assets/error-260-180.png'">
											</div>
											<div class="catcolorbox_posit">
							            		<div class="catbox-article catbox thoughts_catbox">
							            			<span>CATBOX</span>
							            		</div>
						            		</div>																								
										</div>
										<div class="b_headline">
											This is a long line of headline text that goes here
											<span class="pbyline">by&nbsp<span class="b_link">The Author</span></span>											
										</div>
									</div>
								</a>
						
								<a href="#" class="col_2 p_normal">
									<div class="inner_cell">
										<div class="b_container">
											<div class="img-cell-single">
												<img src="png" onerror="this.src='/assets/error-260-180.png'">
											</div>
											<div class="catcolorbox_posit">
							            		<div class="catbox-article catbox tactic_catbox">
							            			<span>CATBOX</span>
							            		</div>
						            		</div>																								
										</div>
										<div class="b_headline">
											This is a long line of headline text that goes here
											<span class="pbyline">by&nbsp<span class="b_link">The Author</span></span>											
										</div>
									</div>
								</a>
						
								<a href="#" class="col_3 p_normal" onclick="">
									<div class="inner_cell">
										<div class="b_container">
											<div class="img-cell-single">
												<img src="png" onerror="this.src='/assets/error-260-180.png'">
											</div>
											<div class="catcolorbox_posit">
							            		<div class="catbox-article catbox design_catbox">
							            			<span>CATBOX</span>
							            		</div>
						            		</div>																								
										</div>
										<div class="b_headline">
											This is a long line of headline text that goes here
											<span class="pbyline">by&nbsp<span class="b_link">The Author</span></span>											
										</div>
									</div>
								</a>
								
							</div>

<!--end single template -->









							<div class="container_space"></div>
					
<!--start double template 1st column long -->
							
							<div class="rowfluid boxtemp-red">
								
								<a href="journals/education_compared" class="col_1 b_portrait" onclick="">
									<div class="inner_cell boxtemp-black">
										<div class="b_container">
											<div style="position: absolute; bottom: 0px;">
												<img src="jpg" onerror="this.src='/assets/error-300-520.png'">
											</div>
											
											<div class="catcolorbox_pos">
							            		<div class="catbox-article catbox_pos perspective_catbox">
							            			<span>PERSPECTIVE</span>
							            		</div>
						            		</div>								            		
						            						            						
										</div>
										<div class="b_headline">
											Education Compared to All Other Industry
											<span class="pbyline">by&nbsp;<span class="b_link" onclick="">LeiLani Cauthen</span></span>
										</div>
									</div>
								</a>
								
								<div class="col_2">
									
									<div class="inner_cell">
										<div class="text_container b_container line-grow">
											
											<object type="application/x-shockwave-flash" data="http://www.youtube.com/v/UZePBZ-edfE&feature=youtu.be&noredirect=1" width="300" height="200">          	
									            <param name="wmode" value="opaque" />
									            <param name="quality" value="high" />
									            <param name="bgcolor" value="#E9E9E9" />
									            <param name="allowfullscreen" value="true" />
									         	<param name="allowscriptaccess" value="never" />
									         </object>

											<div class="headline-excelsiorcomics">
												<span>5 Key Areas of Success K12 Tech Integration Planning</span>
											</div>

																								
											<div class="text_box">
												<span class="pbyline">&nbsp;<span class="b_link" onclick=""></span></span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
									</div>
									
								</div>
								
								<a href="journals/blogs_and_links" class="col_3" onclick="">
									<div class="inner_cell">
										<div class="line-lead">
											
											<div style="vertical-align: top;">
												<img src="png" onerror="this.src='/assets/error-260-180.png'">
											</div>

											<div class="headline-junebug">
												<span class="gold">Blogs</span>
												<span class="red">&amp;</span>
												<span class="blue">Links</span>														
											</div>
																								
											<div class="text_box">
												<span class="pbyline">&nbsp;<span class="b_link" onclick=""></span></span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
									</div>
								</a>										
								
							</div>
														
							<div class="fluidrow boxtemp-green">
								
								<div class="col_1">
									<div class="inner_cell"></div>
								</div>

								<a href="journals/to_solution" class="col_2 p_normal" onclick="">
									<div class="inner_cell">
										
										<div class="b_container">
											<div class="img-cell-single">
												<img src="png" onerror="this.src='/assets/error-260-180.png'">
											</div>
											<div class="catcolorbox_posit">
							            		<div class="catbox-article catbox design_catbox">
							            			<span>CATBOX</span>
							            		</div>
						            		</div>																								
										</div>
										<div class="b_headline">
											This is a long line of headline text that goes here
											<span class="pbyline">by&nbsp<span class="b_link">The Author</span></span>											
										</div>
										
									</div>
								</a>

								<a href="journals/how_to_be" class="col_3 p_normal" onclick="">
									<div class="inner_cell">

										<!-- <div class="text_container b_container line-startup" style="border-style: solid; border-width: 1px; border-color: red;"> -->
											
										<div class="line-startup" style="height: 260px; border-style: solid; border-width: 1px; border-color: red;">
											
											<div class="headline-second-breakfast" style="vertical-align: top; font-size: 16px; margin-top: 8px;">
												<span>Blog</span>
											</div>
											
											<div class="headline-JandaCheerfulScript" style="padding-top: 20px; font-size: 40px; border-style: solid; border-width: 1px; border-color: red;">
												<span style="padding-left: 10px">&ldquo;How</span><br>
												<span style="padding-left: 120px">to</span><br>
												<span style="padding-left: 200px">Be&rdquo;</span>														
											</div>
											
											<div style="position: absolute; bottom: 30px; width: 298px; text-align: right; border-style: solid; border-width: 1px; border-color: green;">
												<span class="pbyline">By&nbsp;<span class="b_link" onclick=""></span>LeiLani Cauthen</span>
											</div>
										</div>
										
									</div>
								</a>
								
							</div>
							
<!--end double template 1st column long -->
							
							
							
							
							
							
							
							
							
							
							
<!--start double template 3rd column long -->
							
							<div class="container_space"></div>

							<div class="container_space"></div>
							
							
							<div class="fluidrow boxtemp-red">
								
								
								<div class="col_1">
									
									<div class="inner_cell">
										<div class="text_container b_container line-grow">
											
											<object type="application/x-shockwave-flash" data="http://www.youtube.com/v/UZePBZ-edfE&feature=youtu.be&noredirect=1" width="300" height="200">          	
									            <param name="wmode" value="opaque" />
									            <param name="quality" value="high" />
									            <param name="bgcolor" value="#E9E9E9" />
									            <param name="allowfullscreen" value="true" />
									         	<param name="allowscriptaccess" value="never" />
									         </object>

											<div class="headline-excelsiorcomics">
												<span>5 Key Areas of Success K12 Tech Integration Planning</span>
											</div>

																								
											<div class="text_box">
												<span class="pbyline">&nbsp;<span class="b_link" onclick=""></span></span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
									</div>
									
								</div>
								
								<a href="journals/blogs_and_links" class="col_2" onclick="">
									<div class="inner_cell">
										<div class="text_container b_container line-lead">
											
											<img src="/assets/article-blogs-and-links.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">

											<div class="headline-junebug">
												<span class="gold">Blogs</span>
												<span class="red">&amp;</span>
												<span class="blue">Links</span>														
											</div>
																								
											<div class="text_box">
												<span class="pbyline">&nbsp;<span class="b_link" onclick=""></span></span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
									</div>
								</a>			
								
								
								<a href="journals/education_compared" class="col_3 b_portrait" onclick="">
									<div class="inner_cell boxtemp-black">
										<div class="b_container">
											<div style="position: absolute; bottom: 0px;">
												<img src="jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x520-3.jpg'">
											</div>
											
											<div class="catcolorbox_pos">
							            		<div class="catbox-article catbox_pos perspective_catbox">
							            			<span>PERSPECTIVE</span>
							            		</div>
						            		</div>								            		
						            						            						
										</div>
										<div class="b_headline">
											Education Compared to All Other Industry
											<span class="pbyline">by&nbsp;<span class="b_link" onclick="">LeiLani Cauthen</span></span>
										</div>
									</div>
								</a>
								
							</div>
							
							<div class="fluidrow boxtemp-green">
								
								<a href="journals/how_to_be" class="col_1 p_normal" onclick="">
									<div class="inner_cell">

										<div class="text_container b_container line-startup" style="width: 300px; border-style: solid; border-width: 1px; border-color: red;">
											
											<div class="headline-second-breakfast" style="font-size: 16px; margin-top: 8px;">
												<span>Blog</span>
											</div>
											
											<div class="headline-JandaCheerfulScript" style="padding-top: 50px; font-size: 50px; border-style: solid; border-width: 1px; border-color: red;">
												<span style="padding-left: 10px">How</span>
												<span style="padding-left: 70px">to</span>
												<span style="padding-left: 130px">Be</span>														
											</div>
																								
											<div class="text_box" style="border-style: solid; border-width: 1px; border-color: green;">
												<span class="pbyline">By&nbsp;<span class="b_link" onclick=""></span>LeiLani Cauthen</span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
										
									</div>
								</a>

								<a href="journals/to_solution" class="col_2 p_normal" onclick="">
									<div class="inner_cell">
										<div class="b_container">
											
											<img src="/assets/article-to-solution-300-200.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">
						            		<div class="catbox-article catbox tactic_catbox">
						            			<span>TACTIC</span>
						            		</div>													
										</div>
										<div class="b_headline">
											To Solution or Element – That is the Question
											<img src="Entrepeneurs_files/videoicon_sm.png">
												<span class="pbyline">By&nbsp;<span class="b_link" onclick="">The LC Staff</span></span>
										</div>
										
									</div>
								</a>

								<div class="col_3">
									<div class="inner_cell"></div>
								</div>
								
							</div>
						
<!--end double template 3rd column long -->							
						
						
						
						
						
							



							<div class="container_space"></div>

							<div class="container_space"></div>
							
<!--start double template 2nd column long -->							
							
							<div class="fluidrow boxtemp-red">
								
								
								<div class="col_1">
									
									<div class="inner_cell">
										<div class="text_container b_container line-grow">
											
											<object type="application/x-shockwave-flash" data="http://www.youtube.com/v/UZePBZ-edfE&feature=youtu.be&noredirect=1" width="300" height="200">          	
									            <param name="wmode" value="opaque" />
									            <param name="quality" value="high" />
									            <param name="bgcolor" value="#E9E9E9" />
									            <param name="allowfullscreen" value="true" />
									         	<param name="allowscriptaccess" value="never" />
									         </object>

											<div class="headline-excelsiorcomics">
												<span>5 Key Areas of Success K12 Tech Integration Planning</span>
											</div>

																								
											<div class="text_box">
												<span class="pbyline">&nbsp;<span class="b_link" onclick=""></span></span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
									</div>
									
								</div>
								
								<a href="journals/education_compared" class="col_2 b_portrait" onclick="">
									<div class="inner_cell boxtemp-black">
										<div class="b_container">
											<div style="position: absolute; bottom: 0px;">
												<img src="jpg" onerror="this.src='http://images.inc.com/refreshgraphics/300x520-3.jpg'">
											</div>
											
											<div class="catcolorbox_pos">
							            		<div class="catbox-article catbox_pos perspective_catbox">
							            			<span>PERSPECTIVE</span>
							            		</div>
						            		</div>								            		
						            						            						
										</div>
										<div class="b_headline">
											Education Compared to All Other Industry
											<span class="pbyline">by&nbsp;<span class="b_link" onclick="">LeiLani Cauthen</span></span>
										</div>
									</div>
								</a>
								
								<a href="journals/blogs_and_links" class="col_3" onclick="">
									<div class="inner_cell">
										<div class="text_container b_container line-lead">
											
											<img src="/assets/article-blogs-and-links.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">

											<div class="headline-junebug">
												<span class="gold">Blogs</span>
												<span class="red">&amp;</span>
												<span class="blue">Links</span>														
											</div>
																								
											<div class="text_box">
												<span class="pbyline">&nbsp;<span class="b_link" onclick=""></span></span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
									</div>
								</a>			
								
								
								
							</div>
							
							<div class="fluidrow boxtemp-green">
								
								<a href="journals/how_to_be" class="col_1 p_normal" onclick="">
									<div class="inner_cell">

										<div class="text_container b_container line-startup" style="width: 300px; border-style: solid; border-width: 1px; border-color: red;">
											
											<div class="headline-second-breakfast" style="font-size: 16px; margin-top: 8px;">
												<span>Blog</span>
											</div>
											
											<div class="headline-JandaCheerfulScript" style="padding-top: 50px; font-size: 50px; border-style: solid; border-width: 1px; border-color: red;">
												<span style="padding-left: 10px">How</span>
												<span style="padding-left: 70px">to</span>
												<span style="padding-left: 130px">Be</span>														
											</div>
																								
											<div class="text_box" style="border-style: solid; border-width: 1px; border-color: green;">
												<span class="pbyline">By&nbsp;<span class="b_link" onclick=""></span>LeiLani Cauthen</span>
											</div>
											<div class="text_cat">
												<span class="b_link" onclick=""></span>
											</div>
										</div>
										
									</div>
								</a>

								<div class="col_2">
									<div class="inner_cell"></div>
								</div>

								<a href="journals/to_solution" class="col_3 p_normal" onclick="">
									<div class="inner_cell">
										<div class="b_container">
											
											<img src="/assets/article-to-solution-300-200.png" onerror="this.src='http://images.inc.com/refreshgraphics/300x200-4.jpg'">
						            		<div class="catbox-article catbox tactic_catbox">
						            			<span>TACTIC</span>
						            		</div>													
										</div>
										<div class="b_headline">
											To Solution or Element – That is the Question
											<img src="Entrepeneurs_files/videoicon_sm.png">
												<span class="pbyline">By&nbsp;<span class="b_link" onclick="">The LC Staff</span></span>
										</div>
										
									</div>
								</a>

								
							</div>

<!--end double template 2nd column long -->							


							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
						</div>
					</div>
					

				<div style="height: 30px;"></div>

								
			</div> <!--inner container -->
					

								
			</div> <!--white -->
			
		</section>
		