
		<style type="text/css">
		
			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}
		
		</style>		
			
		<!-- <link href="/assets/entrepeneurs_screen.css" media="screen, projection" rel="stylesheet" type="text/css"> -->
		
		<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>
			
				
							
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>

		<!-- <script type="text/javascript" src="http://www.work.ua/js/mootools_1350549978.js"></script>
		<script type="text/javascript" src="http://www.work.ua/js/mootools-more_1380281301.js"></script>
		
		
		<script type="text/javascript" src="http://www.work.ua/js/main_1377000345.js"></script> -->		

		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>		
						
			<%= render 'share/backtotop' %>
			
			<div style="height: 30px;"></div>
			
			<div class="table-main">			
				<div class="row">
					<div class="cell-200">
						<div class="table-main">
							<div class="row">
								<div class="cell-200" style="padding-left: 24px;">
						  			<%= image_tag("image_learning_counsel.png", :alt => 'image_learning_counsel.png') %>
						  		</div>
							</div>
							<div class="row">
								<div class="cell-125" style="padding-left: 24px;">
									<p style="font-family: msyh; font-size: 12px;">News and Context for the<br>Shift to Digital Curriculum</p>
						  		</div>
							</div>							
						</div>
					</div>
					<div class="cell-650">
						<div class="table-main">
							<div class="row">
								<div class="cell-100"></div>
								<div class="cell-650">
									<div style="font-size: 40px; color: red;">			    
								    	<h1>The Learning Counsel Admin</h1>
								    </div>
									
									
									<!-- <div id="main_header_adblock_1">									
										<h3>Space Available</h3>
									</div> -->														
								</div>			
							</div>							
						</div>
					</div>
				</div>					
			</div>	
			  		
					
		</header>		

		</div>
		
		<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">

	    
		
		<section>
			
				
				
			<div style="height: 30px;"></div>
			    
				
			<!-- <div class="container-home"> -->
																		
				<div class="kontainer">
														
																								
					<!-- <span id="prev" style="float:left;left:-100px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<div style="width: 50px; height: 150px;">
							<a class="scroll_video_prev" title="Previous" href="#"></a>
						</div>		
					</span>
					
					<span id="next" style="float:right;right:-80px;top:215px;margin-top:0px;position:absolute;display:inline;">
						<div style="width: 50px; height: 150px;">
							<a class="scroll_video_next" title="Next" href="#"></a>
						</div>		
					</span> -->
															

					<script>
						$(document).ready(function() {
							$('#prev').hover(function() {$('#prev img').attr('src','/assets/prev-arrow-hov.png')}, function() {$('#prev img').attr('src','/assets/prev-arrow.png')})
							$('#next').hover(function() {$('#next img').attr('src','/assets/next-arrow-hov.png')}, function() {$('#next img').attr('src','/assets/next-arrow.png')})
						});
					</script>
					
					<span id="prev" style="float:left;left:-70px;top:215px;margin-top:0px;position:absolute;display:inline;"><img src="/assets/prev-arrow.png"></span>
					<span id="next" style="float:right;right:-70px;top:215px;margin-top:0px;position:absolute;display:inline;"><img src="/assets/next-arrow.png"></span>
										

					<div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width:970px;position:relative;height:890px; overflow: hidden;">					
					
					<!-- <div class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; div" style="width:970px;position:relative;height:700px;"> -->					
					
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 101; opacity: 1;" class="slide cycle-slide cycle-slide-active">

							<!-- 1 -->															
							<div class="fluidrow mainfeaturerow">
					
								<div>
							 		<a href="#">
							 			<img src="/assets/img-error-980-450-burgundy.png" width="980" height="450">
							 		</a>
								</div>

								<div class="channel-article header perspective">
									<a href="#"><span>GENRE</span></a>
								</div>
								
							    <div class="headlines">
						        	<div class="h1"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a></div>
						            <div class="h2">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut 
										labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
						            	<span class="byline">&nbsp;by&nbsp;
						            		<a href="#">The Author</a></span>
						            </div>
						        	<div class="space-20"></div>
						        </div>
					        </div>
							<br>
					        
					    	<div class="fluidrow">					    
								<!-- 2 -->																				    
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-green h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
								
								<!-- 3 -->																			    					    
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-orange h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
								
								<!-- 4 -->
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-violet h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="journals/tales_to_go" style="text-decoration: none;">
									    	Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod	
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
						
							</div>
												
						</div>
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 100; display: none;" class="slide cycle-slide">
							<div class="fluidrow mainfeaturerow">
								<!-- 5 -->																				    					
								<div>
						 			<a href="journals/we_need">
						 				<img src="/assets/img-error-980-450-brown.png" width="980" height="450">
						 			</a>
								</div>
						 		
								<div class="channel-article header idea">
									<a href="#"><span>GENRE</span></a>
								</div>
						 		
							    <div class="headlines">
						        	<div class="h1"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a></div>
						            <div class="h2">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut 
										labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
						            	<span class="byline">&nbsp;by&nbsp;
						            		<a href="#">The Author</a></span>
						            </div>
						        	<div class="space-20"></div>
						        </div>
						 		
					        </div>
					        
					    	<div class="fluidrow">
								<!-- 6 -->								    		
								<div class="psubfeature" onclick="">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-pink h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Tales2Go Releases Android Version of its Award-Winning Service
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>					
								<!-- 7 -->		
								<div class="psubfeature" onclick="">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-brown h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>					
								<!-- 8 -->			
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-blue h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
						
							</div>
						</div>
					
					
						<div style="position: absolute; top: 0px; left: 0px; z-index: 99; display: none;" class="slide cycle-slide">
							<div class="fluidrow mainfeaturerow">
								<!-- 9 -->	

								<div>
							 		<a href="#">
						 				<img src="/assets/img-error-980-450-blue.png" width="980" height="450">
							 		</a>
								</div>
						 		
								<div class="channel-article header tactic">
									<a href="#"><span>GENRE</span></a>
								</div>
						 		
							    <div class="headlines">
						        	<div class="h1"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</a></div>
						            <div class="h2">
										Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut 
										labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
						            	<span class="byline">&nbsp;by&nbsp;
						            		<a href="#">The Author</a></span>
						            </div>
						        	<div class="space-20"></div>
						        </div>
						 		
					        </div>
					        
					    	<div class="fluidrow">
								<!-- 10 -->																				    					    
								<div class="psubfeature" onclick="">
									<div class="inner_cell-subfeature">

										<div class="bg-industry-news-pine h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									    									    									
									</div>
								</div>					
								
								<!-- 11 -->			
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-tan h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
																									    					    					    
								<div class="psubfeature">
									<div class="inner_cell-subfeature">
										<div class="bg-industry-news-tan h1">
											<a href="#">GENRE</a>
										</div>
									    <div class="h2">
									    	<a href="#" style="text-decoration: none;">
									    		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod
									    	</a>
									    	<span class="byline">&nbsp;by&nbsp;
									    		<a>The Author</a>
									    	</span>
								    	</div>
									</div>
								</div>								
					
						</div>
					
					
					</div>		
								
				</div>



</section>
</div>					
					
				
					
				
<div style="width: 100%; height: 10px; background-color: #C7CED4; margin-top: 0px; margin-bottom: 0px;"></div>





		
<div style="width: 1200px; margin-right: auto; margin-left: auto; background: #fff;">
				
<section>			
				<div class="kontainer">
					
					<div style="height: 20px;"></div>


<!-- <div style="clear: both; height: 0px; font-size: 1px; line-height: 0px;"></div>
<div style="width: 100%; height: 30px; background-color: gray; margin-top: 4px; margin-bottom: 20px;"></div>
<div style="height: 20px;"></div> -->				






<!-- start template single row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox industry_news_catbox_pine">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>
			</div>
		</a>	
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" width="260" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox tactic_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>	
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox industry_news_catbox_pine">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>
			</div>
		</a>	
	</div>
</div>

<!-- end template single row -->				




<div style="height: 50px"></div>



<!-- start template single row -->
				
<div class="k-governcell ktop">	
		
	<div class="k-outercell kol3 k-empty">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
			</div>
		</a>	
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" width="260" height="260" onerror="this.src='/assets/error-260-260.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox tactic_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>	
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox industry_news_catbox_pine">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>
			</div>
		</a>	
	</div>
</div>

<!-- end template single row -->				
								

				
<!-- start template single row -->		
<div class="k-governcell kbottom">			
						
	<div class="k-outercell-double kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="520" onerror="this.src='/assets/error-300-520.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox design_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>		
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>
						
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox tactic_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>	
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>
								
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox industry_news_catbox_pine">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>
	</div>
	
</div>
		
<!-- end template single row -->				
							
							
							
<div style="height: 100px; position: relative;"></div>


<!-- start template single row -->
				
<div class="k-governcell ktop">	
		
	<div class="k-outercell kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox industry_news_catbox_pine">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>
			</div>
		</a>	
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" width="260" height="260" onerror="this.src='/assets/error-260-260.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox tactic_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>	
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3 k-empty">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
			</div>
		</a>	
	</div>
	
</div>

<!-- end template single row -->				
								

				
<!-- start template single row -->		
<div class="k-governcell kbottom">			
						
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>
								
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" width="300" height="260" onerror="this.src='/assets/error-260-260.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox industry_news_catbox_pine">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>
	</div>
						
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol3">
		
		<div class="k-cell-divider-horiz"></div>
						
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox tactic_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>	
	</div>
	
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell-double kol3">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="520" onerror="this.src='/assets/error-300-520.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox design_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>		
	</div>
	
</div>
		
<!-- end template single row -->				


<div style="height: 50px;"></div>
				






<!-- start template single 2 cell row -->
				
<div class="k-governcell ktop kbottom">	
		
	<div class="k-outercell kol2">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" height="180" onerror="this.src='/assets/error-260-180.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox industry_news_catbox_pine">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>
			</div>
		</a>	
	</div>
		
	<div class="k-cell-divider"></div>
	
	<div class="k-outercell kol2">
		<a href="#" class="k-link-a">
			<div class="k-inner-cell">
				<div class="k-b-container">
					<div class="k-img-cell-single">
						<img src="png" class="k-img" width="260" height="260" onerror="this.src='/assets/error-260-260.png'">
					</div>
					<div class="katcolorbox_posit">
	            		<div class="katbox-article katbox tactic_catbox">
	            			<span>GENRE</span>
	            		</div>
	        		</div>																								
				</div>
				<div class="k-b-headline">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr
					
					<span class="kbyline">by&nbsp<span class="k-b-link">The Author</span></span>											
				</div>														
			</div>
		</a>	
	</div>
	
</div>

<!-- end template single row -->				



<div style="height: 100px; position: relative;"></div>



								
			</div>

								
			
		</section>
		
		</div>		
		
    <script>
                
		//jQuery(document).ready(function() {
			
		// function imgRealSize(img) {
			// var $img = $(img);
			// if ($img.prop('naturalWidth') == undefined) {
				// var $tmpImg = $('<img/>').attr('src', $img.attr('src'));
				// $img.prop('naturalWidth', $tmpImg[0].width);
				// $img.prop('naturalHeight', $tmpImg[0].height);
			// }
			// return { 'width': $img.prop('naturalWidth'), 'height': $img.prop('naturalHeight') }
		// }			
			
		$(window).load( function() {
					
						
			var j;
			var k;
			var l;
			var m;
			var n;
			var p;
			var t;
			var jj;
			var kk;
			var ll;
			var mm;
			var nn;

			var upperCell;			

			$('.k-governcell').each( function() {
				
				j = 0;
				k = 0;
				l = 0;
				m = 0;
				n = 0;
				p = 0;
				s = 0;
				t = 0;
				jj = 0;
				kk = 0;	
				ll = 0;	
				mm = 0;

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						if (!(jj = $(this).find("img").attr("height"))) {
							jj = 0;
						}
						console.log('jj = ' + jj);
						j = j >= jj ? j : jj;
						n = parseInt(j);																		
					}
				});

				n += 6;
				upperCell = $(this).find('.k-b-container');
				upperCell.height(n);
				
				console.log('n = ' + $(this).find('.k-b-container').height());

				$(this).children().each( function() {
					
					if ($(this).hasClass('k-outercell')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						t = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					if ($(this).hasClass('k-outercell-double')) {
						kk = $(this).height();
						if (!(kk = $(this).height())) {
							kk = 0;
						}
						k = k >= kk ? k : kk;
						s = k;
					}
					// console.log('kk = ' + kk);
					// console.log('t = ' + t);
					//console.log('class = ' + $(this).attr('class'));
				});
				
				m = s >= t ? s : t;

				//console.log('m = ' + m);

				m += 2;
				m = m <= 1000 ? m : 1000;
				
				$(this).height(m);
				$(this).children($('.k-cell-divider')).height(m);
			});
		});
		
	</script>
