<p>
    <strong>The Learning Counsel</strong>
</p>
<p>
    <strong>Our Mission: News and Context on the Shift to Digital Curriculum.</strong>
</p>
<p>
    The Learning Counsel helps education professionals in the K12 and Higher Ed sectors gain context on the shift to digital curriculum. The more than $15
    Billion curriculum industry across K12 and Higher Ed is in transition, maneuvering through the intersection of policy, technology leadership, old habits
    and new enthusiasms. The Learning Counsel seeks to bring consulting and online resources for everyone in the fray, from school seekers-of-resources to
    industry partners in need of services. We are building an agnostic sharing and recommendations platform to advise schools on all things related to digital
    content and curriculum. Based in Sacramento, California, The Learning Counsel has staff and an extended family of contributors across the U.S. and in the
    Ukraine.
</p>
<p>
    Join us for big things to come!
</p>
<p>
    <strong>Products &amp; Services:</strong>
</p>
<ul>
    <li>
        <p>
            A forthcoming Social Media hub and Directory Service for data on digital content and curriculum with a <em>special twist. </em>
        </p>
    </li>
    <li>
        <p>
            Consulting on the Education market's transition to all digital content.
        </p>
    </li>
    <li>
        <p>
            Research.
        </p>
    </li>
    <li>
        <p>
            Custom Publishing.
        </p>
    </li>
    <li>
        <p>
            Events.
        </p>
    </li>
</ul>
<p>
    <br/>
    <br/>
</p>
<p>
    <strong>Leilani Cauthen, Executive Director</strong>
</p>
<p>
    Well versed in digital content and curriculum change, the adoption process, successful strategies, and helping schools understand what's available and what
    will work.
</p>
<ul>
    <li>
        <p>
            Leilani is a media, research, marketing and sales professional with 26 years of experience in the high tech, government and education sectors.
        </p>
    </li>
</ul>
    <br/>
    <br/>
<p>
    <strong>David Kafitz, Senior Fellow </strong>
</p>
<p>
    Expert and charismatic change-agent helping schools move forward with a well-reasoned strategy for digital content and curriculum with complementary
    personnel and IT strategy.
</p>
<ul>
    <li>
        <p>
            Former Superintendent, Watauga County Schools, Boone, NC
        </p>
    </li>
    <li>
        <p>
            Former Principal, East Elementary School, &amp; New Town Elementary, Union County Public Schools
        </p>
    </li>
    <li>
        <p>
            Former Director Technology Services, Union County Public Schools
        </p>
    </li>
    <li>
        <p>
            Consultant on IT and Education with a track record of real-life implementations.
        </p>
    </li>
</ul>
