
	<div class="back-to-top">
	  	<div class="inflow">
	    	<div class="positioner"><!-- might not be needed -->
	      		<a href="#" class="backtotop">
	      			<div class="fixed">
	      				<%= image_tag("back-to-top-gray.png", alt: "") %>
	      			</div>
	      		</a>
	    	</div>
	  	</div>
	</div>
  	<!-- <div class="inflow-back-to">
    	<div class="positioner-back-to">
      		<div class="fixed-back-to">
				<#%= link_to '&laquo;'.html_safe + 'Back', :back, :class => "back-to" %#> 
      		</div>
    	</div>
  	</div> -->
  	

    <script>
                
		jQuery(document).ready(function() {
			var offset_top = 220;
			// var offset_hom = 0;			
			var duration = 1000;
			jQuery(window).scroll(function() {
				if (jQuery(this).scrollTop() > offset_top) {
					jQuery('.backtotop').fadeIn(duration);
				} else {
					jQuery('.backtotop').fadeOut(duration);
				}
			});
			jQuery('.backtotop').click(function(event) {
				event.preventDefault();
				jQuery('html, body').animate({scrollTop: 0}, duration);
				return false;
			})
			// jQuery('.back-to').fadeIn(duration);					
			
		});
		
	</script>
