	
	
	<!-- <div id="menu_bar">
		<a href="/home" class="easyui-linkbutton" data-options="plain:true">Home</a>
		<a href="/about" class="easyui-linkbutton" data-options="plain:true">About</a>
		<a href="/blogs" class="easyui-linkbutton" data-options="plain:true">Blogs</a>
		<a href="/industry_news" class="easyui-linkbutton" data-options="plain:true">Industry News</a>
		<a href="/services" class="easyui-linkbutton" data-options="plain:true">Services</a>
		<a href="/directory" class="easyui-linkbutton" data-options="plain:true">Directory</a>
		<a href="/user_surveys" class="easyui-linkbutton" data-options="plain:true">Survey</a>
		<a href="/user_vendors" class="easyui-linkbutton" data-options="plain:true">Resources</a>		
		<a href="/user_contacts" class="easyui-linkbutton" data-options="plain:true">Contact Us</a>		
	</div> -->
	
	<div class="wrapper">
		<a href="/home" >Home</a>
		<a href="/about" >About</a>
		<a href="/blogs" >Blogs</a>
		<a href="/industry_news" >Industry News</a>
		<a href="/services" >Services</a>
		<a href="/directory" >Directory</a>
		<a href="/user_surveys" >Survey</a>
		<a href="/user_publishers" >Resources</a>		
		<a href="/contacts" >Contact Us</a>		
	</div>


		<!-- = link_to 'Resources', user_vendors_path -->

<!-- 
                                    <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="/home" >Home</a>
                                    <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="/about">About</a>
                                    <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="/blogs">Blogs</a>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog&#176;</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog subject 2</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog subject 3</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog subject 4</a>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 4 4</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/blogs">Blog 5 4</a></li>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/news">Industry News</a>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 1&#176;</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 2</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 3</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4</a>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 4 4</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5</a>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 1</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 2</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 3</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="/news">Industry News 5 4</a></li>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/services">Services</a>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/user_contacts">Contact</a>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/access/login">Contact List</a>
                                    <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="/access/login">Admin</a> -->
                                    	