    <div class="fl_left">

	  <div><%= image_tag("image_learning_counsel.png", :alt => '') %></div>
	  
      <!-- <h1><a href="home.html.erb">The Learning Counsel</a></h1> -->      
      <p>Free Search and News on the</p>
      <p>Shift to Digital Learning</p>
      <p>Content &amp; Curriculum&nbsp</p>

    </div>
