
	<style>
	
		#signin-page {
			height: 1300px;
		}
	
		#signin-page #signin-page-inner {
		    width: 100%;
		    margin: 0 auto;
		}	

		div .table-signin {
			display: table;
			background-color: #E3DDCF;
			width: 1000px;
			border-radius: 0px;
			
			/*border:2px solid #254520;*/
						
			/*box-shadow: 1px 1px 3px #888888;*/			
			
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 10px;
			padding-right: 10px;			
		}

		.table-signin p {
			font-family: msyh; 
			font-size: 16px;
			color: #005187;"
		}
		
		
		
		#import.signin-btn {
		  	width: 70px;
		  	height: 20px;			
		}    	   
    	    	
		.signin-btn {
		  	display: inline-block;
		  	text-decoration: none; 
		  	background: linear-gradient(#000, #000);
		  	text-shadow: 1px 1px 1px #0E86B2; 
		  	border-radius: 4px;
		}
	
		.signin-btn:focus {
		  background: #CCC; 
		  color: #5F7A2A;
		  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}
		
		.signin-btn:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(255,255,255,0.3);
		}
		
		.signin-btn:active { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(0,0,0,0.3); 
		}
		
	</style>

    <style>
    	
    	.main {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 20px;
    		color: black;
    		height: 300px;
    	}
    	
    	.links {
    		font-family:Arial, Helvetica, sans-serif;
    		font-size: 13px;
    		color: brown;    		
    	}
    	
    	h1 {
    		font-size: 22px;
    	}
    	h2 {
    		font-size: 18px;
    	}
    	h4 {
    		font-size: 16px;
    		font-weight: 600;
    	}    	
    	h5 {
    		font-size: 12px;
    	}    	    	
    	p {
    		font-size: 12px;
    	}
    	
    	.bar {
    		font-size: 16px;
    		font-weight: 400;
    	}
    	
		.input-upload {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			width: 600px;
			height: 24px;
			border-style:solid;
			background-color: #fff;
			border-color: #000;
			border-width: 1px;
			padding-left: 6px;
			color: #888;
		}
    	
    	.submit-upload {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
    		height: 24px;
    	}
    	
    	#admin-tablets {
    		width: 10000px; 
    	}
    	table#admin-tablets th {
    		padding-left: 0px;
    	}    	    	
    	table#admin-tablets tr {
    		height: 20px;
    	}    	
    	table#admin-tablets td {
    		vertical-align: bottom;    		
    		padding-top: 0px;
    		padding-bottom: 4px;       		    		    		
    	}
		/*table#admin-events tr:nth-child(even) {
			background: #CCC			
		}
		table#admin-events tr:nth-child(odd) {
			background: #FFF
		}    	*/
		
		    	
    	.gray {
			background: #CCC			    		
    	}
    	.white {
			background: #fff    		
    	}
    	.hover-col {
    		background-color: rgba(0, 0, 0, 0.1);
    	}
    	
		.hover-row {
			background-color: #FAC0C1;
		}
		/*.hover-col {
			background-color: #FCD7D7 !important;
		}*/
		.row-select {
			color: #fff;			
			background-color: brown;
		}
		.btn-color-select {
			color: #fff;	
		}
		.btn-color {
		  	color: #A31C1C;			
		}
		    	
		.delete-btn {
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 50px;
		  	height: 20px;
		  	background: inherit;
		  	border-width: 0px;
			color: #486996; /*#9DD5ED*/		  	
		}
		.delete-btn:focus {
		}
		.delete-btn:hover { 
		  	text-decoration: underline; 
		}
		.delete-btn:active { 
		  	text-decoration: underline; 
		}

		.header-shift {
			padding-left: 0px;
		}    	    	

		.reset-db-btn {
		  	width: 200px;
		  	height: 20px;
		}
    	    	
    	    	
    	    	
		#loading {
			background:url("/assets/icon_loading.gif") no-repeat center center;
			height: 100px; width: 100px;
			position: fixed; left: 47%; top: 50%; z-index: 1000;
			margin: -25px 0 0 -25px;
			visibility: hidden;
		}				
    	    	
    	    	
    </style>

	<style>
		
		.scrollbox-both {
	 		height:320px;
	 		width:1200px;
	 		overflow:scroll;
	 		border:1px solid #651375;		
		}
					
	</style>




	<div id="signin-page">

		<div style="height: 30px;"></div>

		 <!-- tabs  -->
		 
		 		
		<header>
	
	    	<div id="pos" style="display: none;"></div>

			<%= render 'share/backtotop' %>

			<div style="height: 70px;"></div>
			
		</header>
		
		<div id="signin-page-inner">
			<span>_index tablets</span>
			<div style="height: 600px;"></div>
			
		</div>
		
		
	</div>				
	


	 <script>
	// $(function() {
		// // $( "#tabs" ).tabs();
	// 
		// $('#tabs-1').on('click', function() {
	// 		
			// alert('tabs-1');
		   // // // Get the URL for the action thats going to be executed when clicked this tab
		   // $.get('#{results_content_tablets_path(@test)}');
		  // // }
		// });
	// 
	// 
	// });
	</script>
	
	

	<script>


		jQuery(document).ready(function() {

		  // alert('ready');

		  jQuery(".exec_sql").submit(function() {
		    // alert('Handler for .submit() called.');
		  })
		  .bind("ajax:complete", function() {
		    alert('complete!');
		  })
		  .bind("ajax:beforeSend", function () {
		    alert('loading!');
		  })
		  .bind("ajax:error", function (xhr, status, error) {
		    alert('failure!');
		  })
		  .bind('ajax:success', function(event, data, status, xhr) {
		    alert('success!');
		  });
		  		
		  // jQuery(".remote_button").click(function() {
		    // alert('Handler for .click() called.');
		  // })
		  // .bind("ajax:complete", function() {
		    // alert('complete!');
		  // })
		  // .bind("ajax:beforeSend", function () {
		    // alert('loading!');
		  // })
		  // .bind("ajax:error", function (xhr, status, error) {
		    // alert('failure!');
		  // })
		  // .bind('ajax:success', function(event, data, status, xhr) {
		    // alert('success!');
		  // });

		  
		  // jQuery(".remote_form").submit(function() {
		    // alert('Handler for .submit() called.');
		  // })
		  // .bind("ajax:complete", function() {
		    // alert('complete!');
		  // })
		  // .bind("ajax:beforeSend", function () {
		    // alert('loading!');
		  // })
		  // .bind("ajax:error", function (xhr, status, error) {
		    // alert('failure!');
		  // })
		  // .bind('ajax:success', function(event, data, status, xhr) {
		    // alert('success!');
		  // });
		  
		  
		});



		$(document).on('click','#tablets th a, #tablets .pagination a',function(){
		    $.getScript(this.href);
		    return false;
		});

		// jQuery(document).ready(function($) {
		  // $.ajaxSetup({  
		     // 'beforeSend': function (xhr){
		     // xhr.setRequestHeader("Accept", "text/javascript")}  
		  // });
// 		
// 		
		  // $('#exec_sql').bind('ajax:success', function(evt, data, status, xhr){
		  	// alert('bind');
		    // eval(xhr.responseText);
		  // });		
// 		
		  // // $("#exec_sql").submit(function (){
		     // // $('input[type=submit]').attr('disabled', 'disabled');
		     // // alert($(this).attr('action'));
		     // // $.get($(this).attr('action'), $(this).serialize(), null, "script");  
		     // // return false;
		  // // });
		// }); //document.ready

		// $(function() {
		// jQuery(document).ready(function($) {
			// alert('setup');
			// jQuery.ajaxSetup({
			    // 'beforeSend': function(xhr) {
			        // xhr.setRequestHeader("Accept", "text/javascript")
			    // }
			// });
		// });

		function executeSQL() {
			alert('executeSQL');


			// jQuery.ajax({
			  // url: '/tablets/exec_sql.html',
			  // type: 'HTML',
			  // dataType: null,
			  // success: function(data){
			    // // json = jQuery.parseJSON(data.responseText);
			    // // console.log(json);
			  // }
			// });

		    $.post("/tablets/exec_sql", null, null, "html");
			
			return false;
		}

		// $("#exec_sql").submit(function() {	
			// alert($("#exec_sql").attr("action"));
		    // $.post("tablets/exec_sql", $("#exec_sql").serialize(), null, "script");
		    // return false;
		// });

		$("#tablets_search").submit(function() {	
			// alert($("#tablets_search").attr("action"));
		    // $.get($("#tablets_search").attr("action"), $("#tablets_search").serialize(), null, "script");
		    $.get($("#tablets_search").attr("action"), null, null, "script");

		    return false;
		});








		// function exec_sq() {
			// alert('exec_sql function');
		    // $.get("/tablets/exec_sql", null, null, "script");
		// }

		// $("#tablets_search").submit(function() {	
			// alert($("#tablets_search").attr("action"));
		    // // $.get($("#tablets_search").attr("action"), $("#tablets_search").serialize(), null, "script");
		    // return false;
		// });

		// $("#exec_sql").submit(function() {	
			// alert('exec_sql');
		    // //$.get($("/tablets/exec_sql", null, null, "script");
// 
		    // // $.get(null, null, null, "script");
// 
// 
		    // return false;
		// });


		
		// function load_import() {
// 
			// $.event.trigger({
				// type: "loading_import"
			// });				
// 			
			// return false;
		// }
// 		
		// $(document).on("loading_import", loading_importHandler);
// 		
		// function loading_importHandler(e) {
				// // alert('event loading_import');
// 				
				// $('#loading').css({
					// visibility: 'visible'
				// })
// 				
			    // $('#loading').fadeOut(1000);
// 				
// 				
		// }


		//$("#archives_search input").keyup(function() {
		// $("#tablets_search").submit(function() {	
			// alert('tablets_search');
		    // $.get($("#tablets_search").attr("action"), $("#tablets_search").serialize(), null, "script");
		    // return false;
		// });

		// $("#export_csv").on('click', function() {	
// 			
			// alert($("#export_csv").attr("action"));
// 			
		    // $.get($("tablets/export", null, null, "script");
		    // return false;
		// });
	
	</script>
					
