<% provide(:title, 'Downloads') %>

							
		
		<link href="/assets/screen_headlines.css" media="screen, projection" rel="stylesheet" type="text/css">
		
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>


		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div style="background-color: white;">
				
				<div style="height: 30px;"></div>
				
				<div id="container" class="inner">
			
					<div id="maincolumn" class="withsidebar">
						<div id="articlecontent">
								
							<bodycopy id="bodycopy">
								
			 					<%= render 'share_files' %>
			 						
							</bodycopy>
	
						</div>
	
						<br clear="all">
						
					</div>
	
					<div id="sidebar">
						<div id="sidebar_inner">

						</div>
					</div>
				</div>

					<br clear="all">
						
					<div style="height: 30px;"></div>
					
			</div> <!--white -->
			
		</section>
