<p>
    <u>
        <strong>
            <a href="http://www.articulate.com/rapid-elearning/e-learning-instructional-design-101/">E-Learning &amp; Instructional Design 101</a>
        </strong>
    </u>
</p>
<p>
    by Tom Kuhlmann
</p>
<p>
    <a href="http://dianeravitch.net/2013/11/06/a-true-story-told-as-a-fairy-tale/"><u><strong>A True Story Told as a Fairy Tale</strong></u></a>
</p>
<p>
    by <a href="http://dianeravitch.net/author/dianerav/"><u>dianerav</u></a>
</p>
<h2>
    <a href="http://dianeravitch.net/2013/11/06/why-are-swedish-schools-falling-behind/"><u>Why Are Swedish Schools Falling Behind?</u></a>
</h2>
<p>
    by <a href="http://dianeravitch.net/author/dianerav/"><u>dianerav</u></a>
</p>
<p>
    <u><strong><a href="http://deutsch29.wordpress.com/2013/07/29/the-time-that-alec-got-it-right/">The Time that ALEC got it Right</a> </strong></u>
</p>
<p>
    by deutsch29
</p>
<p>
    <a
        href="http://www.nytimes.com/2013/11/03/education/edlife/degrees-based-on-what-you-can-do-not-how-long-you-went.html?pagewanted=1&amp;_r=3&amp;ref=edlife&amp;goback=.gde_1886639_member_5803177788814929922&amp;"
    >
        <u><strong>Are you Competent? Prove it.</strong></u>
    </a>
    Degrees Based on What You Can Do, Not How Long You Went
</p>
<p>
    by Anya Kamentenz, The New York Times
</p>
