<p>
    <em>Florida based charter management organization chooses observe4succes, cites ease of use and customization </em>
</p>
<p>
    <strong>September 11, 2013</strong>
    <u><a href="http://www.charterschoolassociates.com/pages/csa">Charter School Associates</a></u>
(CSA), a Florida based charter management organization with 20+ high performing charter schools throughout the state recently named<u><a href="http://www.observe4success.com/">observe4success</a></u> as its partner in    <u><a href="http://www.observe4success.com/">classroom observation</a></u>. Leading with their mission of “increasing student achievement in a safe and
    nurturing environment”, CSA and its schools look to make observe4success an integral part of their teacher effectiveness strategy and overall vision for
    success.
</p>
<p>
    CSA President, Mike Strader, comments, “We believe that a focus on understanding existing strengths and weaknesses within our classrooms is extremely
    important to fostering positive growth at our campuses. We are excited to partner with observe4success and look to their platform to provide valuable
    feedback and facilitate actionable items to improve the learning process.” He continues, “observe4success’ flexibility and customization options made
    observe4success the obvious choice for <u><a href="http://www.charterschoolassociates.com/pages/csa">CSA</a></u>, as it empowers both teachers and
    administrators to build on what is working and shine a light on where we need to provide additional support to our educators.”
</p>
<p>
    The <u><a href="http://www.observe4success.com/">award winning classroom observation</a></u> platform from observe4success combines the benefits of
    technology, research-based content, fully customizable observation forms, peer observations and reporting, graphic reports, and a cloud based platform
    accessible from any internet enabled device.
</p>
<p>
    Abby Sterensis, Vice President at observe4success states, “When building our platform, we were highly focused on building a solution that is flexible
    enough to work in any school environment and are thrilled that Charter School Associates has chosen observe4success for each of its high performing charter
    schools. The CSA team puts a high emphasis on supporting their schools, educators, and students, and we are honored to be able to play a role in their
    ongoing success and growth.”
</p>
<p>
    Strader adds, “It was paramount for us at CSA to find a partner that could support our school culture, promote professional growth as well as meet both
    district and state requirements for FL charter schools. observe4success does that and more.”
</p>
<p>
    Developed by educators for educators, from its onset, observe4success set out to capture and systemically report the essence of classroom culture and
    instructional practice so that administrators and peer observers could easily grasp classroom characteristics. By collecting storing, sorting, and
    analyzing observation data over time, administrators and teachers work together to identify strengths to be highlighted and weaknesses to be supported.
    Current research encourages continuous improvement to support instructional practices while implementing exemplary teaching practices; observe4success
    offers the tools to make these efforts seamless.
</p>
<p>
For more about Charter School Associates, please visit:    <u><a href="http://www.charterschoolassociates.com/pages/CSA">http://www.charterschoolassociates.com/pages/CSA</a></u>
</p>
<p>
To learn more about observe4success or to schedule a demonstration please visit:    <u><a href="http://www.observe4success.com/">http://www.observe4success.com</a></u>
</p>
<p>
    ***
</p>
