
<style>
	
	ol {
		list-style-type: decimal !important;
	}
	ol li {
		list-style: decimal !important;		
	}
	
</style>
<p>
    How do you know you have quality digital learning content? This question could be made incredibly complex, but luckily people in-the-know have given ten
    simple guidelines. <a href="http://www.aepweb.org/">The Association of Educational Publishers</a> has stepped up to offer some professional standards of
    quality and consistency – a baseline for all instructional resources.
</p>
<p>
    They call it the “Checklist for Quality Instructional Materials” and those quality benchmarks include:
</p>
<ol>
    <li>
        <p>
            Clearly articulated learning goals and objectives
        </p>
    </li>
    <li>
        <p>
            Appropriate grade and reading levels
        </p>
    </li>
    <li>
        <p>
            Clearly stated reputable sources
        </p>
    </li>
    <li>
        <p>
            Engaging, relevant, and up-to-date content
        </p>
    </li>
    <li>
        <p>
            Highly vetted content that is accurate, objective, and reliable
        </p>
    </li>
    <li>
        <p>
            Differentiated learning opportunities
        </p>
    </li>
    <li>
        <p>
            Standards- and evidence-based lessons/learning aligned with high-quality assessments
        </p>
    </li>
    <li>
        <p>
            Well-designed and attractive materials for students, teachers, and other education professionals
        </p>
    </li>
    <li>
        <p>
            Adaptable materials for individual learning styles and needs
        </p>
    </li>
    <li>
        <p>
            Comprehensive teacher guide or instructional support materials
        </p>
    </li>
</ol>
<p>
    See the entire paper here:
    <a href="http://www.aepweb.org/aepweb/images/Documents/Publications/Position_Papers/aepqualityposition.pdf">
        <em>Quality, Differentiation &amp; Accessibility of Educational Resources </em>
    </a>
</p>
<p>
    ***
</p>
