<p>
    The Learning Counsel (The LC) conducts virtual coffee chats with school leaders to discuss what’s happening with their use of digital curriculum.
</p>
<p>
    A well-known industry leader, Cleon Franklin of Memphis, kindly answered some of The LC’s questions. Cleon is the Executive Principal, Office of
    Innovation, Shelby County Schools, Technology Training Center.
    <br/>
</p>
<p>
    <%= image_tag("/assets/article-coffee-chat-with-memphis-1.png", :alt => 'article-coffee-chat-with-memphis-1.png' ) %>    
</p>
<p>
    <strong>The Learning Counsel: </strong>
</p>
<p>
    <em>How do you take your coffee and how many cups a day? </em>
</p>
<p>
    <strong>Cleon:</strong>
</p>
<p>
    Black coffee. No sugar, no cream. The stronger the better!
</p>
<p>
    <a name="_GoBack"></a>
</p>
<p>
    <strong>The Learning Counsel: </strong>
</p>
<p>
    <em>Describe what your school is doing to shift to digital with what technologies.</em>
</p>
<p>
    <strong>Cleon:</strong>
</p>
<p>
    We are currently exploring opportunities to shift the entire 150,000 student population to a fully digital curriculum. The work we are doing right now is
    evaluating successes and challenges in other school districts, comparing hardware and curricular resources, and mobilizing our teachers to deliver
    instruction in an unfamiliar fashion.
</p>
<p>
    <strong>The Learning Counsel: </strong>
    That’s a lot of students and a whole lot of work.
</p>
<p>
    Next question -- please characterize or list digital curriculum your schools are using.
</p>
<p>
    <strong>Cleon:</strong>
</p>
<p>
    We currently use <a href="http://www.articulate.com/products/studio.php">Articulate Studio</a>, a rapid deployment e-learning software, to create courses
and learning objects. We purchase courses for our virtual school from<a href="http://www.flvsglobal.net/?gclid=CLC2gejN1roCFS9eQgod1UQAsw">Florida Virtual School</a>, <a href="http://www.k12.com/">K12, Inc</a>.,    <a href="http://aventalearning.com/">Aventa Learning</a>, <a href="http://thevhscollaborative.org/">The Virtual High School</a>.
</p>
<p>
    <strong>The Learning Counsel: </strong>
    We’re familiar with Articulate and the others, good for you.
</p>
<p>
    Next question, is there a definite favorite piece of digital curriculum?
</p>
<p>
    <strong>Cleon:</strong>
</p>
<p>
    I prefer teacher created resources. It garners buy-in and then courses are specifically tailored to, and can be edited to fit, the student population that
    the teacher is currently teaching.
</p>
<p>
    <strong>The Learning Counsel: </strong>
    Good to know. Next question: Please tell us some anecdote about what’s been happening with the shift to digital curriculum for your institution. Funny
    story, issues, problems, break-throughs?
</p>
<p>
    <strong>Cleon:</strong>
</p>
<p>
    Our Chief Innovation Officer, Bradley Leon, is extremely vested in the digital conversion model.
</p>
<p>
    We have composed a team that includes, the Superintendent, the Chief Safety and Security Officer, the Chief of Staff, local and national philanthropists,
    the Virtual Learning team, the Curriculum and Instruction team, the Talent Management team, the Information Technology Team, and the Academic team in our
    transition. All of us together are going to visit a school district that has realized the shift to digital curriculum. While this level of buy-in is
    necessary, it is extremely rare. I think it highlights our dedication to making this happen for the students of Shelby County as soon as possible!
</p>
<p>
    ***
</p>
