<p>
    The Learning Counsel (The LC) conducts virtual coffee chats with school leaders to discuss what’s happening with their use of digital curriculum.
</p>
<p>
    Two of Houston Independent School District’s leaders kindly answered some of The LC’s questions. Chatting with us were L. Beatriz Arnillas, MFA, SPHR, Sr.
    IT Manager and Angela Miller, Manager, Secondary Social Studies Curriculum, Hattie Mae White Educational Support Center, Curriculum Department.
</p>
<p>
    <strong>The Learning Counsel: </strong>
</p>
<p>
    <em>How do you take your coffee and how many cups a day? </em>
</p>
<p>
    <strong>Beatriz:</strong>
</p>
<p>
    I drink only one cup, double, short, soy latte early in the morning!
</p>
<p>
    <strong>Angela: </strong>
</p>
<p>
    I start the day with a large black coffee [sometimes a little flavored cream (just to be on the "adventurous" side) and usually sip on it much of the day.
</p>
<p>
    <strong>The Learning Counsel: </strong>
</p>
<p>
    <em>Describe what your school is doing to shift to digital with what technologies.</em>
</p>
<p>
    <strong>Beatriz and Angela:</strong>
</p>
<p>
    We began the PowerUp initiative early in 2013 at the request of the Superintendent, <a href="http://www.houstonisd.org/domain/7899">Terry Grier</a>.
</p>
<p>
Our first decision was to develop our    <a href="http://www.houstonisd.org/cms/lib2/TX01001591/Centricity/Domain/21808/1to1framework.pdf">Pedagogical Framework</a>, knowing that any other
    decisions about technology or methods would need to align to a philosophical perspective. Our model is based on these fundamental premises:
</p>
<ol>
    <li>
        <p>
            It is our job to bring the world to the children of Houston. It is not enough to impart knowledge, or to teach them how to find information. We
            must guide them to learn the skills and adopt the attitudes that they will need in order to thrive.
        </p>
    </li>
    <li>
        <p>
            The learning and teaching process has to be done the way each child learns best. The process has to be personalized.
        </p>
    </li>
    <li>
        <p>
            We want to implement technology wherever technology will make the teaching and learning student-centered: Learning has to be relevant, connected
            and personal.
        </p>
    </li>
    <li>
        <p>
            The educational environment should be flexible, creative, collaborative, active and exciting. We are here transform urban education. Our model has
            to be transformational, sustainable and scalable.
        </p>
    </li>
</ol>
<p>
    We have formed working groups involving central office support (IT, Curriculum, Professional Development, school support,) principals, and teachers that
    are working and exploring solutions together. Curriculum and Instructional Technology staff collaborated to review and select digital content and tools
    that will enhance student learning and teacher instruction. The technical side of the IT department concentrated on choosing workable network and hardware
    solutions.
</p>
<p>
    We have started our tablet pilot program with eleven high schools, representing about 1,000 teachers and 16,000 students. We offered in-house and external
    contractor-specialist workshops for teachers and administrators during the summer. Teachers at the pilot schools received their laptops at the beginning of
    the school-year. The district and schools hired central office Instructional Technology specialists and campus-based IT staff to begin the change process
    with teachers and to gear up for a student roll out projected for the first part of January. The long-range plan is to add 18 high schools during 2014-15
    and the remaining 17 high schools in 2015 - 16. In total that will represent over 44,000 high school students using devices as a tool to personalize
    instruction.
</p>
<p>
    The Curriculum and Instructional Technology Specialists started a collaborative project this Fall to make the transition easier. A few things came out of
    that:
</p>
<ul>
    <li>
        <p>
            Development of planning guides to support effective integration of technology in the instructional space.
        </p>
    </li>
    <li>
        <p>
            Conducting Saturday teacher workshops, parent nights and student digital citizenship lessons. Over time, more parent support events will be
            offered.
        </p>
    </li>
    <li>
        <p>
            In the Spring of 2014, we will focus on student productivity apps, to ensure that the model focuses on active learning.
        </p>
    </li>
    <li>
        <p>
            Our model would focus on early adopters knowing that other teachers, more reluctant to embrace change, will join in the effort after they see their
            colleagues succeed.
        </p>
    </li>
</ul>
<p>
    We were warned that teachers and principals could reject the change, but our experienced has not been like that at all. Teachers and principals are
    committed and interested. The feedback from teachers who have attended workshops and reviewed curriculum documents has been very positive.
</p>
<p>
    We are not relying solely on our internal resources to facilitate professional development. The Professional Support and Development department has also
    hired specialists from the Mooresville Graded School District and Discovery Education. At the same time, we have an open RFP to purchase a Digital Teaching
    Platform to provide infrastructure for fully interactive and flexible curriculum management, storage of learning meta-tagged learning objects, and a
    learning management system. Combined, these tools and others previously adopted, such as EdPlan and Think Through Math, will enable personalized learning
    plans, flexible learning environments and formative assessment tools, as well as increase access for students, parents, and teachers to curricular
    resources, student data, and online professional development opportunities.
</p>
<p>
    In addition to all this, our Academic and Instructional Technology departments applied for a Gates Foundation Next Generation Learning grant. We were
    accepted for Phase 1. This grant is providing us with valuable consultant expertise to develop a front end analysis of current expertise, and to identify
    gaps. Even as we complete the front end analysis, we are in the early stages of developing a strategic plan to ensure a successful personalized learning
    school model. The next step will be to develop the scalability and sustainability plan.
</p>
<p>
    <strong>The Learning Counsel: </strong>
    It’s very impressive that the reception you are having is so good from teachers and principals!
</p>
<p>
    Next question -- please characterize or list digital curriculum your schools are using.
</p>
<p>
    <strong>Beatriz and Angela:</strong>
</p>
<p>
    Houston ISD has a fully developed internal curriculum with vertical articulation, pacing calendars, scope and sequence documents, Unit Planning Guides, and
    some exemplar lessons.
</p>
<p>
    We are currently enhancing that curriculum with digital textbook resources when available, purchased digital content such as ABC-Clio, NBC-Learn, Discovery
Education, Gizmos, EBSCO, BrainPop, Turnitin, and other programs. For more information, visit:    <a href="http://www.houstonisd.org/instructionaltech">http://www.houstonisd.org/instructionaltech</a>.
</p>
<p>
    Our teachers are becoming comfortable with a number of interactive digital tools much faster than expected. We are also contemplating the possibility of
    having teachers from our Career Pathways Program develop content, which we would have digitized by experts.
</p>
<p>
    We are also using free digital content tools like SAS Curriculum Pathways, Khan Academy and YouTube. We are slowly providing access to social media
    platforms like Facebook and YouTube (only for teachers, for now) and Twitter.
</p>
<p>
    We officially introduced the use of EdModo as a platform for posting homework drop boxes and internal class communication, and also to communicate, plan
    and share ideas within teaching communities, and to reach out to parents. As we move forward in the various content adoption cycles we will move toward
    fully digital curriculum, content and tools.
</p>
<p>
    We have modified our instructional materials purchasing process to involve teachers, students, administrators, and central office personnel in annual
    review committees to recommend possible digital resources that are a fit for our district and our students.
</p>
<p>
    <strong>The Learning Counsel: </strong>
    That extra touch of modifying your purchasing process is excellent, and critical for a moving to digital curriculum, well done Houston!
</p>
<p>
    Next question, is there a definite favorite piece of digital curriculum?
</p>
<p>
    <strong>Beatriz and Angela:</strong>
</p>
<p>
    So far we have not decided on a single curricular source. We have adopted digital content that provides relevant information were the paper and ink books
    fall short, and have incorporated additional tools that promote active learning, so teachers can flip their classroom, or design project-based lessons.
</p>
<p>
    We realize that our path to a fully student-centered personalized learning environment will evolve in a continuum path, from technology-enhanced lessons
    that enrich the learning experience to student-centered and student-driven instruction. Remember that only students in eleven of our high schools will have
    a personal device this academic year. The high schools and students that are not yet a part of PowerUp still need books. Our progression from paper and ink
    materials to fully digital content will likely take the three years that it will take us to implement PowerUp in every Houston ISD high school. We have to
    progressively re-purpose district resources. That is the key to scalability and sustainability.
</p>
<p>
    <strong>The Learning Counsel: </strong>
    That sounds sensible.
</p>
<p>
    Please tell us some anecdote about what’s been happening with the shift to digital curriculum for your institution. Funny story, issues, problems,
    break-throughs?
</p>
<p>
    <strong>Beatriz and Angela:</strong>
</p>
<p>
    There are many stories about excellent and innovative adoption.
</p>
<p>
    We have distributed devices to students in three small schools. When the first student received her device in our Energy Institute High School, the rest of
    the students in the classroom broke-up in an impromptu applause. Those of us watching the process were deeply moved.
</p>
<p>
    Students and teachers in Lee High School have been practicing how it will be when all the students receive their devices in January, by taking turns with
    laptop carts. One student at Lee produced a documentary video, including classroom activities, student products and teacher and student interviews.
</p>
<p>
    In Chavez High School, Ms. Christina Saldivar and Mr. Gallardo developed ‘flipped’ lessons and other creative, student-centered ELL and ELA lessons
    immediately after attending a Saturday workshop for teachers. These examples are not the exception, they are a few examples of a new way of delivering
    learning that is becoming the norm.
</p>
<p>
    Our principals have displayed exemplary leadership commitment, coming up with plans and benchmarks to encourage their teachers to join in the
    transformation. At Sharpstown High, Mr. Hughes, the campus-based instructional technologist, designed and implemented a game about change management called
    “Cultural Commitments” in collaboration with an instructional technologist and a teacher development specialist from central office.
</p>
<p>
    So far, we have had four Parent Night events. We will do several such events in each campus before the end of the year. In each, we experienced record
    parent involvement that exceeded all expectations, even expectations set by administrators from other districts who warned us to expect record attendance.
    In small schools we have had up to 80 or 90% parent participation on the first night, and expect 100% in make-up events. In very large schools, where
    typically parent-teacher nights were attended only at 10 - 20%, we have experienced a 40% parent attendance on the first night, and expect to reach 80-90%
    participation in our make-up events.
</p>
<p>
    Each Saturday we offer a 3-hr. digital lesson workshop for teachers, which ends in teachers designing one lesson using the newly acquired skills. Each
    Saturday we have had between 30 – 60 teachers in attendance. As teachers learn new skills, we hear the watch as the “buzz” grows in the room.
</p>
<p>
    Districts that have implemented personalized learning environments describe this buzz. It is unmistakable. It is the buzz of excitement, engagement, the
    joy of learning autonomously and actively.
</p>
<p>
    Sarah Campbell, 7<sup>th</sup> Grade writing teacher at the Young Women’s College Preparatory Academy says: “That very Saturday, I started using a program
    called turnitin.com with my students to submit final drafts of their personal narrative essays. The on-line platform removes the red pen shame that
    students often associate with teacher feedback. Now students can isolate an area of concern, improve it, and get immediate responses for their revisions.
    Of all the steps of the writing process, nothing can cripple a young author more than the experience of re-writing. With turnitin.com, teachers finally can
    provide a risk-free environment for creating, modifying, evaluating, and upgrading expressions of student ingenuity. It’s been a wonderful experience for
    me and my students.” (
    <a href="http://blogs.houstonisd.org/news/2013/10/18/enews-highlight-powerup-already-empowering-hisd-teachers/">
        http://blogs.houstonisd.org/news/2013/10/18/enews-highlight-powerup-already-empowering-hisd-teachers/
    </a>
    )
</p>
<p>
    <strong>The Learning Counsel: </strong>
    What great results!
</p>
<p>
    Is there anything else you would mention?
</p>
<p>
    <strong>Beatriz and Angela:</strong>
</p>
<p>
    Our teachers are so interested in innovating. When we taught them how to use Edmodo, during the Rigor Institute this summer, Edmodo reported record teacher
    registrations and activities. Edmodo has since awarded Houston ISD $5,000 in Apps.
</p>
<p>
    Here are two graphics that show the dramatic increase in adoption of Edmodo as a tool. The first image was taken from Edmodo’s analytics in May of the
    present year, the second in September, after the Houston ISD Rigor Institute teacher training on Edmodo:
</p>
<p>
    <%= image_tag("/assets/article-coffee-chat-1.png", :alt => 'article-coffee-chat-1.png', :width => '619' ) %>
</p>
<p>
    <%= image_tag("/assets/article-coffee-chat-2.png", :alt => 'article-coffee-chat-2.png', :width => '619' ) %>
</p>

<p>
    <a name="_GoBack"></a>
    <br/>
    <br/>
</p>
<p>
    <strong>The Learning Counsel: </strong>
    This is great to see.<strong> Go Houston! </strong>Thank you very much Beatriz and Angela!
</p>
<p>
    ***
</p>
