<p>
    Let’s add some perspective to, say, Education as an industry compared with All Other Industry.
</p>
<p>
    Here is Education in one corner with a ratio of 49% administration to 51% actual instructional staff in the United States. It’s already under heavy fire
    politically to be more accountable, and is reeling under the twin black eyes of deadlines for Standards use and Testing and Assessments.
</p>
<p>
    Here is manufacturing, banking, and pretty much all other industry in the other corner – with vastly more efficient deliver modules having been transformed
    by technology. All Other is looking pretty smug.
</p>
<p>
    When you compare where the Education market is, still not really adapted in its organizational form to be something new and far more efficient, to other
    markets such as agriculture, banking, manufacturing or general business that have had dramatic change brought about because of technology, you have the
    sense of what is to come in Education. You have the sense of inevitability.
</p>
<p>
    With such large deployments of computing devices in the works, Education is indeed taking its first step in 2013. All else has been dress rehearsal for the
    scope we will be seeing, mere tiny islands of classes compared to the seeming whole continent of many Districts with hundreds of schools each, thousands of
    classes.
</p>
<p>
    There is a life-cycle to an industry in transformation and Education is at the beginning. As one corollary, the banking industry transformed to be
    fantastically more available and personal through the use of technology. ATM machines and cell phones mean we can bank 24/7 and achieve pretty much
    everything we need to without physically going anywhere. Yet at the start, there were still a lot of tellers and administrators while the machines sat
    outside barely used. For a while there were even those vacuum tube things where you didn’t have to get out of your car, but those were still manned by
    staff. Time has indeed stripped a huge percentage of the staff and even the number of institutions down to a fraction of what they were before technology.
    Yet it started with tech as an augmentation.
</p>
<p>
    Education is a market that is still very heavy with line-staff (teachers) and administration, the two things most markedly reduced with technology
    historically in other industries. I am so sorry if I offend with this observation. Obviously teachers are an imperative and kids can’t be left entirely
    alone to learn. Japan and Korea, however, have already piloted “robot-teachers” to mixed reviews. These are just facts.
</p>
<p>
    After this large wave of new devices breaks on the beach of the Education industry, what happens next may be what we can learn from what happened next in
    other industries.
</p>
<p>
    ***
</p>
