<p>
    <strong>Educating for the Design Economy </strong>
</p>
<p>
    Last year I spoke to a crowd of about 1400 instructional technologists from the greater Shelby County area schools during a tech conference in Memphis. The
    topic was: “Educating for the Design Economy.” This is a recap of some of those ideas.
</p>
<p>
    <strong>What is the Design Economy?</strong>
</p>
<p>
    We are already through the Information Age and in the uncomfortable beginnings of what has been called the Age of Design. It’s the same sort of turmoil of
    previous transition ages. There are many smart thinkers in Universities and Colleges around the world discussing this.
</p>
<p>
    Education, still largely stuck in a 19<sup>th</sup> Century structural delivery model, has the opportunity right now to change to fit not only the
    Information Age but leapfrog the last 50 years, and cater to the Age of Design. Why? So that kids graduate with the skills needed to fit in to the new
    Design Economy.
</p>
<p>
    <strong>In the Age of Design we have a Design Economy. </strong>
</p>
<p>
    The Age of Design encompasses the earlier ages and organizes them. It has begun creating its own, superseding, economy. It is above and around the things
    and technology we make, working to make anything better, simpler, and more humanly-appealing. It is the intelligence of how a thing is, the aesthetic.
</p>
<p>
    <strong>The Age of Design is most simplistically understood as a greater utility to things</strong>
    . Any process can have functional or financial improvement. Someone smart thought up the take-a-picture-of-a-check-with-your-cell-phone to deposit it in
    the bank idea, for example, saving you the time of driving there to deposit it.
</p>
<p>
    The new form and function of the iPad, which has beat up on a lot of computer companies seemingly overnight is another example. Its aesthetic is
    universally appealing. Yet the iPad is not only a thing that brought new form to play and work via computing, it is also a social thing, giving lifestyle
improvement. The “design” of something is beyond science and into the appeal, bringing more of the arts and humanities into everything.    <strong>The Lesson: the Design Economy rewards creativity.</strong>
</p>
<p>
    You can also see that our communication lines have been re-designed some time back. Our major forums used to be just one-way broadcasts of television and
    radio. In the design economy two-way communication channels with thousands of social media sites and digital feedback offer the average person and all of
    enterprise constant interaction. <strong>The Lesson: the Design Economy rewards socializing. </strong>
</p>
<p>
    In order to create new things with appeal, companies build small groups made up of the idea generator, the facilitator, the designer, the developer, the
    builder, the sourcing manager, etc. This is true of the car manufacturing business, hardware and software, fashion and more. It’s also true that further
    and further specialization in fields like medicine, aerospace, and others is happening. In short, a new form is superceding old pyramid-style bureaucracies
– the cellular form. Sometimes a single cell, a “free agent” specialist of some sort is operating in this new economy, without a group.    <strong>The Lesson: the Design Economy is a new form – cellular. </strong>
</p>
<p>
    Millions of people were employed throughout the ‘70s, ‘80s, and ‘90s for information processing work. A lot of data entry, document scanning and paper
    printing went on. In the late ‘90s to date more jobs and more attention has turned to active knowledge building rather than just information processing. A
hot trends is “Big Data,” or synthesizing the meaning behind what has been gathered digitally.    <strong>The Lesson: the Design Economy rewards knowledge as opposed to just information. </strong>
</p>
<p>
    The Age of Design also <strong>distinguishes amongst things and is exact</strong>. With the ability to precisely locate an object of interest even though
    far away via the internet, consumer behavior has changed. The internet de-generalizes consumption. You can find the love of your life via Match.com when
    you may have never met otherwise. You can buy a custom pair of boots built by Paul Bond to fit your feet exactly. This is helping revive artisans as a part
of the economy and micro-manufacturing. This characteristic is the key to the growth of this next economy.    <strong>The Lesson: the Design Economy rewards customization. </strong>
</p>
<p>
    The authors, Raymond e. Miles, Charles C. Snow, John A. Mathews, Grant Miles and Henry J. Coleman, Jr., from their work in the Academy of Management
    Executive, 1997 Vol. 11 No. 4, “Organizing in the knowledge age: Anticipating the cellular form,” said it this way:
</p>
<p>
    “The continued pull of market forces, and the push of ever-increasing know-how honed through network partnering, is already moving some industries and
    companies toward what amounts to a continuous process of innovation. Beyond the customization of existing designs, product and service invention is
    becoming the centerpiece of value-adding activity in an increasing number of firms. So-called knowledge businesses – such as design and engineering
    services, advanced electronics and biotechnology, computer software design, health care, and consulting – not only feed the process of innovation but feed
    upon it in a continuous cycle that creates more, and more complex, markets and environments. “
</p>
<p>
    The Age of Design <strong>is current</strong>. The internet is faster than TV. It is provisioning up-to-the-minuteness for weather, art, just about
    anything. Its way past the Age of Knowledge as some people have been calling this new Age we are now in, because it <em>uses</em> knowledge. This is one of
    the reasons the 5-to-7 year lifecycle of textbooks has become uncomfortable for schools. With biotechnology fields and others leaping ahead constantly, the
    data was always out of date. <strong>The Lesson: the Design Economy requires of-the-moment information. </strong>
</p>
<p>
The Age of Design <strong>monetizes the “back-story”</strong> of things, and actually makes just about anyone in any sphere an    <strong>approachable celebrity</strong>. The source of the design, the who, the where, the how -- all matter. The Kardashians were not famous for anything
    except the notoriety of the Gold-Medal winning father, Bruce Jenner. Virtually overnight they were made famous, and rich. Subway used the story of a patron
    who lost a lot of weight eating their sandwiches to win market share. There are a dozen empires of food design: Giada at Home on the Food Network; Martha
Stuart; Guy Fieri with “Diners, Drive-Ins and Dives;” Emeril Lagasse and more. Minor celebrity is built by bloggers and by executives in many fields.    <strong>The Lesson: the Design Economy rewards good public relations story-telling. </strong>
</p>
<p>
    The Age of Design <strong>completes</strong> <strong>the flattening of bureaucracy globally.</strong> Collaboration and communication tools make this
    possible. Collaboration and communication tools are everything in the Design Age. In addition, the internet makes everything seem warp speed -- so
    bureaucracy of any kind is increasingly a self-imposed handicap for organizations. <strong>The Lesson: the Design Economy penalizes bureaucracy. </strong>
</p>
<p>
    <a href="http://www.alternet.org/authors/joe-costello-0">Joe Costello</a>
    at SmashWords echoes this same idea with: “We need to evolve our institutions, organizations, and individual roles to understand that design is
    increasingly the primary value of political economy, ultimately creating a value shift from industrialization's quantitative value of infinite growth based
    on unlimited production and consumption to design's more qualitative values of participation, efficiency, elegance, and enough. “
</p>
<br/>
<p>
    <%= image_tag("/assets/article-educating-for-the-design-1.jpg", :alt => 'article-educating-for-the-design-1.jpeg' ) %>
</p>
<br/>
<p>
    More Reading: This cool author has started the thinking around the Design Age here: <br>
    <a href="http://cognexus.org/ageofdesign.pdf">Age of Design</a>
</p>
<p>
    ***
</p>
<br/>
<br/>
