<p>
    In the last year I have had the pleasure of interviewing a lot of industry leaders and educator’s on the subject of digital content and curriculum used in
    schools. These, a lot of research, and plain old-fashioned “looking around,” have given me a good perspective on the lay of the land for digital content in
    schools. I have come to the conclusion that pretty much anything you need is already available somewhere. Sometimes it is only available at a price.
    Sometimes it depends on if Google or Bing can rally around your 10-word-string search, which is literally the “hardest part” of going digital for schools.
    The below might help to give a little perspective, as these are the ways I came to classify education technology software and things:
</p>
<p>
    1) <strong>Digital Content.</strong> This is really different things or a general thing that goes into repositories or databases. Random or somewhat
    organized “learning objects” focused on a subject area, remediation, special needs, etc. They’re digital textbooks, pieces of video, photos, someone’s
    essay, a coffee-stained scrap of old map for a history lesson, some random math questions. You know, any sort of thing someone wants to keep and archive.
    Rarely are these things curated, but that’s another story. What’s scary-fun is that there are so, so many options and possible pitfalls. Recently a Georgia
    school was trying out some “cross-curricular” creativity, I guess crossing math with history in some sort of experimental way that ended up assigning some
    horrifically racially-biased math problems that included slavery and beatings as part of the problem wording -- to 3<sup>rd</sup> graders. The result has
    been commented on as far away as the U.K.
    <a href="http://www.dailymail.co.uk/news/article-2083734/If-slaves-pick-56-oranges--Georgia-school-racist-violent-math-homework.html">
        http://www.dailymail.co.uk/news/article-2083734/If-slaves-pick-56-oranges--Georgia-school-racist-violent-math-homework.html
    </a>
. Yet there are plenty of really quality resources offered by Industry for free such as    <a href="http://www.discoveryeducation.com/students/index.cfm">http://www.discoveryeducation.com/students/index.cfm</a>. Right now teachers and students
    also make learning objects and share them, mostly for free. These are, however, not necessarily vetted for rigor or applicability to standards.
</p>
<p>
    <strong>You make or buy or share these.</strong>
    There are hundreds if not thousands of sources or places to purchase or State created or locally created variant things. This site is going to start
    inviting others to place links here for free.
</p>
<p>
    2) <strong>“Apps.”</strong> These are things you can download from Amazon or iTunes or wherever. They are little programs that do some portion of
    curriculum. They could be a game. I think of them mostly as “add-ons.” Or “little nifty supplemental learning dealy-wads.” Like frog dissection on a touch
    screen, maybe a whole lesson, not a test, just a something like a workout on math fractions. Or a literacy aid. What was surprising to me was a recent
    inspection of iTunes showed that there are actually very few for the iPad already in iTunes and what is there is woefully unorganized by grade or by
    subject, and none are annotated for whether they help meet Common Core Standards in any way. I sort of felt they’d done a really poor job, especially since
    so many iPads are in pilot. I’m hoping for the best with Windows 8 and the Samsung Galaxy Tab because the partnerships those companies have with actual
    curriculum look so much more promising.
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>You mostly buy these</strong>
    , but you could make some or have some made. It’s tricky if you use iTunes because you may be in the position of then “gifting” individual iTunes cards per
    student since Apple doesn’t have an enterprise way to purchase and distribute. This could be risky because there is no way to guarantee that it is used in
    the taxpayer’s interest, that the student bought curriculum materials and not movies or music.
</p>
<p>
    3) <strong>Digital Curriculum.</strong> This is the “fully-loaded” stuff. It comes into schools via subscription to something in the cloud or a giant
    software purchase for your server farm, and basically allows a student to log in to, say, 6<sup>th</sup> grade math and get a whole lesson end-to-end
    including a test after completion of the lesson, homework, etc. Some include a live link to a master teacher. They’re semi- or fully game-based and “gate”
    you forward to the next lesson based on the oversight of the teacher/facilitator in-person or ported-in-from-a-distance. Most of this stuff comes already
    pre-considered for rigor, common core, testing, and a lot of value based on the fact that every part has been built with the best-of-the-best curriculum
    designers. A lot of the full digital curriculum makes individual teachers building individual lessons and running around searching online for one-offs to
    use with what they have installed tech-wise look like the poorest organizational choice of superintendents, like, <em>ever.</em> Yet it’s understandable.
    With the Common Core chaos and the sudden wipe-out of textbooks, a requirement that teachers step-up and be responsible is sort of natural. It used to be
    the Board’s or Curriculum Director or Supers worked to choose a textbook and workbooks. Sometimes they still are involved with purchase of digital
    curriculum as one surprised Tech Director told me recently when she learned some $250,000 was dropped on one vendor when she had been under the impression
    there was “no budget.” (Well there <em>was</em> no budget for tech, but certainly millions a year, or billions nationwide, used to go into textbooks that
    is in transition now.) Still, seeing what the predominate reality is, I have had the thought, “What other industry lets every single line manager make
    every single individual product choice? It’s like crazy-expensive and risky!” And it’s sort of new to the American K12 system as well. Prior to the
    introduction of the Common Core, teachers mostly used the assigned textbook or school standards to center their world on and things were a bit more
    predictable.
</p>
<p>
    Just checking out a lot of what these companies do that sell full digital curriculum is like one’s first trip to a giant manufacturing plant with gleaming,
    shiny automation when you’re just-off-the-farm in Iowa. (Or Bemidji, Minnesota, where I actually <em>did</em> grow up on a farm.) You walk away from a demo
    thinking, “what is everyone doing messing around with random learning objects when they could just do <em>this?” </em>Of course, you might say, what about
    the classroom management of the younger students, where lesson planning includes exciting art projects and more and an ever-changing daily dose of teacher
    planning? Ah, but, but there is still full digital curriculum for the younger set already built as well, making a large portion of lesson planning go away
    and more time for planning the fun stuff.
</p>
<p>
    <strong>Mostly you could just buy Digital Curriculum outright, </strong>
    from dozens of vendors,<strong> </strong>but some States, Districts and Schools are busy trying to make some of their own. To be perfectly honest, I am
    unclear why they would do this when they weren’t making their own textbooks before they started getting rid of those, or what it will mean for government
    to step in and take over the space of free enterprise curriculum and the private sector industry.
</p>
<p>
    4) <strong>Career &amp; Technical Applications </strong>are things like Adobe Photoshop, Autodesk’s 3D Design &amp; Engineering Software, as well as a
    myriad of other robotics, science, and animation type programs. These things allow students to do things that make them employable immediately upon
    graduation. Colleges and Universities are on to this big-time, and K12 is starting to catch on that it’s not so bad an idea.
</p>
<p>
    <strong>You buy these. You also make sure you have the high-value computing devices that will actually run this stuff. </strong>
    If you’re smart you also survey local business and find out what they need for skills from graduates and put those special classes into the curriculum.
</p>
<p>
    5) <strong>Learning Management Systems, Student Information Systems</strong>, and other administrative school systems. These are the software things that
    hold things and keep track of things and make sense of what’s happening student-by-student by running graphs of statistics on testing, and other
    measurements. There’s a lot of input needed from staff for these systems and a promise of helpful hints for student learning modifications from
    interpretation of the meaning of inputs. There is a wide array of these and the elements of one may not be the same elements of another.
</p>
<p>
    <strong>Schools buy these, but sometimes they build them. </strong>
    While I know that public education is somewhat enamored of “free” and open-source things, it is clear that “free” when it comes to technology has never
    been <em>actually</em> free. It’s just costs more to customize, build, maintain, and staff. Smart people go out and make whole companies with the value
    proposition that the software <em>they<u> </u></em>built can be sold to many for less than each one could build themselves, and the cost can be lower for
    all, but the company will charge enough to make a profit and continue to be there when help is needed. It’s important to note that as the complexity of
    content increases with all the above types, the need for more and more APIs (application interfaces) into the big repositories, identity management,
    security, and more is going to become well more than the average district can maintain with a lot of the home-built systems.
</p>
<p>
    ***
</p>
