<p>
    <strong>How to Be</strong>
</p>
<p>
    Recently while speaking in Memphis, Tennessee on the Design Economy, the leaders in Memphis wanted to know what it meant for teaching. (See “Educating for
    the Design Economy.”)
</p>
<p>
    I answered with how students needed to “Be” in the Design Economy. They should graduate with these skills to be successful and productive:
</p>
<p>
    <a name="_GoBack"></a>
    <br/>
    <br/>
</p>
<ol>
    <li>
        <p>
            Be imaginative, innovative, and creative.
        </p>
    </li>
    <li>
        <p>
            Be sociable, engaged. Know that manners matter. Manage your relationships.
        </p>
    </li>
    <li>
        <p>
            Be willing to limit information. More is not better – that was the Information Age. Now we’re more concerned about the derivation of information
            which is <em>knowledge. </em>A skill in the Design Economy to have is the skill of <em>selection </em>and <em>limitation</em> of input.
        </p>
    </li>
    <li>
        <p>
            Large groups are not the only units of achievement, small groups and individuals can shine. You can BE something, anything, but you will always be
            part of a small or large network.
        </p>
    </li>
    <li>
        <p>
            Give abductive reasoning (taking your best shot), a chance. In the age of the internet, sometimes gathering <em>all</em> the inputs comes at the
            risk of taking too long for you to act. Sometimes it’s better just to take your best shot.
        </p>
    </li>
    <li>
        <p>
            Be good at managing your time and your own PR.
        </p>
    </li>
    <li>
        <p>
            You have to have your own personal sense of right and wrong since the old-style bureaucracies will not be there to police you. If you don’t police
            yourself it will be found out sooner or later and you will be out.
        </p>
    </li>
    <li>
        <p>
            Be more right than wrong in the life you design and you will have a good life, a good “back-story” to tell the grandkids someday.
        </p>
    </li>
</ol>
<p>
    ***
</p>
