<p>
    With so many schools in transition, executives want to know what others are doing with digital curriculum. The question of what, how much of it, and more
    is being answered – from definitions to market size.
</p>
<p>
    The Learning Counsel has been working on the question “how BIG <em>is” </em>with regards to all things digital curriculum. There are plenty of questions to
    be answered.
</p>
<p>
    The questions include just what is the definition of digital curriculum; how much spending is being done on digital curriculum, by schools and consumers;
    and what are the numbers of items considered to be digital curriculum of some sort. The Learning Counsel has done a review of publically available data and
    proprietary research to come up with some answers.
</p>
<p>
    DEFINITIONS
</p>


<!-- <div style="padding-right: 30px;">
	<p>
	    <strong>curriculum</strong>
	    [kuh-rik-yuh-luh m] — n , pl -la , -lums 
	</p>
	<p>
	    1. &nbsp&nbsp&nbsp a course of study in one subject at a school or college<br>
	    2. &nbsp&nbsp&nbspa list of all the courses of study offered by a school or college<br>
	    3. &nbsp&nbsp&nbsp any programme or plan of activities<br>
	    [from Latin: course, from currere to run]<br> - World English Dictionary (Dictionary.com)
	</p>
</div> -->

<table cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
        	<td width="30px"></td>
            <td>
				<p>
				    <strong>curriculum</strong>
				    [kuh-rik-yuh-luh m] — n , pl -la , -lums 
				</p>
				<p>
				    1. &nbsp&nbsp&nbsp a course of study in one subject at a school or college<br>
				    2. &nbsp&nbsp&nbspa list of all the courses of study offered by a school or college<br>
				    3. &nbsp&nbsp&nbsp any programme or plan of activities<br>
				    [from Latin: course, from currere to run]<br> - World English Dictionary (Dictionary.com)
				</p>
            	
            </td>
        </tr>
    </tbody>
</table>


<p>
    The definition of digital curriculum is, at present, pretty loose. Please see (link to “5 Types of Curriculum Things”) as one review. What really
    constitutes <em>digital</em> and it being also <em>curriculum </em>
    will, however, continue indefinitely to be a matter of learned and not-so-learned opinion. Curriculum designers might argue that the “good stuff” meets

<%= image_tag("/assets/articles-digerati.png", :alt => 'article-digerati', :align => 'right' ) %>

    some certain conditions and has no instructional design flaws. The digerati among us might argue for game-based software build and interactivity as
    pre-requisites to being truly digital, versus say, the same-thing-now-digitized like a book made into a PDF. In addition, changes in design to fit touch
    screens and enhanced dimension of interaction are increasing potentials to have instructional design flaws. One day soon it may be a flaw not to use
    certain colors or buttons functionality, whereas only about 15 years ago the no-no was building pages that had to scroll instead of jumping to the next
    page.
</p>


<p>
    In addition, there are always new questions of definition as a field matures. For example: Is a “Lesson Plan” written by any teacher, who may not be a
    trained instructional designer, considered a genuine piece of digital <em>curriculum</em>? Is any simple game teaching how to say numbers in a foreign
    language real curriculum or a sort of filler? Who gets to say whether all these new media types is augmentative or supplementary versus core curriculum?
    The discussions and estimations of what’s what are best concluded by the experts. Many vendors have various definitions for their products and services,
    but for broad understanding across multiple vendors and creators, there<em> is</em> need for a simplistic understanding. Especially for the consumers of
    things deemed educational.
</p>
<p>
    We expect the continuous refinement of definitions as more curriculum goes all digital. Please also see the article on (We need new Words.)
</p>
<p>
    <strong>SPENDING</strong>
</p>
<p>
    Schools want to know if what they are spending is in line with what others are spending. From a vendor perspective, the question is really “how big is the
    revenue potential?” The problem with these questions is the fact that most folks are guessing as to total spend by schools. K-12 school budgets may have a
    line-item, or two, or thirty-five different ones, for curriculum. Just try to figure out most budgets for what’s <em>digital </em>curriculum and what’s not
    in all these line items. Then complicate this by the fact that digital curriculum may be being spent out of the IT budgets, or professional development
    budgets, or some other line item that wouldn’t seem likely, and you have the scope of the problem. It’s not an easy thing for school administrators to
    figure out. In addition, spend can be complicated by the fact that some districts provide for individual schools to do a certain amount of spend on their
    own, cross-curriculum programs on their own, even individual teachers on their own. Then you have free content being pulled into individual teacher systems
    from associations, State repositories, and all sorts of sites that offer freebies.
</p>
<p>
    <strong>Reputable Figures</strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    The most reputable figures on curriculum spending are probably the ones from the Association of American Publishers’ school division, although this would
    not be <em>all</em> the spending because it’s about textbooks. Jay Diskey, Executive Director of the AAP has noted that $8 Billion a year is spent on K-12
    textbook (2012.) A number from xPlana in 2012 cited Textbook spend at $7 Billion in 2011, so this seems about right.
</p>
<p>
    eLearning for K12 is $2.9B in Sept. 2011 (defined as: “the use of electronic technology to facilitate learning, including computer assisted learning and
network enabled technologies.”(Definition from Bromham and Oprandi 2006.) Source:    <a href="http://www.whitehouse.gov/sites/default/files/unleashing_the_potential_of_educational_technology.pdf">The White House Report</a> on “Unleashing
    the Potential of Educational Technology,” who cited "NeXt Knowledge Factbook 2010", Next Up! Research.
</p>
<p>
    In addition, the Center for Digital Education cites the total tech spend at $9.7 Billion in 2013 for K12, explained as the combination of all tech whether
    for administrative or student computing, inclusive of tech division salaries. This would be separate from Textbook spend, however much of that is “digital”
    and the White House’s citing of $2.9 Billion could be partly inclusive of the Center for Digital Education’s number <em>and</em> partly inclusive of the
    Textbook number.
</p>
<p>
    .
</p>
<p>
    The question of “how big” the digital curriculum market is could be the entire potential of the textbook market in K12, growing to steal away the regular
    textbook spend, and also some of the regular hardware/networks/software spend. It could also be stealing away parts of other curriculum budgets for, say,
    professional development, and testing and library/media expenditure.
</p>
<p>
    Many schools have stopped purchasing textbooks entirely in the last three years and have saved up their monies to purchase massive quantities of tablet
    computers and some digital curriculum. Most of those places have inadequate digital curriculum. Las Vegas, for instance, purchased a limited number of five
    “apps” when they first deployed the initial 7,000-some devices in piloting schools in early 2013. The rest of digital content was to be found via open
    resources or self-generated by teachers, at least initially.
</p>
<p>
    For purposes of clarity, let us say that that the K12 digital curriculum and content market right now is 5% of all those combined sources of curriculum
    spend, which is logically pegged at $9 Billion in 2013.
</p>
<p>
    <strong>The K12 digital curriculum spend is then at $450 Million in the U.S. and rising steeply with the progression of tablet computers.</strong>
</p>
<p>
    By 2016 if all schools go 100% digital is potentially some $11.8 Billion, factoring in population growth. This is probably a good number to think with
    since Pearson, the largest by far with curriculum for K12 is a $9 Billion a year corporation, but their revenues are global though largely U.S. based. They
    have testing contracts in the $500 Million range in just Texas. CTB/McGraw Hill is a $2 Billion a year corporation. If you take the top five corporations
    in the market, you probably have 7/8ths of all of the revenue. The other 770 or so companies scramble for what’s left. Even so, it’s easy to picture the
    actual pie much larger by the sheer figures of the corporations in the K12 education game.
</p>
<p>
    Consider also the convoluted workings of school budgets, which distribute funds from the State down to the 13,629 some Districts to some 98,000 schools. A
    great deal of spend is accounted for in Districts, but individual schools have their own discretionary budgets as well. Add in the 33,000 some private
    schools and you have a scope that is considerable.
</p>
<p>
    How much is would that spend be per school? If $10 Billion were evenly distributed over, let’s say 120,000 schools that would be $83,333 per school. From
    another view, $10 Billion evenly distributed over the entire K12 student population would be $181 per child. $181 might buy one good textbook in the old
    days.
</p>
<p>
    For some reason, this seems fishy. The public school market spends some $571 Billion annually, of which $10 Billion would only be about 2% of all spend.
    That seems pretty far-fetched, that public schools in the U.S. would spend such a tiny fraction of all their wealth on the materials of learning, the very
    purpose of their being.
</p>
<p>
    Well, by actual examination of various sized school budgets and district budgets, the truth is the average district spends 2-4% on “supplies and materials”
    of a curriculum nature annually.
</p>
<p>
    One niggling thought about this is one of potentially great importance to future school budgeting. It’s this: in the past, schools spent on textbooks that
    were <em>re-usable. </em>Many had a life of 5-7 years. With the advent of <em>digital</em> curriculum, publishers have sought to sell digital versions at a
    fraction of old costs, but even so schools would have to purchase again with every new user or a per-seat cost. A lot of the re-use is going to be gone,
    replaced by perplexing questions. Will all the various materials be equivalent to the same sort of historic spend? If a textbook costs $20 per student, but
    has to be paid for every year, is that the same as a $140 textbook that lasted 7 years? Is the cost to acquire and distribute digitally the same as it was
    in paper, or are there new risks like lost tablets or codes equivalent to the student’s dog eating their textbook? What if the new textbook is not a
    textbook but some minor percentage of the same knowledge in a new media form? Will other digital materials will also have to be bought, or made or found,
    to make up for the rest of what needs to be learned? What if it’s dozens of digital content items to replace what was once a single central thing? Now what
    happens to actual cost to acquire, vet, organize, maintain and distribute?
</p>
<p>
    The truth is, this fracturing of the textbook centrality of the market is upon us. Schools are already lamenting the fact that their efforts to gather an
    inventory brings them back lists of enormous size. There are not just individual “things” like textbooks anymore, there are whole subscription libraries of
    lesson plans, whole suites of curriculum, games, apps, websites to peruse, videos to watch, and more.
</p>
<p>
    <strong>How many digital curriculum things are out there? </strong>
</p>
<p>
    Millions, perhaps tens of millions. A single Publisher sites had 280,000. Websites with some form of curriculum number in the thousands. Every school has
    been building up staggering repositories of their own works. From about 2004-2008 there unprecedented numbers of scanning bids released by schools. Their
    work to digitize all their curriculum is still going on.
</p>
<p>
    In the last two years, big digital storage companies have been swept away by the demand coming from what had before been a fairly small market but is now
    one of their largest.
</p>
<p>
    It is sufficient to say that very few teachers or schools have a good handle on the potentialities. No one does. Gone are the days of a School Board or
    Superintendent making a single multi-million dollar deal for five years’ worth of every textbook, workbook and video needed. The entire market is awash
    with veritable armies of new reps for various types of curriculum, even whilst the open resources movement seeks to bring creditable content in for free.
</p>
<p>
    <strong>How much spending is being done by consumers?</strong>
</p>
<p>
    Well one comparison data point is what’s happening with apps over all. That’s not “all” consumer purchasing of educational curriculum type things that
    might be outside an institution, but it’s a large amount of it. Consumers also purchase from folks like <a href="http://www.lynda.com/">Lynda.com</a> , and
    many others.
</p>
<p>
    According to <a href="http://www.juniperresearch.com/">Juniper Research</a>, consumers will spend more than $75 billion on mobile applications in 2017.
    They credit the surge to the continued growth of the in-app purchase model as well as the emergence of new monetization models for apps.
</p>
<p>
    Juniper predicts that spending on premium app downloads will generate just 25 percent of total app revenues in 2017, forcing developers to implement
    business models that leverage in-app virtual goods, mobile advertising partnerships and other alternative revenue streams.
</p>
<p>
    Games will continue to lead all app categories, generating 32 percent of total revenues at the end of the forecast period, Juniper said. Increasing tablet
    penetration also will boost developer fortunes: Tablet owners are set to spend $26.6 billion on apps in 2017, increasing from $7.8 billion this year.
</p>
<p>
    The fast majority of apps are free, and indications are that consumers, and students, are increasingly okay with advertising in order to get more apps for
    free.
</p>
<p>
    What does this presage for schools? The downloading of apps will be a normal interaction for students, which means that schools will soon be fooling around
    with delivering apps of their own. The creating of apps, perhaps above many other types of content, will become increasingly interesting to Publishers.
</p>
<p>
    ***
</p>
