<p>
    <em>Cloud-based lesson planning, coaching and sharing platform from Insight Education Group offers lessons that are fully customizable</em>
</p>
<p>
    <a href="http://www.insighteducationgroup.com">Insight Education Group</a>
    (Insight), K-12 education’s partner in connecting teacher effectiveness and the Common Core, is making available a set of Common-Core aligned lessons for
grades K-6 in English Language Arts and Math. The lessons will be accessed through    <a href="http://www.insighteducationgroup.com/common-core-services.html">myCore</a>, Insight’s award-winning, standards based lesson-planning platform, and
    have already been made available to myCore users.
</p>
<p>
    Built on Strategic Design, a backward lesson design methodology, myCore offers teachers on-demand support in creating and customizing rigorous, engaging,
    standards-aligned lessons. With the library of units and lesson now available, myCore users can pull them from the cloud-based platform and customize them
    for their classrooms as part of their myCore subscription.
</p>
<p>
    Insight Education Group CEO, Dr. Michael Moody, comments, “When Insight set out to create myCore, providing educators with top-quality professional
    development that promotes <a href="http://www.insighteducationgroup.com/professional-development---coaching.html">teacher effectiveness</a> and growth, was
    paramount.” He continues, “Supporting teachers with a resource that will guide and coach them as they work to meet the rigors of the Common Core is
    essential to accomplishing the results they were developed to achieve.”
</p>
<p>
    <a href="http://www.insighteducationgroup.com/common-core-services.html">myCore</a>
    is a cloud-based platform that guides teachers through the planning and creation of Common Core-aligned lessons and units, offering users the ability to
    communicate with an instructional coach when and where they need support. These fully customizable, pre-loaded lessons take that support a step further,
    providing educators with exemplars that can be edited to suit their unique classrooms, while keeping them on pace with a district’s assessment calendar.
    Each of the pre-loaded units and lessons in myCore offer users a variety of formative and summative assessments. .myCore gives teachers the ability to
    track and manage what units and lessons have been planned, which have been taught as well as which lessons are currently being worked on. The platform
    allows administrators and coaches to access these plans directly for observations and feedback to further support teacher growth and effectiveness.
</p>
<p>
    The first unit of a full academic year’s worth of units and lessons for grades K-6 in both Math and ELA are available now. Stay tuned for units and lessons
    for grades 7-12!
</p>
<p>
To learn more about myCore and to see examples of units and lessons, please visit Insight Education Group here:    <a href="http://www.insighteducationgroup.com/mycore">http://www.insighteducationgroup.com/mycore</a>
</p>
<p>
    For more about Insight Education Group, visit them online at: <a href="http://www.insighteducationgroup.com">www.insighteducationgroup.com</a>
</p>
<p>
    ***
</p>
