<p>
    <strong>Nationally Recognized 1:1 Initiative Chooses Prey to Protect Every Device</strong>
</p>
<p>
    <em>Pascack Valley Regional High School District</em>
    <em> includes anti-theft and device recovery software in their mobile device management toolbox</em>
</p>
<p>
    <strong>Santiago, Chile &amp; Montvale, NJ (October 29, 2013)</strong>
    Pascack Valley Regional High School District <a href="http://www.pascack.k12.nj.us/">(PVRHSD),</a> one of the nation’s first districts to implement a 1:1
    technology plan, boasts that all participants in their learning community have the freedom to explore new approaches, take educational risks, and
    participate in many opportunities to grow as learners and professionals to meet their district goals. As PVRHSD enters the tenth year of its nationally
    recognized 1:1 eLearning initiative, they move forward with more confidence than ever as they won’t be taking any risks with device safety and privacy.
    PVRHSD administrators have entrusted the security of their 1:1 devices to <a href="http://www.preyproject.com/education">Prey anti-theft</a>, privacy and
    security software.
</p>
<p>
    PVRHSD provides over 2000 district-owned Mac Books, putting a device in the hands of each student and teacher across their two high school campuses. The
    goal is to bring students engaging and exciting 21st century teaching and learning to the desktop of every student. Over the past 10 years, PVRHSD has
expanded it’s <a href="http://www.preproject.com/education">1:1 initiative</a> <em><strong>and </strong></em>their    <a href="http://www.preyproject.com/education">device management tool box</a> as they continue to improve upon their support and tools for this initiative,
    including security of each device.
</p>
<p>
    “Since launching our 1:1 initiative in 2004, we have watched device security and protection evolve. Early on we realized security and privacy would be
    amongst our greatest concerns.” Christopher DeNoia, Network Administrator at PVRHSD says. “When we discovered Prey we found a partner who shares our belief
    that successful 1:1 implementation means providing tools that protect student privacy and device security while allowing devices the freedom to access the
    needed apps and networks, in addition to providing teachers and administrators peace of mind allowing us to focus on what is important; learning.”
</p>
<p>
    <a href="http://www.preyproject.com/education">Prey</a>
    , a leading provider of cross-platform, anti-theft and device recovery to the U.S. education marketplace, is being included in device management &amp;
    security portfolios for school districts across the nation to protect their various tech initiatives. From MacBooks and iPads, PC’s and Window’s devices to
    Android and Linux platforms, Prey offers features like hardware scans, device history<a href="http://www.preproject.com/education">, geolocation</a>; as
    well as the ability to lock and delete passwords and take screen shots &amp; photos from a device camera once a device is reported missing.
</p>
<p>
    “We are excited to be working with PVRHSD. As a leader in 1:1 initiatives in K-12 education, we are honored they chose our solution to protect their
    investment and their students. We know they had evaluated several solutions.” Says Prey Co-Founder, Tomas Pollak. “Their decision to include Prey in their
    MDM toolbox is extremely rewarding as Prey Education was founded for this very reason; to give innovative school districts like PVRHSD the freedom to
    explore how technology can improve instruction. By protecting student privacy and information, administrators like Mr. DeNoia and his team can focus their
    attention on learning, truly seeing how their commitment to technology and 21<sup>st</sup> century skills will benefit student learning.”
</p>
<p>
For more about Pascack Valley Regional High School District, please visit them online at:    <a href="http://www.pascack.k12.nj.us/">http://www.pascack.k12.nj.us</a><a name="_GoBack"></a> For more about Prey and to sign up for a complimentary
    trial, visit them online at: <a href="http://www.preyproject.com/education">www.preyproject.com/education</a>
</p>
<p>
    ***
</p>
