<p>
    Pearson is excited to announce a strategic investment and commercial partnership with English language learning platform Voxy. The investment is part of
    Voxy’s series B financing, which also includes Rethink Education, an investment fund focused on education technology.
</p>
<p>
    The partnership means Pearson will become a key minority shareholder in Voxy and supports Pearson’s goal to use engaging, digital and personalized learning
    tools to make education more effective and help people make progress in their lives through learning. Pearson will incorporate Voxy’s products and
    technology into the suite of services it offers to learners.
</p>
<p>
    Voxy’s learning platform uses integrated multi-device applications and cutting edge technology to create uniquely engaging learning experiences for more
    than 2.5 million users learning English around the world. Its integrated web and mobile learning platform is modelled on an interest-driven learning
    approach that uses gaming mechanics to help users to learn English by generating personalized lessons from real world content and social media. Voxy has
    been rated the number one education iTunes app in 23 countries.
</p>
<p>
    Bhavneet Singh, President of Pearson English and Informal Learning, said “We are very excited to be working closely with Voxy. Our partnership is another
    important step in Pearson’s drive to offer learners more direct, digital learning tools. It’s our aim to help people learn English anytime, anywhere,
    across any device with tools that are personalized to their needs, easy to navigate and with the tracking and testing they’re looking for to provide
    instant feedback and demonstrable results. Voxy’s cutting edge technology is a great complement to our existing offering to English learners right across
    our businesses which include Wall Street English and GlobalEnglish.”
</p>
<p>
    Paul Gollash, Founder and CEO of Voxy, said “Voxy is thrilled to be partnering with Pearson to help change people’s futures. Combining Pearson's global
    scale and distribution network with Voxy's innovative and highly efficacious technology will help us to more effectively connect with the more than two
    billion people who are learning English and need this critical skill to improve their lives.”
</p>
<p>
    Learn more at: <a href="http://www.pearson.com">www.pearson.com</a>
</p>
<p>
    ***
</p>
