<p>
    <strong>Tales2Go Releases Android Version of its Award-Winning Service</strong>
</p>
<p>
    <strong>October 31, 2013, Washington, D.C. – </strong>
    Tales2Go Inc., a leading provider of audio books for the K-8 school market has just released an Android version of its award-winning app. Tales2Go is a
    Netflix-like subscription service that streams thousands of name-brand audio book titles from leading publishers to desktops, laptops and mobile devices in
    the classroom and beyond.
</p>
<p>
    Adding a listening component to reading instruction raises reading scores, which is why audio books have been used in classrooms for decades. Proficient
    reading is the product of listening comprehension (i.e. fluency and vocabulary) and decoding skills. In fact, the Common Core Standards put special
    emphasis on developing listening skills within K-5 literacy and established reading methods such as The Daily 5 use audio books as part of their program.
</p>
<p>
    Tales2Go CEO William Weil comments, “We’re excited to make Tales2Go available in the Google Play Store. With more and more mobile devices in students’
    hands, either issued by schools or on a Bring Your Own Device (BYOD) basis, it was important for us to open up Tales2Go to the large and growing Android
    audience.” He goes on, “We’re also delighted to finally be able to respond to the numerous requests we’ve gotten to make Tales2Go available on Android
    devices.”
</p>
<p>
    Tales2Go breaks new ground on both the delivery and business model of giving educators and students’ instant access to audio books on desktops, laptops and
    mobile devices. For example, with Tales2Go, thousands of students can independently listen to the same book simultaneously. And some students may want to
    check out the physical book from the school or public library and follow along as they listen. Tales2Go is used differently depending on the grade, but
    ranges from individual to group use, with and without physical books in hand.
</p>
<p>
    For more information on Tales2Go, please visit: <a href="http://www.tales2go.com">www.tales2go.com</a>
</p>
<p>
For details about The Education Technology Start-Up Collaborative summit, please visit:    <a href="http://edtechcollaborative.org">http://edtechcollaborative.org</a>
</p>
<p>
    ***
</p>
