<p>
    <strong>Actress Kathy Kinney Brings Mrs. P.’s Literacy Roadshow to MN Schools</strong>
</p>
<p>
    Oct. 21, 2013 –An eccentric, education-loving lady named Mrs. P. delighted children at three Minneapolis schools with her Literacy Roadshow last week.
</p>
<p>
Actress Kathy Kinney, best known as Mimi on “The Drew Carey Show,” brings Mrs. P. to life every day on her award-winning website,    <a href="http://www.mrsp.com">MrsP.com</a>, where she reads classic stories to children from her magic library.
</p>
<p>
Minneapolis-based public relations firm, PR with Panache!, took Mrs. P and her magic library on the road to kick off her fifth annual<a href="http://www.mrsp.com">“Be a Famous Writer”</a> contest for kindergartners through fourth graders. Local Minnesota company    <a href="http://www.myon.com">myOn</a> is a leading sponsor for the nationally known writing contest.
</p>
<p>
    Mrs. P wants kids to understand that when they read, they are cool, because reading is cool. Kinney is a master of improvisation and her quick wit and
    quirky personality kept each group of students laughing and clamoring for more.
</p>
<p>
    Kinney capped off her visit to Minnesota as the celebrity guest on <a href="http://twincitieslive.com">“Twin Cities Live,”</a> a midday talk show on KSTP,
    the local ABC affiliate. In addition to highlighting her performance at Nellie Stone Johnson Elementary, she talked about how important it is to get
    children reading.
</p>
<p>
    In addition to the literacy road show, Mrs. P made an appearance on the Education Talk Radio Show with Larry Jacobs on Oct. 16, and you can access that
    broadcast <a href="http://www.blogtalkradio.com/edutalk/2013/10/16/mrs-ps-reading-project">here.</a>
</p>
<p>
    To find out more details about how to enter the “Be a Famous Writer” contest, visit <a href="https://www.smore.com/wpt6">https://www.smore.com/wpt6</a>.
</p>
<p>
    For more about Kathy Kinney as Mrs. P and her Magic Library, go to <a href="http://www.mrsp.com/">http:// www.mrsp.com</a>
</p>
<p>
    To learn more about
    <strong>
Mrs. P.’s Literacy Road show go to:        <a href="http://susanhanson.com/2013/10/mrs-p-myon-go-on-mn-literacy-tour-featured-kstp-channel-5-news/">Mrs. P and KSTP</a>
    </strong>
</p>
<p>
    ***
</p>
