<p>
    Cueing off the famous line from Shakespeare, “To be or not to be, that is the question,” today in schools it’s, “To pick digital curriculum solutions or go
    with random elements?”
</p>
<p>
    Many schools are faced with the question of building up their digital curriculum by way of a solution, meaning usually an online subscription service to a
    whole suite of lessons, or by way of individual elements. Many have both. Many have to also have whole Learning Management Systems to house all their
    elements, which often times still do not quite house them all because some are straight downloads off of commercial systems that don’t allow sharing or
    replication. Those elements like iTunes apps have to go, usually, straight to the end user.
</p>
<p>
    <strong>Who likes Solutions the Most?</strong>
</p>
<ol>
    <li>
        <p>
            Publisher’s love solutions because they are whole systems and can be sold and supported for large numbers of users, often at different grade
            levels. Take for example <a href="http://www.compasslearning.com/common-core">Compass Learning's</a> Odyssey solutions for Common Core, offering a
            system for students to log into that provides lessons and built-in assessments. In addition, teacher training and other benefits all tie together.
            Plus, publisher’s gain from predictable subscriptions that are often renewed. Other full solution vendors, albeit sometimes for single subject
areas, include <a href="http://www.dreambox.com/">Dreambox Learning</a>, <a href="http://www.edmentum.com/">Edmentum</a>,<a href="http://www.odysseyware.com/">Odysseyware</a>,<a href="http://www.renlearn.com/default.aspx?gclid=CIqbpcTQx7oCFQE6Qgod528Afg">Renaissance Learning</a>,            <a href="http://www.imaginelearning.com/programs/imaginelearning/">Imagine Learning</a>, hundreds of others like them which seem to usually have
            named their company “something <em>Learning</em>,” and the “usual suspects” in the gang of <em>big</em> publishers like Pearson, HMH, McGraw Hill,
            Cengage, Follet, etc.
        </p>
    </li>
</ol>
<ol start="2">
    <li>
        <p>
            District Administrator’s love solutions because they often come with measurements and log-in counts and they can “see” what’s going on with
            learning right in the system.
        </p>
    </li>
</ol>
<ol start="3">
    <li>
        <p>
            IT Directors like systems because there are less loose elements around to keep track of and provide support for. The only drawback is the
            complaints from teachers and students who don’t like to keep track of upwards of 20 different log-ins for various publisher solutions.
        </p>
    </li>
</ol>
<p>
    The problem with solutions is that they require a lot of vetting and can be pricey. They also require a lot of agreement amongst a lot of people to use the
    solution, which is like trying to find the Holy Grail for many schools. Publishers have sometimes admitted that, while they do sell a lot of subscriptions
    the “dirty little secret” is that <em>use</em> is questionable unless tied to some metrics.
    <br/>
</p>
<p>
    <%= image_tag("/assets/article-to-solution-1.png", :alt => 'article-to-solution-1.png' ) %>    
</p>
<p>
    <strong>Who likes elements the Most?</strong>
</p>
<ol>
    <li>
        <p>
            Students. Individual apps, books, videos and other sorts of disaggregated content are the way consumers get their content. It is a normal thinking
            pattern to seek out elements to teach themselves “X” for every age, and to cut right to the chase with <em>only</em> that thing they want to know.
            This is the great legacy of search engines, which have taught nearly everyone that a thing we want to know is only a search-engine entry away.
        </p>
    </li>
</ol>
<ol start="2">
    <li>
        <p>
Teachers. Most teachers like elements more than systems for the simple reason that an element can fit into a lesson plan whereas a solution            <em>is</em> the lesson plan.
        </p>
    </li>
</ol>
<ol start="3">
    <li>
        <p>
            Publisher’s, app-creators, lesson-plan distributors, and for-profit or not-for-profit repositories love elements. The reduction of an entire
            subject into bite-sized pieces, or individual books, or individual apps, lessons or tests, allows for a perceived low-cost to each. This allows for
            all levels of students, teachers and schools to acquire without feeling like they’ve spent all that much.
        </p>
    </li>
</ol>
<p>
    The problem with elements is that they are even more disconnected from the everything-you-have-to-learn than the single-subject textbook was. In some
instances they are not even <em>chapters</em> in coverage for what a student needs to learn in a subject. One example might be    <a href="http://www.adaptivecurriculum.com/us/preview.html">Adaptive Curriculum's</a> free sample entitled “Mathematics, 2D Views of an Object Formed by
    Unit Cubes 1.” This allows students to draw different 2D views of the 3D object formed by unit cubes. This is nifty, but does it do anything for the
    meeting of all the school’s goals for student learning? Well, <em>this</em> one element does meet a couple of Common Core State Standards, so it is a good
    find, but not all elements have any notation of what they do to help. Adaptive Curriculum’s website is gracious enough to offer a means of checking their
    elements against any Standards in the U.S. – a very cool feature.
</p>
<p>
    <%= image_tag("/assets/article-to-solution-2.png", :alt => 'article-to-solution-2.png', :width => '619'  ) %>    
</p>
<p>
    As another example SAS’s Curriculum Pathways for Science (<a href="http://www.sas.com/govedu/edu/curriculum/study-science.html">SAS SCIENCE ELEMENTS</a>.)
    Each of the elements are “free” and certainly cool. However, they are sort of one-offs, in a website where hundreds of other SAS products are also for sale
    for things like fraud and security intelligence and business analytics. It is up to a teacher to have found them and incorporated them, and then test on
    them and see if students learned anything. In addition, the school needs to determine if this is going to feed into curriculum goals overall or if it’s
    just a fun side activity that teaches some important concepts.
</p>
<br/>
<p>
    <%= image_tag("/assets/article-to-solution-3.png", :alt => 'article-to-solution-3.png', :width => '619' ) %>    
</p>
<br/>
<p>
    How you chose your curriculum is going to indicate a number of things, and is therefore a <em>tactic</em> that is necessarily part of a larger strategy.
</p>
<p>
    What sorts of things?
</p>
<ul>
    <li>
        <p>
            Who’s making the decision in your school? Each individual teacher or is there some subject area that’s set for all schools by the Curriculum
            Director, Superintendent or School Board and so everyone needs to use that one subscription?
        </p>
    </li>
    <li>
        <p>
            If it’s a solution that runs on district or local servers, you’re going to need IT support and storage.
        </p>
    </li>
    <li>
        <p>
            If it’s a solution that is in the cloud, you’re going to need some vetting security-wise because you’ll be letting students access the system as a
            requirement.
        </p>
    </li>
    <li>
        <p>
            Who’s going to manage all the passwords kids are sure to lose constantly? Or mistakenly <em>share</em> thus creating some level of instructional
            design flaw for things as serious as testing results. If you <em>do</em> take this on, how will you explain to the State that you have adopted some
            acceptable level of cheating potentiality that will effect reporting because of possibly shared passwords?
        </p>
    </li>
    <li>
        <p>
            If it’s an individual thingy, like an app, lesson, game, video or something else, who owns it? Who keeps it if you’re a partly BYOD environment?
            Who pays for it?
        </p>
    </li>
    <li>
        <p>
            If you have the tactic to send kids out to get “the Shakespeare app” and you’re a BYOD environment, then some will get the “Complete Works” from
            Google Play, and others will get the “Sonnets” from iTunes, or other some such tangents could occur. Whoa.
        </p>
    </li>
    <li>
        <p>
            <strong>And many more,</strong>
            including such added complexities as whether any of it is actually going to help teach anything.
        </p>
    </li>
</ul>
<p>
    It all comes down to this, are you working within a greater strategy adhered to by the group for cost savings and efficiencies? Do you clearly understand
    that this choice between solution or element <em>is</em> a tactic, a sub-part of a larger overall implication for your institution?
</p>
<p>
    You can find the
    <a href="https://play.google.com/store/apps/details?id=com.hongshee.mobile.anbook.shakespeare&amp;hl=en">
        Complete Works of Shakespeare App from Google Play
    </a>
    , and also from iTunes, and Amazon. You can also find hundreds of vendor elements not these commercial sites or as part of solutions with entire lessons
    with assessments, etc.
</p>
<p>
    ***
</p>
