<p>
    <strong>Tulsa Charter School sells cookies to fund purchase of observe4success solution </strong>
</p>
<p>
    <strong>St. Petersburg, FL- (Nov. 6, 2013)</strong>
Selling cookies as a fundraiser may conjure up old-fashioned images, but at    <a href="http://www.lighthouse-academies.org/schools/tlcs"> Tulsa Lighthouse Charter Academy</a>, it helps them stay cutting edge. After an incredibly
    successful first year which administrators attribute to their accomplished and driven staff, Tulsa Lighthouse has identified the need to further encourage
    staff growth and development. To help make this vision a reality, they have selected <a href="http://www.observe4success.com/">observe4success,</a> an
    online <a href="http://www.observe4success.com/">teacher observation</a> tool.
</p>
<p>
    With budgets tight, administrators looked for a creative way to raise money to purchase observe4success. Teachers and students alike will sell cookies to
    raise the money needed to cover the cost of the software.
</p>
<p>
    “Having a <a href="http://www.observe4success.com/">strong, flexible tool to observe and encourage</a> our faculty will help increase achievement for the
    whole school as well as to promote our positive school culture,” states Nickia Greene, Director of Teacher Leadership. “This is truly something that will
    benefit the entire school, faculty and staff. While selling cookies may seem old fashioned; it is the best way for the entire school community to
    participate in an investment this valuable.“
</p>
<p>
    Greene adds, “observe4success has streamlined our observation process, saving us valuable time while making collecting and organizing observation data even
    easier. The data that is collected allows school leaders to review graphs and assign relevant professional development based on teacher, grade level, and
    school-wide strengths and weaknesses.”
</p>
<p>
    Developed by educators for educators, observe4success captures and systemically reports the essence of classroom culture and instructional practice so that
    administrators and peer observers could easily grasp classroom characteristics. With observation data collected over time, stored, and sorted,
    administrators and teachers work together to identify strengths to be highlighted and weaknesses to be supported. Current research encourages continuous
    improvement to <a href="http://www.observe4success.com/">support instructional practices</a> while implementing exemplary teaching practices;
    observe4success offers the tools to make these efforts seamless.
</p>
<p>
    “It is schools like <a href="http://www.lighthouse-academies.org/schools/tlcs">Tulsa Lighthouse Charter Academy</a> that make us love what we do.
    Supporting innovative, committed administrators in their mission of creating school environments that inspire learning and offer professional growth
    opportunities for teachers is at the heart of observe4success,” states Erin Antonius, Director of Sales and Product Strategy at observe4success. She
    continues, “Leadership at Tulsa Lighthouse wasted no time digging in, starting observations the day they implemented our platform. This is why we created
    observ4success – to ease the load of administrators and to create an environment of collaboration. And while we encourage buy-in at all levels of schools
    adoption the system, this is literally buy-in at a level we’ve never seen before! It’s fantastic!”
</p>
<p>
For more about Tulsa Lighthouse Charter Academy please visit:    <a href="http://www.lighthouse-academies.org/schools/tlcs">http://www.lighthouse-academies.org/schools/tlcs</a>
</p>
<p>
To learn more about observe4success or to schedule a demonstration please visit:    <a href="http://www.observe4success.com/">http://www.observe4success.com</a>
</p>
<p>
    ***
</p>
