<p>
    <em>The Rose Academies build on academic success with blended learning by choosing OdysseyWare as its online curriculum provider</em>
</p>
<p>
    <strong>Nisswa, MN &amp; Chandler, AZ- </strong>
    Sept. 17, 2013- Since implementing a blended learning initiative in 1999, administrators at the Rose Academies have seen their innovative approach pay off,
    student achievement gaps narrow and graduation rates soar. Looking to build on their initial success, the Rose Academies have chosen to partner with
    OdysseyWare, a leading provider of online curriculum and eLearning resources for K-12 schools, to be their sole provider of online curriculum at all four
    campuses.
</p>
<p>
    The Rose Academies, a group of public charter schools, provide students in Tucson, AZ, an alternative education setting designed to support each students’
    individual academic needs. Leadership at Rose Academy views their student body as an ever-changing and evolving learning community and aims to provide an
    environment to foster positive academic growth in each individual learner. Their unique, blended learning approach pairs digital content with personalized
    curriculum to ensure all students are engaged in the learning process, taking ownership of their education as well as setting them up for post-secondary
    success, whether in college or exploring a career path.
</p>
<p>
    “We believe our students’ success lies in our ability to ‘Honor the Promise of Education’ for each of them. To us, that means individualizing instruction
    and personalizing learning in every classroom,” states Rose Academies Superintendent, Kelly Hurtado. She continues, “We are thrilled with the results since
    implementing a blended learning approach and look to our online curriculum partner, OdysseyWare, to take that growth to new heights. After a rigorous
    evaluation process, we felt very strongly that OdysseyWare would be the best possible partner for us in seeing our vision continue to come to fruition.”
</p>
<p>
    OdysseyWare realizes that “how students learn” directly impacts “what students learn”. This is evident in the emphasis that OdysseyWare’s web-based
    platform and curriculum puts on empowering and supporting teachers to differentiate instruction, addressing the variety of learning styles found K-12
    classrooms. Fully customizable, OdysseyWare’s research-based curriculum is accessible to students anytime, anywhere, and is designed to reach digital
    natives who are often challenged within the constraints of the traditional classroom.
</p>
<p>
    OdysseyWare President &amp; Vice Chairman, Kevin Youngblood, comments, “Helping every student achieve academic greatness is our top priority and is at the
    heart of everything OdysseyWare offers. This falls directly in line with the mission of the Rose Academies. We are thrilled to be their online curriculum
    provider and look forward to further supporting their goals throughout the life of our partnership.”
</p>
<p>
    For more information about the Rose Academies, please visit them online at
</p>
<p>
    <a href="http://www.go2rose.com">www.go2rose.com</a>
    .
</p>
<p>
    For more information or a complimentary trial, please visit OdysseyWare online at<a href="http://www.odysseyware.com">www.odysseyware.com</a>.
</p>
<p>
    ***
</p>
