<p>
    What are the newly wanted leader and teacher features, or skills, for today’s educational systems? We all know a good teacher when we see one, but what
    about the fact that not all of them are?
</p>
<p>
    My dad was a teacher that taught high school English, history, ran the photography class, and coached basketball. It was a pretty small school district and
    teachers were multi-taskers. He would be the first to question an educational system that, for sake of efficiency, used more technology and fewer teachers.
    He would question such a reality because he was a real master of his flock of students, <em>and</em> he taught largely before the encroachment of
    all-things-digital. He was well beyond a guide and source of information, he was an entertainer and challenger-of-minds. It is my experience that such a
    teacher is not every teacher. Far from it, and yet we’re set up as a nation with a system of education that would have every teacher be that ideal.
</p>
<p>
    In this year 2013, we should consider how we feel about a profession that would demand such a high level of art from more than 3 million people. That’s a
tremendous pool of would-be talent and incredibly expensive. Just do the math for the median salary at $49,228 (    <a href="http://www.teacherportal.com/teacher-salaries-by-state/">Teacher Salaries by State</a> ) and 3 Million Teachers – that’s $150 Billion. Add in the
    phenomenal benefits packages, and the totals are even greater.
</p>
<p>
    The fact is, while hard to admit, we have never really had a gifted and brilliant teacher for every classroom. We have had mediocrity and sometimes even
    abject failures for teachers. Unlike in business, the students don’t ask for a refund. They just move on, or fail on, without recourse.
</p>
<p>
    Since technology makes it possible for truly engaging, remedial, personalized and fully vetted materials, education is at a new crossroads of potential.
    What if you could supplement mediocrity with some phenomenal YouTube lectures or MOOCs or digital curriculum, in essence “replacing” some of what’s not
    working?
</p>
<p>
    “Ooooh!” you say, “Them there’s fightin’ words. Replace teachers?” I might be talking about teacher replacement, but no, I am not. I am talking about a
willingness to <em>not teach</em> what could be done better by another and <em>still teach</em>. In other words, <em>a </em>teacher does not have to be    <em>the</em> teacher, that penultimate of charisma and subject knowledge. <em>That </em>can be a professor or specialist. <em>A </em>teacher does not have
    to compete with the likes of a 40-year-historian who knows <em>everything</em> about some subject, and it is sort of ludicrous to do so. Instead, import
    that wealth and depth of knowledge and just facilitate, catching the slower students up, challenging the faster ones.
</p>
<p>
    That’s the way it’s always been, you might say. Teachers have used textbooks and all sorts of augmentative materials. Yes, this is true, but what is also
    true is that far too many have felt an obligation to be <em>the source</em> of what they teach. This is the flaw. It still goes on in innumerable places.
    Yet, no one can be a generalist teacher or even one-subject teacher in grade schools today and keep up with the fantastic breadth of knowledge being
    created in the world and accessible instantly on the internet, or distill it into coherency while daily running a class. In fact, the wherefores of
    knowledge are increasingly less the thing than the valuable skill of <em>leading to learning. </em>
</p>
<p>
    It is for this reason that a district-wide, grade-by-grade and subject-by-subject digital curriculum <em>strategy</em> is essential. Teachers can always
    still have tactics, but I doubt they should be owning strategy. The <em>best</em> in digital curriculum is set in place through strategy, <em>freeing </em>
    the teachers to now be something <em>more</em> than teachers. A teacher is now guide, facilitator, project manager, enthusiast, counselor, and tech expert.
    They are the equivalent in some respects to the job of sales or business development for the parcels of knowledge they purvey, getting them into the minds
    of students is just like closing a deal. This is really what the digital age has evolved teaching to be.
</p>
<p>
    Below are some of the newly wanted “Teacher Features,” but what about what’s newly needed from Leaders?
</p>
<p>
    <strong>LEADERS OF SCHOOLS</strong>
</p>
<ol>
    <li>
        <p>
            Leaders of schools, need to be <strong>uncompromising on having </strong><em><strong>the best there is</strong></em><strong> in teaching</strong>,
            which most likely will not be every teacher you have. It may not even be <em>most</em> of them. Yet it’s all okay because the best is now mostly
            available digitally, provided you incorporate it well.
        </p>
    </li>
</ol>
<ol start="2">
    <li>
        <p>
Leaders need to be very involved in <strong>digital curriculum </strong><em><strong>strategy</strong></em><strong> and </strong>            <em><strong>tactics</strong></em><em>. </em>You need an archivist, curator, and all-around full-awareness ongoing of best-in-class for digital
            curriculum.
        </p>
    </li>
</ol>
<ol start="3">
    <li>
        <p>
            Leaders need to look at their real-world personnel and their <strong>“virtual” personnel</strong> -- which are the digital curriculum objects,
            videos, live-chat internet teachers, and more – and see these as valuable “staff” in the goal of student learning.
        </p>
    </li>
</ol>
<p>
    <strong>TEACHER FEATURES </strong>
</p>
<ol>
    <li>
        <p>
            <strong>Be a guide, facilitator, project manager, enthusiast, counselor, and tech expert.</strong>
            Oh, and a sales person, selling the curriculum, the goals and the assessments and “closing the deal” of learned materials with every student.
        </p>
    </li>
</ol>
<ol start="2">
    <li>
        <p>
            <strong>High tolerance of change.</strong>
            The supersonic growth of world knowledge makes for a nearly overwhelming amount of change constantly, new possible materials, and views. Rather
            than compete with this reality, adapt.
        </p>
    </li>
</ol>
<ol start="3">
    <li>
        <p>
            <strong>Willingness to value other’s competence in subjects. </strong>
            There is no need to have a viewpoint of being in competition with the internet, hordes of highly trained curriculum developers and researchers, and
            as a teacher be the “source of all knowledge” yourself on any subject. Being the “sage on the stage” is a favored position by many teachers but is
            really best channeled into being a really great facilitator.
        </p>
    </li>
</ol>
<ol start="4">
    <li>
        <p>
            <strong>Delight in personalization</strong>
            . Hard to do without digital content and curriculum, but so very possible with it.
        </p>
    </li>
</ol>
<ol start="5">
    <li>
        <p>
            <strong>Be supremely organized.</strong>
            Whether managing a large class or group, or just managing deep personalization for one student, being organized and aware of digital resources ,
            projects, and cognizant of the time involved in any one assigned task is a new skill set required in the digital age.
        </p>
    </li>
</ol>
<ol start="6">
    <li>
        <p>
            <strong>Possibly be “placeless</strong>
            .<strong>” </strong> Imagine a class with no physical classroom or building, and managing a group and individual students anyway. Online teaching
            skills are much discussed these days.
        </p>
    </li>
</ol>
<ol start="7">
    <li>
        <p>
            <strong>An awesomely good example of personhood. </strong>
            This goes without saying, and you already <em>are</em> if you are a willing teacher anywhere.
        </p>
    </li>
</ol>
<p>
    While there are many more, all of those listed here are merely points of discussion. Differing realities exist in different schools.
</p>
<p>
    Send in your own comments on needed teacher features for today!
</p>
<p>
    ***
</p>
