<p>
    Digital Curriculum is a lot of things, but what it has yet to achieve is an agreed-upon set of words describing what it <em>is </em>and <em>does</em> to
    give it more context of what’s happening with it in schools today.
</p>
<p>
    One recent article at <a href="http://www.techlearning.com/features/0039/defining-digital-curriculum/54112">Tech &amp; Learning Magazine</a> interviewed
    various school technology leaders to ask them about defining digital curriculum. Mostly what was talked about was pretty broad. Please also see our article
    on (link! – Five Types of Curriculum things) addressing the creation of some major categories. In the course of the last five years I have also been in
    many conversations with school and publisher leadership about “what” digital curriculum is and is not.
</p>
<p>
    What we need is some new words to encapsulate what’s happening and allow us to communicate more completely.
</p>
<p>
    Let’s see about creating some new words out of the old words and their roots.
</p>
<p>
    Let’s take these categories:
</p>
<ol>
    <li>
        <p>
            <strong>Words that describe what: </strong>
        </p>
    </li>
</ol>
<p>
    Digital, curriculum, element, content, book, video, app, data, lesson, work, labor, test, assessment, text, game, software, computer, multi-media, mobile,
    sport
</p>
<ol start="2">
    <li>
        <p>
            <strong>Words that describe the creation:</strong>
            publish, write, develop, mobilize, digitize, design, fashioned, execute, pattern, devise, contrive, convey, intend, impose, communicate, give,
            tender, transfer, source,
        </p>
    </li>
    <li>
        <p>
            <strong>Words that describe the action:</strong>
            social, activity, compute, visual, touch, correlate, relate, include, inclusion, collaborate, reason, thought, think, absorb, cognate, cognition,
            recognize, recognition, recreation, jinks, revelry, play, study, transmit, distribute
        </p>
    </li>
    <li>
        <p>
            <strong>Words that describe the outcome:</strong>
            virtual, impart, social, assess, test, impart, receive, learn
        </p>
    </li>
</ol>
<p>
    individualized, personalized, collaborative, transmit, pathway, matrix, correlation,
</p>
<p>
    literacy, knowledge, understanding, awareness, transform, -erati (as in literati)
</p>
<p>
    All of these things, and probably more, are part of what’s happening with digital curriculum. They all describe some aspect of what’s going on with it.
</p>
<p>
    How about if we play with some of these as a mash-up of their meanings to come up with new words to anchor in new ways the world of digital curriculum?
</p>
<p>
    Note: All of the following have underpinnings defined from <a href="http://dictionary.reference.com/">Dictionary.com</a> Unabridged, based on the Random
    House Dictionary, © Random House, Inc. 2013, unless otherwise noted.
    <br/>
    <br/>
</p>
<p>
    <strong>Dicurrati</strong>
    – <em>meaning </em>literati (-ati) + digital (di) + curriculum (curr)
</p>
<p>
    Plural noun, singlular would be dicurratus.
</p>
<p>
    <u>NEW MADE UP DEFINITION</u>
    : conversant users and learners of digital curriculum.
    <em>
        The dicurrati convened annually at “the Gathering” event to discuss new learning accomplishments by the students. He is a dicurratus from Los Angeles
        Unified School District.
    </em>
</p>
<p>
    Combined from:
</p>
<p>
    <strong>digital – </strong>
adjective<strong>, </strong>definition # 9. available in electronic form; readable and manipulable by computer. <em><u>Origin:</u></em><em><strong> </strong></em> 1400–50; late Middle English &lt; Latin digitālis, equivalent to digit ( us ) (see    <a href="http://dictionary.reference.com/browse/digit">digit</a>) + -ālis <a href="http://dictionary.reference.com/browse/-al">-al</a><sup>1 </sup>
</p>
<p>
    <strong>literati -- </strong>
    plural noun, singular literatus, persons of scholarly or literary attainments; intellectuals.<strong> </strong>Origin:<strong> </strong>1615–25; &lt; Latin
    līterāti learned, scholarly people, noun use of plural of līterātus. See literate.
</p>
<p>
    <br/>
    <strong>curriculum</strong>
    <strong> </strong>
</p>
<p>
1824, modern coinage from L. curriculum <strong>"a</strong><strong> </strong><strong>running,</strong><strong> course, career,</strong>" from currere (see    <a href="http://dictionary.reference.com/browse/current">current</a>). Used in English as a Latin word since 1630s at Scottish universities.
</p>
<p>
    Online Etymology Dictionary, © 2010 Douglas Harper <a href="http://dictionary.reference.com/cite.html?qh=curriculum&amp;ia=etymon">Source</a>
</p>
<p>
    <strong>Virticullum</strong>
    – <em>meaning </em>virtual (virt-i) + curriculum (Cullum)
</p>
<p>
    Noun, plural would be verticulla.
</p>
<p>
    NEW MADE UP DEFINITION: virtual, particularly electronic, learning content and materials of any kind; as distinctly non-paper or film based.
    <em>
        The new teachers had to come to work a week early to work with the virticulla to be sure of how to use it with students. Johnny struggled with his math
        verticullum.
    </em>
</p>
<p>
    Combined from:
</p>
<p>
    <strong>virtual – </strong>
adjective, definition 3. temporarily simulated or <strong>extended by computer software</strong>: a virtual disk in RAM; virtual memory on a hard disk.<em>Origin: </em>1350–1400; Middle English &lt; Medieval Latin virtuālis, equivalent to Latin virtu ( s )    <a href="http://dictionary.reference.com/browse/virtue">virtue</a> + -ālis <a href="http://dictionary.reference.com/browse/-al">-al</a><sup>1 </sup>
</p>
<p>
    <strong>curriculum – see above. </strong>
    Also, <strong> </strong>noun, plural curricula, 1. the aggregate of courses of study given in a school, college, university, etc.: The school is adding
    more science courses to its curriculum.
</p>
<p>
    2. the regular or a particular course of study in a school, college, etc. <em>Origin: </em>
    <br/>
1625–35; &lt; Latin: action of running, course of action, race, chariot, equivalent to curr ( ere ) to run + -i-<a href="http://dictionary.reference.com/browse/-i-">-i-</a> + -culum <a href="http://dictionary.reference.com/browse/-cule">-cule</a><sup>2 </sup>+ -culum    <a href="http://dictionary.reference.com/browse/-cule">-cule</a><sup>2</sup>, -cule - variant of -cle1 : animalcule; molecule; reticule.
</p>
<p>
    Origin: (&lt; F) &lt; Latin -culus, -cula, -culum; see - <a href="http://dictionary.reference.com/browse/-cle">-cle</a><sup>1 </sup>-cle - a suffix found
in French loanwords of Latin origin, later in adaptations of words borrowed directly from Latin; in Latin, this suffix formed from<a href="http://dictionary.reference.com/browse/verbs">verbs</a> nouns that denoted a place appropriate to the action of the<a href="http://dictionary.reference.com/browse/verb">verb</a> ( cubicle, receptacle ) <strong>or</strong><strong> </strong><strong>a</strong><strong> </strong><strong>means</strong><strong> </strong><strong>by</strong><strong> <a href="http://dictionary.reference.com/browse/which">which</a> </strong><strong>the</strong><strong> </strong><strong>action</strong><strong> </strong><strong>is</strong><strong> </strong><strong>performed</strong><strong> </strong><strong>( </strong><strong>vehicle </strong>    <strong>). </strong><a href="http://dictionary.reference.com/cite.html?qh=-cle&amp;ia=luna">Source</a>
</p>
<p>
    impigital. (impart +digital) impig would mean to impart something digitally. Impigology would be the study of imparting something digitally. Impigashion
    would be to fashion something that digitally imparts. Or impigise.
</p>
<p>
    <strong>Impigit</strong>
    – <em>meaning </em>impart (imp) + digital (igit)
</p>
<p>
    Verb. Use it sort of like “impart” or “impress” with the idea of “knowledge” or “learning” implied. Also <em>impigiting, impigitate, impigitated</em>
</p>
<p>
    NEW MADE UP DEFINITION: the action of imparting knowledge digitally, especially to cause learning. Also the action of impressing upon someone with a
    digital element.
    <em>
The teacher was able to impigit civil war history through an eBook from the        <a href="http://statehistoricalsocietyofmissouri.org/cdm/landingpage/collection/ebookCW">State Historical Society of Missouri</a>. The new verticulla
        was really impigiting the math students. He was the only teacher that could impigitate biology with just mobile tablets, all the other teachers still
        needed live lab periods.
    </em>
</p>
<p>
    Other forms: impigology would be the study of imparting something digitally. Impigashion would be the fashioning of something that digitally imparts.
    Impigise would be an impig that is not precise.
</p>
<p>
    Combined from (see digital above, plus):
</p>
<p>
    <strong>Impart -- </strong>
verb (used with object), 1. to make known; tell; relate; disclose: to impart a secret., 2. to give; bestow; communicate:    <strong>to impart knowledge.</strong> 3. to grant a part or share of. <em>Origin:</em><em><strong> </strong></em>
    <br/>
1425–75; late Middle English &lt; Latin impartīre to share. See <a href="http://dictionary.reference.com/browse/im-">im-</a><sup>1 </sup>,    <a href="http://dictionary.reference.com/browse/part">part</a>
</p>
<p>
    And what about:
</p>
<p>
    <strong>Currtivity -</strong>
    For an activity that involves curriculum.
</p>
<p>
    <strong>Learnivity -</strong>
    For an activity that involves learning.
</p>
<p>
    <strong>Knowsfer - </strong>
    For knowledge transfer?
</p>
<p>
    <strong>Dourse - </strong>
    For digital course?
</p>
<p>
    <strong>Virsess - </strong>
    For virtual assessment?
</p>
<p>
    <strong>Digelate - </strong>
    For relating digitally?
</p>
<p>
    <strong>Velement -</strong>
    For virtual element?
</p>
<p>
    <strong>Dontent -</strong>
    For digital content?
</p>
<p>
    <strong>Dignition - </strong>
    For when a student has a digitally-related cognition? <em>And </em>they “dig it?”
</p>
<p>
    <strong>Virtognize -</strong>
    For when a student recognizes something digitally – indicating the program is working?
</p>
<p>
    <strong>Ditext –</strong>
    for digital text.
</p>
<p>
    <strong>Digithinkjink or just Digijink --</strong>
    For when the student is demonstrating digital “jinks” or tangential lines of reasoning that the app or computer program happens to accommodate (that paper
    textbooks just didn’t.) Perhaps by showing a side investigation the student links off to do on something before returning?
</p>
<p>
    Let us know what you think! Are there other words you can extrapolate out of the ones above? Others that are needed?
</p>
<p>
    Let’s start a communication revolution to accompany what we are doing to revolutionize education with technology.
</p>
<p>
    ***
</p>
