<p>
    What’s so hard about choosing digital curriculum, you say? Time.
</p>
<ol>
    <li>
        <p>
            Time it takes to choose.
        </p>
    </li>
    <li>
        <p>
            Time it takes to trial.
        </p>
    </li>
    <li>
        <p>
            Time it takes to see if it works.
        </p>
    </li>
</ol>
<p>
    Time is money, folks. So all the time spent choosing, vetting, and then seeing-if-it-works is money. Big money when extrapolated across every teacher,
    every school.
</p>
<p>
    <strong>Let’s talk about Time to Choose. </strong>
</p>
<p>
    The big three Publisher’s are trying to make it easier to make a choice, although wading through all the options is arduous. However, many of them don’t
    show price or provide live demos and trials. This means you have to go interact with their sales staff and spend unknown hours learning about all the
    potential pieces of curriculum.
</p>
<p>
    McGraw Hill is doing a fine job of showing options and with at least one of them that gives adaptive digital curriculum for a personalized reading practice
    program, entitled <a href="https://www.mheonline.com/program/view/1/1/2638/0076READLAB/">SRA Reading Laboratory 2.0</a>, is gratefully for all grades 1-12.
    This cuts down on the pasting-together of different programs for that objective for each and every grade. The cost of a 1-year license is just $2,829.00
    for up to 25 teachers and 500 students, and goes up from there. Many other options are offered, and a means of toggling between purely digital objects,
    digital solutions, and old-fashioned paper works.
</p>
<p>
    <%= image_tag("/assets/article-whats-so-hard-1.png", :alt => 'img whats so hard 1', :width => '619' ) %>
</p>
<p>
    McGraw Hill, like many other publishers, also offers apps and ebooks. Some of them are free, some of them are up to $2.99. They are not necessarily fit to
    objectives but sort of float untethered to exact particulars of grades and objectives. In addition, like most publishers, you have to link off to iTunes or
    Google to download them. This adds time and complexity.
</p>
<p>
    Pearson, the largest publisher in the K12 space, is equally complex. It took 6 clicks to get down to “mobile teaching and learning” in a search for
    curriculum, and then this page below. We but still hadn’t gotten down to the particulars of learning elements, trial offers, descriptions, screen shots and
    pricing. It is a clean and welcoming site, however, and organized along the way that many teacher and schools think. Pearson, ever-mergering, has many
    other products and systems and is valiantly trying to bring coherence to all.
</p>
<p>
    <%= image_tag("/assets/article-whats-so-hard-2.png", :alt => 'img whats so hard 2', :width => '619' ) %>
</p>
<p>
    Then there is Houghton, Mifflin, Harcourt. Bless them, they are trying to be simple on their web page. However, if I don’t know what I’m really looking
    for, and want an overview, where do I go?
</p>
<p>
    <%= image_tag("/assets/article-whats-so-hard-3.png", :alt => 'img whats so hard 3', :width => '460', :align => 'left' ) %>
</p>
<p>
    Clicking around in the Virtual Catalog brought up a helpful organizational structure, but when buttons were clicked on, PDF-type catalogs popped up.
    Without the ability to “drill down” into a product, but just read about it.
</p>
<p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</p>
<p>
    <%= image_tag("/assets/article-whats-so-hard-4.png", :alt => 'img whats so hard 4', :width => '619' ) %>
</p>
<br/>
<p>
    With so many materials, the major publishers would probably agree that it is nigh to impossible to streamline online interaction to find just what you
    need. This is especially true if you are in “shopping” mode and don’t even know what you need, but are possibly one of the tens of thousands of teachers
    who’ve seen tablets suddenly arrive in your classroom and are scrambling to fill up use of them while staying true to your goal of actually educating.
</p>
<p>
    Since there are thousands of sites with free stuff, and there <em>is </em>a shopping cost already inherent in the acquisition of content, sometimes it’s
    just easier to go get free digital content or make your own.
</p>
<p align="JUSTIFY">
	In the future, publishers are going to have to deal with the fact that there are many more competitors out there – both <em>for-profit </em>and    <em>not-for-profit</em>. A “competitor” exists in the fact of complexity in choosing, and the unquantifiable burden of how-much-lesson-time is needing to
    be taken up with digital elements of some sort for each subject and each type of teacher. These facts have added a cost burden for schools. Streamlining
    and adjusting to aid in every way to lower the cost-of-acquisition is going to be very important to their survival.
</p>
<p>
    <strong>Time it Takes to Trial</strong>
</p>
<p>
    All of the top publishers offer good content, but good is also a matter of opinion. Now let’s talk about Time-it-takes-to-trial.
</p>
<p>
    The time it takes to trial something is <em>a lot of work on the school side. </em>An unsuspecting teacher has to be yanked aside and either demandingly
    told they’ll be doing a trial by some autocratic curriculum person, principal or superintendent, or enticed in some way. Then there is much discussion.
    Then there is some level of fast-turn professional development. Not too much, the item is till on trial. Then there is the how and the when in the lesson
    planning. If there are a number of learning objects, systems, or sites, this adds to the yanking around. All this costs in staff time, and we don’t even
    know yet if the teacher will really use it. Further, we don’t know if it’s going to be around next year to be re-used or if the publisher will be adding
    more complexity by revamping it.
</p>
<p>
    These days, there is more yanking around than enticing in many schools because leadership has very little time to <em>ask</em> politely. Either that, or
    they let the all teachers run amok and choose all their own elements for digital curriculum. Curriculum Director’s spend their time surveying for “what
    else is needed” and work to fill that in. Sometimes they do the surfing around or the custom digital building or the sending-of-a-link to the teacher to
    help. It’s a bit of a mad house in most instances, and tensions are abnormally high just before the start of a school year, especially if a big 1-1
    roll-out or BYOD practice is expected.
</p>
<p>
    <strong>Time it Takes to See if it works. </strong>
</p>
<p>
    The time it takes to see if it works is almost universally overlooked when it comes to digital curriculum. There is so much excitement about the fact that
    it’s not paper anymore, and perhaps has some interaction to it, than any digital curriculum is “cool” right now. Yet what happens if “cool” and actual
    learning dissect and go off on different paths. The “cool” is soon going to be very unhealthy for schools.
</p>
<p>
    The “works” reason is the <strong>primary reason to go with professional publishers. </strong>They have much to lose if what they sell you for digital
    curriculum <em>doesn’t work</em> and actually makes a mess of kids’ reading ability, mathematic or science skills, or they graduate thinking the Civil War
    was fought because Lincoln was shot for being un<em>civil </em>in a theatre. In fact, what they have to lose is money. Money is not a dirty word, it’s the
    grease of innovation and accountability. You have to be accountable in any job, doing <em>something</em> to get paid, and educational publishers focus on
    the art of curriculum.
</p>
<p>
    Getting paid for it and accountability are not true of many teachers who are making their own curriculum. They are paid to teach, not be curriculum
    designers, and often don’t know what an instructional design flaw is. It is easy for them to fail at making-their-own or playing hunter-gatherer, and then
    fall back on the fact that they were only supposed to teach. They are usually right in this. In any case, when freely created internally by schools, an odd
    thing often happens – there is no vetting. There is also no later-measurement of it particularly other than general test scores.
</p>
<p>
    Many teachers and instructional designers <em>do </em>make great digital curriculum, and this job area is becoming a newly-recognized hot thing for
    schools. It’s also too new to tell if it is highly workable. In any case, spending time on curriculum creation to save money is really not very different
    than spending money on time to save creation – paying for the time it took a publisher to create the same, or better, materials. Have you don’t the math to
    see how much “cost savings” is <em>really</em> in creation versus purchase? Or even hunt-down-for-free, and keep adapting or finding year after year,
    versus purchase? The cost for public sector employees to the State could be more than the cost of private sector, even with profit on products, because
remember, the private sector doesn’t have the glorious retirement and health benefits that the public sector gets. Those are a cost all their own, and    <em>could be</em>, only because the math may have never been done for such a grand comparison but it is worth considering. This discussion is one schools
    should have, no matter which preference they end up going with.
</p>
<p>
    The “works” discussion is also of way more importance than anything else because it determines the entire futures of students, those little human beings
    who may or may not learn and so may or may not be successful in life. This is weightier than the other two “time” considerations.
</p>
<p>
    The time-it-takes-to-see-if-it-works is the most critical time and function of all in choosing digital curriculum.
</p>
<p>
    ***
</p>
