<% provide(:title, 'File Upload') %>

					
	<div style="width: 1000px; margin-right: auto; margin-left: auto; background: #fff;">

		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
					<div id="mainkolumn" class="withsidebar">
						<div id="k-articlecontent">
		    				
							<bodycopy id="bodykopy">

								<%= render 'stores/upload_files'%>
								
							</bodycopy>
	
						</div>
	
						<br clear="all">
						
					</div>
	
					<div id="k-sidebar">
						<div id="k-sidebar_inner">

						</div>
					</div>

					<br clear="all">
			
					<div style="height: 100px;"></div>
					
			</div>
			
		</section>
		
	</div>
		
