<% provide(:title, 'About') %>

		<style type="text/css">
			#wsb-element-68402522 {
				top: 336px;
				left: 8px;
				position: absolute;
				z-index: 26
			}
			#wsb-element-68402522 {
				width: 877px;
				height: 73px
			}
			#wsb-element-68402523 {
				top: 17px;
				left: 11px;
				position: absolute;
				z-index: 39
			}
			#wsb-element-68402523 .txt {
				width: 876px;
				height: 16px;
				padding: 0px
			}
			#wsb-element-68402526 {
				top: 58px;
				left: 401px;
				position: absolute;
				z-index: 84
			}
			#wsb-element-68402526 > div {
				width: 98px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402526 > div > div {
				width: 98px;
				height: 35px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402526 img {
				position: absolute
			}
			#wsb-element-68402529 {
				top: 332px;
				left: 11px;
				position: absolute;
				z-index: 25
			}
			#wsb-element-68402529 .wsb-shape {
				width: 879px;
				height: 49px;
				padding: 0px
			}
			#wsb-element-68402561 {
				top: 441px;
				left: 321px;
				position: absolute;
				z-index: 165
			}
			#wsb-element-68402561 .wsb-line-element {
				width: 568px;
				height: 20px
			}
			#wsb-element-68402562 {
				top: 440px;
				left: 11px;
				position: absolute;
				z-index: 164
			}
			#wsb-element-68402562 .wsb-line-element {
				width: 290px;
				height: 20px
			}
			#wsb-element-68402563 {
				top: 408px;
				left: 319px;
				position: absolute;
				z-index: 163
			}
			#wsb-element-68402563 .txt {
				width: 438px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402564 {
				top: 415px;
				left: 11px;
				position: absolute;
				z-index: 162
			}
			#wsb-element-68402564 .txt {
				width: 277px;
				height: 28px;
				padding: 0px
			}
			#wsb-element-68402565 {
				top: 732px;
				left: 17px;
				position: absolute;
				z-index: 166
			}
			#wsb-element-68402565 .txt {
				width: 271px;
				height: 341px;
				padding: 0px
			}
			#wsb-element-68402566 {
				top: 479px;
				left: 511px;
				position: absolute;
				z-index: 168
			}
			#wsb-element-68402566 .txt {
				width: 344px;
				height: 188px;
				padding: 0px
			}
			#wsb-element-68402567 {
				top: 474px;
				left: 321px;
				position: absolute;
				z-index: 167
			}
			#wsb-element-68402567 > div {
				width: 173px;
				height: 173px;
				padding: 0px
			}
			#wsb-element-68402567 > div > div {
				width: 173px;
				height: 173px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402567 img {
				position: absolute
			}
			#wsb-element-68402568 {
				top: 937px;
				left: 319px;
				position: absolute;
				z-index: 171
			}
			#wsb-element-68402568 .wsb-line-element {
				width: 568px;
				height: 20px
			}
			#wsb-element-68402572 {
				top: 938px;
				left: 9px;
				position: absolute;
				z-index: 175
			}
			#wsb-element-68402572 .wsb-line-element {
				width: 290px;
				height: 20px
			}
			#wsb-element-68466237 {
				top: 671px;
				left: 511px;
				position: absolute;
				z-index: 189
			}
			#wsb-element-68466237 .txt {
				width: 347px;
				height: 154px;
				padding: 0px
			}
			#wsb-element-68466238 {
				top: 671px;
				left: 321px;
				position: absolute;
				z-index: 188
			}
			#wsb-element-68466238 > div {
				width: 173px;
				height: 173px;
				padding: 0px
			}
			#wsb-element-68466238 > div > div {
				width: 173px;
				height: 173px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68466238 img {
				position: absolute
			}
			#wsb-element-68475986 {
				top: 474px;
				left: 18px;
				position: absolute;
				z-index: 191
			}
			#wsb-element-68475986 .txt {
				width: 278px;
				height: 171px;
				padding: 0px
			}
			#wsb-element-68475987 {
				top: 691px;
				left: 21px;
				position: absolute;
				z-index: 190
			}
			#wsb-element-68475987 .txt {
				width: 277px;
				height: 28px;
				padding: 0px
			}
			#wsb-element-68596283 {
				top: 132px;
				left: 14px;
				position: absolute;
				z-index: 181
			}
			#wsb-element-68596283 .txt {
				width: 174px;
				height: 67px;
				padding: 0px
			}
			#wsb-element-72925092 {
				top: 15px;
				left: 14px;
				position: absolute;
				z-index: 184
			}
			#wsb-element-72925092 > div {
				width: 151px;
				height: 117px;
				padding: 0px
			}
			#wsb-element-72925092 > div > div {
				width: 151px;
				height: 117px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-72925092 img {
				position: absolute
			}
		</style>
				<div class="wsb-canvas-scrollable" style="background-color: #191919; background-image: url(//nebula.wsimg.com/c87cadaefe289f6101f1ae2d8dfc9822?AccessKeyId=0C14E31F34058210C74E); background-position-x: left; background-position-y: top; background-position: left top; background-repeat: repeat; position: absolute; width: 100%; height: 100%;"></div>
				<div id="wsb-canvas-template-page" class="wsb-canvas-page page" style="height: 1305px; margin: auto; width: 900px; background-color: #ffffff; position: relative; ">
					<div id="wsb-canvas-template-container" style="position: absolute;">
					
						<div id="wsb-element-68402522" class="wsb-element-navigation" data-type="element">
							<div style="width: 877; height: 73; " class="wsb-nav nav_theme nav-btn-left nav-text-left nav-horizontal wsb-navigation-rendered-top-level-container" id="wsb-nav-68402522">
								<style>
									#wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover > a, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active > a:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover > a {
										background-color: !important;
										color: !important;
									}
								</style>
								
								<%= render(:partial => "share/navigate") %>
								
							</div>
						</div>						
						
						<div id="wsb-element-68402529" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape_grey " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 49px; width: 879px;"></div>
						</div>
						<div id="wsb-element-68402561" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 568px; height: 20px; border-top: 4px solid #212121;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68402562" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 290px; height: 20px; border-top: 4px solid #b8b8b8;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68402563" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1>Who Are We?</h1>
							</div>
						</div>
						<div id="wsb-element-68402564" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h2>Our Mission</h2>
							</div>
						</div>
						<div id="wsb-element-68402565" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<ul>
									<li>
										A forthcoming Directory Service for data on digital content and curriculum with a <em>special twist. </em>
									</li>
									<li>
										<em></em>Consulting on the Education market's transition to all digital content.
									</li>
									<li>
										Research
									</li>
									<li>
										Custom Publishing
									</li>
									<li>
										Events
									</li>
									<p>
										&nbsp;
									</p>
								</ul>
							</div>
						</div>
						<div id="wsb-element-68402566" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h5><span style="line-height: 1.4;">Leilani cauthen, executive director</span></h5>
								<p>
									<span style="line-height: 1.4;">Well versed&nbsp;in digital content and curriculum change, the adoption process, successful strategies, and helping schools understand what's available and what will work.&nbsp; </span>
								</p>
								<ul>
									<li>
										Former Publisher, Center for Digital Education <em>Special Reports</em>
									</li>
									<li>
										Former Vice President, Center for Digital Education<em></em><em></em><em></em>
									</li>
									<li>
										Media, research, marketing and sales professional with 26 years experience in high tech and Education sector.&nbsp;
									</li>
								</ul>
							</div>
						</div>
						<div id="wsb-element-68402567" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/ac6f9c177291248ff8b6e6feace71329?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:173;height:173px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68402568" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 568px; height: 20px; border-top: 4px solid #212121;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68402572" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 290px; height: 20px; border-top: 4px solid #b8b8b8;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68466237" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h5><span style="line-height: 1.4;">David kafitz, VP Consulting</span></h5>
								<p>
									<span style="line-height: 1.4;">Expert and charismatic change-agent helping schools move forward with a well-reasoned strategy for digital content and curriculum with complementary personnel and IT strategy.&nbsp; </span>
								</p>
								<ul>
									<li>
										Former Superintendent, Watauga County Schools, Boone, NC
									</li>
									<li>
										Former Principal, East Elementary School, &amp; New Town Elementary, Union County Public Schools
									</li>
									<li>
										Former Director Technology Services, Union County Public Schools
									</li>
									<li>
										Consultant on IT and Education with a track record of real-life implementations.&nbsp;
									</li>
								</ul>
								<p>
									&nbsp;
								</p>
							</div>
						</div>
						<div id="wsb-element-68466238" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/fab46669d32d6f97e7daafb9b10f620d?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:173;height:173px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68475986" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h5><span style="line-height: 1.4;">resources and perspective </span></h5>
								<p>
									<span style="line-height: 1.4;"></span>
								</p>
								The more than $15 Billion curriculum industry is in transition, maneuvering through the intersection of policy, technology leadership, old habits and new enthusiasms.&nbsp; The Learning Counsel seeks to bring consulting and online resources for everyone in the fray, from school seekers-of-resources to industry partners in need of services.&nbsp;&nbsp;We&nbsp;are building an agnostic media and sharing platform&nbsp;to advise schools on&nbsp;all things related to&nbsp;digital content and curriculum.&nbsp; . &nbsp;
								<p>
									&nbsp;
								</p>
							</div>
						</div>
						<div id="wsb-element-68475987" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h2>services list</h2>
							</div>
						</div>
						<div id="wsb-element-68596283" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="color: rgb(0, 100, 0);"><strong></strong></span>								<pre style="font-family: inherit;">Free Search and News on the Shift to Digital Learning Content &amp; Curriculum </pre>
							</div>
						</div>
						<div id="wsb-element-72925092" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/c7958f53d53243a02eb89f4cee83fe1a?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:151;height:117px;">
								</div>
							</div>
						</div>
					</div>
				</div>
				
<%= render 'share/footer_social'%>
<%= render 'share/temp_nav'%>
