<% provide(:title, 'Directory') %>

		<style type="text/css">
			#wsb-element-68402522 {
				top: 336px;
				left: 8px;
				position: absolute;
				z-index: 26
			}
			#wsb-element-68402522 {
				width: 877px;
				height: 73px
			}
			#wsb-element-68402523 {
				top: 17px;
				left: 11px;
				position: absolute;
				z-index: 39
			}
			#wsb-element-68402523 .txt {
				width: 876px;
				height: 16px;
				padding: 0px
			}
			#wsb-element-68402526 {
				top: 58px;
				left: 401px;
				position: absolute;
				z-index: 84
			}
			#wsb-element-68402526 > div {
				width: 98px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402526 > div > div {
				width: 98px;
				height: 35px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402526 img {
				position: absolute
			}
			#wsb-element-68402529 {
				top: 332px;
				left: 11px;
				position: absolute;
				z-index: 25
			}
			#wsb-element-68402529 .wsb-shape {
				width: 879px;
				height: 49px;
				padding: 0px
			}
			#wsb-element-68596283 {
				top: 132px;
				left: 14px;
				position: absolute;
				z-index: 181
			}
			#wsb-element-68596283 .txt {
				width: 174px;
				height: 67px;
				padding: 0px
			}
			#wsb-element-72925092 {
				top: 15px;
				left: 14px;
				position: absolute;
				z-index: 184
			}
			#wsb-element-72925092 > div {
				width: 151px;
				height: 117px;
				padding: 0px
			}
			#wsb-element-72925092 > div > div {
				width: 151px;
				height: 117px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-72925092 img {
				position: absolute
			}
			#wsb-element-74160331 {
				top: 18px;
				left: 277px;
				position: absolute;
				z-index: 185
			}
			#wsb-element-74160331 .txt {
				width: 532px;
				height: 78px;
				padding: 0px
			}
			#wsb-element-74163067 {
				top: 179px;
				left: 245px;
				position: absolute;
				z-index: 186
			}
			#wsb-element-74163067 .wsb-button {
				width: 73px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
			#wsb-element-74164678 {
				top: 179px;
				left: 340px;
				position: absolute;
				z-index: 187
			}
			#wsb-element-74164678 .wsb-button {
				width: 73px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
			#wsb-element-74167773 {
				top: 96px;
				left: 441.5px;
				position: absolute;
				z-index: 189
			}
			#wsb-element-74167773 .txt {
				width: 203px;
				height: 41px;
				padding: 0px
			}
			#wsb-element-74167774 {
				top: 96px;
				left: 245px;
				position: absolute;
				z-index: 188
			}
			#wsb-element-74167774 .txt {
				width: 222px;
				height: 38px;
				padding: 0px
			}
			#wsb-element-74171062 {
				top: 94.5px;
				left: 655px;
				position: absolute;
				z-index: 190
			}
			#wsb-element-74171062 .txt {
				width: 203px;
				height: 41px;
				padding: 0px
			}
			#wsb-element-74172722 {
				top: 113px;
				left: 439px;
				position: absolute;
				z-index: 192
			}
			#wsb-element-74172722 .wsb-line-element {
				width: 200px;
				height: 22px
			}
			#wsb-element-74172723 {
				top: 114px;
				left: 230px;
				position: absolute;
				z-index: 191
			}
			#wsb-element-74172723 .wsb-line-element {
				width: 200px;
				height: 22px
			}
			#wsb-element-74175352 {
				top: 127px;
				left: 650px;
				position: absolute;
				z-index: 196
			}
			#wsb-element-74175352 .wsb-shape {
				width: 196px;
				height: 28px;
				border: solid 0.99px #a9b4bb;
				padding: 0px;
				background-color: #e5edf2
			}
			#wsb-element-74175353 {
				top: 127px;
				left: 441px;
				position: absolute;
				z-index: 195
			}
			#wsb-element-74175353 .wsb-shape {
				width: 196px;
				height: 28px;
				border: solid 0.99px #a9b4bb;
				padding: 0px;
				background-color: #e5edf2
			}
			#wsb-element-74175354 {
				top: 127px;
				left: 230px;
				position: absolute;
				z-index: 194
			}
			#wsb-element-74175354 .wsb-shape {
				width: 196px;
				height: 28px;
				border: solid 0.99px #a9b4bb;
				padding: 0px;
				background-color: #e5edf2
			}
			#wsb-element-74175355 {
				top: 113px;
				left: 650px;
				position: absolute;
				z-index: 193
			}
			#wsb-element-74175355 .wsb-line-element {
				width: 200px;
				height: 22px
			}
			#wsb-element-74177704 {
				top: 132px;
				left: 665px;
				position: absolute;
				z-index: 199
			}
			#wsb-element-74177704 .txt {
				width: 116px;
				height: 20px;
				padding: 0px
			}
			#wsb-element-74177705 {
				top: 133px;
				left: 450px;
				position: absolute;
				z-index: 198
			}
			#wsb-element-74177705 .txt {
				width: 116px;
				height: 20px;
				padding: 0px
			}
			#wsb-element-74177706 {
				top: 132px;
				left: 245px;
				position: absolute;
				z-index: 197
			}
			#wsb-element-74177706 .txt {
				width: 116px;
				height: 20px;
				padding: 0px
			}
			#wsb-element-74182356 {
				top: 180px;
				left: 430px;
				position: absolute;
				z-index: 203
			}
			#wsb-element-74182356 .wsb-button {
				width: 73px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
			#wsb-element-74182357 {
				top: 180px;
				left: 101px;
				position: absolute;
				z-index: 202
			}
			#wsb-element-74182357 .txt {
				width: 130px;
				height: 72px;
				padding: 0px
			}
			#wsb-element-74182358 {
				top: 225px;
				left: 340px;
				position: absolute;
				z-index: 201
			}
			#wsb-element-74182358 .wsb-button {
				width: 73px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
			#wsb-element-74182359 {
				top: 225px;
				left: 245px;
				position: absolute;
				z-index: 200
			}
			#wsb-element-74182359 .wsb-button {
				width: 73px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
			#wsb-element-74183648 {
				top: 225px;
				left: 430px;
				position: absolute;
				z-index: 204
			}
			#wsb-element-74183648 .wsb-button {
				width: 74px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
			#wsb-element-74184247 {
				top: 180px;
				left: 526px;
				position: absolute;
				z-index: 205
			}
			#wsb-element-74184247 .wsb-button {
				width: 74px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
			#wsb-element-74185706 {
				top: 224px;
				left: 526px;
				position: absolute;
				z-index: 206
			}
			#wsb-element-74185706 .wsb-button {
				width: 76px;
				height: 30px;
				color: #fff;
				border: solid 0px #30a612;
				padding: 0px;
				background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#5fcf34),color-stop(1,#1ea612));
				background-image: -webkit-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -moz-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -o-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: -ms-linear-gradient(top,#5fcf34 0%,#1ea612 100%);
				background-image: linear-gradient(to bottom,#5fcf34,#1ea612);
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#5fcf34',endColorstr='#1ea612');
				-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorStr='#5fcf34',endColorStr='#1ea612')
			}
		</style>
		
				<div class="wsb-canvas-scrollable" style="background-color: #191919; background-image: url(//nebula.wsimg.com/c87cadaefe289f6101f1ae2d8dfc9822?AccessKeyId=0C14E31F34058210C74E); background-position-x: left; background-position-y: top; background-position: left top; background-repeat: repeat; position: absolute; width: 100%; height: 100%;"></div>
				<div id="wsb-canvas-template-page" class="wsb-canvas-page page" style="height: 1400px; margin: auto; width: 900px; background-color: #ffffff; position: relative; ">
					<div id="wsb-canvas-template-container" style="position: absolute;">
						<div id="wsb-element-68402522" class="wsb-element-navigation" data-type="element">
							<div style="width: 877; height: 73; " class="wsb-nav nav_theme nav-btn-left nav-text-left nav-horizontal wsb-navigation-rendered-top-level-container" id="wsb-nav-68402522">
								<style>
									#wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover > a, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active > a:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover > a {
										background-color: !important;
										color: !important;
									}
								</style>
								
								<%= render(:partial => "share/navigate") %>
								
							</div>
						</div>
						<div id="wsb-element-68402529" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape_grey " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 49px; width: 879px;"></div>
						</div>
						<div id="wsb-element-68596283" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="color: rgb(0, 100, 0);"><strong></strong></span>								<pre style="font-family: inherit;">Free Search and News on the Shift to Digital Learning Content &amp; Curriculum </pre>
							</div>
						</div>
						<div id="wsb-element-72925092" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/c7958f53d53243a02eb89f4cee83fe1a?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:151;height:117px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-74160331" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h3>See start of database-linked site work here at draft site:</h3><h3><a href="http://glacial-savannah-1144.herokuapp.com/home" data-cke-saved-href="http://glacial-savannah-1144.herokuapp.com/home" target=""><span style="color: rgb(255, 0, 0);">http://glacial-savannah-1144.herokuapp.com/home</span></a><span style="color: rgb(255, 0, 0);"> .</span></h3>
							</div>
						</div>
						<div id="wsb-element-74163067" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">Platform</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-74164678" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">Subject</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-74167773" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="color: rgb(128, 128, 128);"></span><h1>&nbsp;<span style="color: rgb(105, 105, 105);">I am a Teacher</span></h1>
							</div>
						</div>
						<div id="wsb-element-74167774" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1><span style="color: rgb(128, 128, 128);">I am a School</span></h1>
							</div>
						</div>
						<div id="wsb-element-74171062" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="color: rgb(128, 128, 128);"></span><h1>&nbsp;<span style="color: rgb(105, 105, 105);">I am a Student</span></h1>
							</div>
						</div>
						<div id="wsb-element-74172722" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 200px; height: 22px; width: 200px;border-top: 2px solid #999;margin: 10px 0;opacity: 1;filter: alpha(opacity=1);"></div>
						</div>
						<div id="wsb-element-74172723" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 200px; height: 22px; width: 200px;border-top: 2px solid #999;margin: 10px 0;opacity: 1;filter: alpha(opacity=1);"></div>
						</div>
						<div id="wsb-element-74175352" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 28px; width: 196px;"></div>
						</div>
						<div id="wsb-element-74175353" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 28px; width: 196px;"></div>
						</div>
						<div id="wsb-element-74175354" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 28px; width: 196px;"></div>
						</div>
						<div id="wsb-element-74175355" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 200px; height: 22px; width: 200px;border-top: 2px solid #999;margin: 10px 0;opacity: 1;filter: alpha(opacity=1);"></div>
						</div>
						<div id="wsb-element-74177704" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<p>
									SEARCH &amp; WIZARD
								</p>
							</div>
						</div>
						<div id="wsb-element-74177705" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<p>
									SEARCH &amp; WIZARD
								</p>
							</div>
						</div>
						<div id="wsb-element-74177706" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<p>
									SEARCH &amp; WIZARD
								</p>
							</div>
						</div>
						<div id="wsb-element-74182356" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">Free/Paid</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-74182357" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1>Search by</h1><h2>&nbsp;</h2>
							</div>
						</div>
						<div id="wsb-element-74182358" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">Grade</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-74182359" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">Type</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-74183648" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">LessonTime</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-74184247" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">Standards</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-74185706" class="wsb-element-button" data-type="element">
							<div>
								<a>
								<div class="wsb-button button_green ">
									<span class="button-content wsb-button-content" style="white-space:nowrap">Ratings</span>
								</div></a>
							</div>
						</div>
					</div>
				</div>
				
<%= render 'share/footer_social'%>
<%= render 'share/temp_nav'%>
