<% provide(:title, 'Industry News') %>

		<style type="text/css">
			#wsb-element-68402522 {
				top: 336px;
				left: 8px;
				position: absolute;
				z-index: 26
			}
			#wsb-element-68402522 {
				width: 877px;
				height: 73px
			}
			#wsb-element-68402523 {
				top: 17px;
				left: 11px;
				position: absolute;
				z-index: 39
			}
			#wsb-element-68402523 .txt {
				width: 876px;
				height: 16px;
				padding: 0px
			}
			#wsb-element-68402526 {
				top: 58px;
				left: 401px;
				position: absolute;
				z-index: 84
			}
			#wsb-element-68402526 > div {
				width: 98px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402526 > div > div {
				width: 98px;
				height: 35px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402526 img {
				position: absolute
			}
			#wsb-element-68402529 {
				top: 332px;
				left: 11px;
				position: absolute;
				z-index: 25
			}
			#wsb-element-68402529 .wsb-shape {
				width: 879px;
				height: 49px;
				padding: 0px
			}
			#wsb-element-68416624 {
				top: 1529px;
				left: 27px;
				position: absolute;
				z-index: 91
			}
			#wsb-element-68416624 > div {
				width: 181px;
				height: 130px;
				padding: 0px
			}
			#wsb-element-68416624 > div > div {
				width: 181px;
				height: 130px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68416624 img {
				position: absolute
			}
			#wsb-element-68416625 {
				top: 404px;
				left: 227px;
				position: absolute;
				z-index: 90
			}
			#wsb-element-68416625 .txt {
				width: 654px;
				height: 507px;
				padding: 0px
			}
			#wsb-element-68416626 {
				top: 419px;
				left: 41px;
				position: absolute;
				z-index: 89
			}
			#wsb-element-68416626 > div {
				width: 178px;
				height: 150px;
				padding: 0px
			}
			#wsb-element-68416626 > div > div {
				width: 178px;
				height: 150px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68416626 img {
				position: absolute
			}
			#wsb-element-68420220 {
				top: 922px;
				left: 52px;
				position: absolute;
				z-index: 91
			}
			#wsb-element-68420220 > div {
				width: 160px;
				height: 139px;
				padding: 0px
			}
			#wsb-element-68420220 > div > div {
				width: 160px;
				height: 139px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68420220 img {
				position: absolute
			}
			#wsb-element-68420221 {
				top: 923px;
				left: 226px;
				position: absolute;
				z-index: 92
			}
			#wsb-element-68420221 .txt {
				width: 646px;
				height: 505px;
				padding: 0px
			}
			#wsb-element-68451596 {
				top: 1452px;
				left: 228px;
				position: absolute;
				z-index: 170
			}
			#wsb-element-68451596 .txt {
				width: 650px;
				height: 857px;
				padding: 0px
			}
			#wsb-element-68596283 {
				top: 132px;
				left: 14px;
				position: absolute;
				z-index: 181
			}
			#wsb-element-68596283 .txt {
				width: 174px;
				height: 67px;
				padding: 0px
			}
			#wsb-element-72925092 {
				top: 15px;
				left: 14px;
				position: absolute;
				z-index: 184
			}
			#wsb-element-72925092 > div {
				width: 151px;
				height: 117px;
				padding: 0px
			}
			#wsb-element-72925092 > div > div {
				width: 151px;
				height: 117px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-72925092 img {
				position: absolute
			}
		</style>
		
				<div class="wsb-canvas-scrollable" style="background-color: #191919; background-image: url(//nebula.wsimg.com/c87cadaefe289f6101f1ae2d8dfc9822?AccessKeyId=0C14E31F34058210C74E); background-position-x: left; background-position-y: top; background-position: left top; background-repeat: repeat; position: absolute; width: 100%; height: 100%;"></div>
				<div id="wsb-canvas-template-page" class="wsb-canvas-page page" style="height: 2433px; margin: auto; width: 900px; background-color: #ffffff; position: relative; ">
					<div id="wsb-canvas-template-container" style="position: absolute;">
						
						<div id="wsb-element-68402522" class="wsb-element-navigation" data-type="element">
							<div style="width: 877; height: 73; " class="wsb-nav nav_theme nav-btn-left nav-text-left nav-horizontal wsb-navigation-rendered-top-level-container" id="wsb-nav-68402522">
								<style>
									#wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover > a, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active > a:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover > a {
										background-color: !important;
										color: !important;
									}
								</style>
								
								<%= render(:partial => "share/navigate") %>

							</div>
						</div>						
						<div id="wsb-element-68402529" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape_grey " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 49px; width: 879px;"></div>
						</div>
						<div id="wsb-element-68416624" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/894b39acb47a0b404068747dda7f5432?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:181;height:130px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68416625" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1><span style="font-size: 14pt;" id="yui_3_7_2_1_1378166372313_2059">Achieve3000 Expands on Successful Formula for Accelerating Literacy Through Differentiated Instruction</span></h1>								<pre style="font-family: inherit;">LAKEWOOD, N.J. – Aug. 21, 2013 – Achieve3000 todayunveiled a new release of its online differentiated literacy solutions that have been shown to rapidly accelerate literacy gains, boost academic performance across the curriculum, and prepare students for rigorous new standards and state assessments. Millions of U.S. students currently use Achieve3000’s KidBiz3000™, TeenBiz3000™, and Empower3000™ to build the literacy skills required for college and career readiness. Data show that students who use Achieve3000 regularly show remarkable gains in Lexile® reading scores—up to triple the expected norms. <br><br>The Lexile Framework is unique because it measures text difficulty and reader ability on the same scale. This makes for an exceptionally effective matching of readers to appropriate texts. The new release employs the same classroom-tested literacy routine that has generated remarkable results for the past 14 years, and applies that routine in lessons that are rich in science and social studies content. This will help students build literacy skills and content-area knowledge simultaneously, while helping share the responsibility of literacy development across the content areas. New lessons also provide opportunities for students to synthesize information from a variety of sources and cite evidence when making and supporting arguments—key skills that are required under the new Common Core State Standards. In addition, the system provides practice with interactive assessments similar to the latest Common Core and state tests. In addition, the system features a Career Center, where students can select careers that interest them and find the Lexile levels that are necessary to be successful in those jobs. The system automatically tracks their progress towards that goal, providing a unique motivational tool to encourage students to try even harder. <br><br>Teachers will also see new lesson planning resources and scaffolds that enable them to meet the needs of special populations, such as struggling readers, English language learners, and gifted and talented students. “At Achieve3000, we are laser-focused on finding new ways to leverage differentiated instruction and powerful technology to accelerate student gains in reading and, ultimately, across the curriculum,” said Achieve3000 CEO and Founder Saki Dodelson. “Year after year, students learning with Achieve3000’s solutions have seen rapid improvement in reading proficiency. Our new design builds on that success with program enhancements that will help all students develop the college and career skills necessary to meet and exceed today’s more rigorous learning and assessment goals.”</pre>
							</div>
						</div>
						<div id="wsb-element-68416626" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/8bb958c30308a28ff7bf0629d70687c2?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:178;height:150px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68420220" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/09394c015834fc6370644058d2508026?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:160;height:139px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68420221" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="font-size: 14pt;" id="yui_3_7_2_1_1378166372313_2059"></span><h1><span style="font-size: 16px;">Follett, Hachette Book Group Partner to Distribute Children’s Ebooks</span></h1>								<pre style="font-family: inherit;">Agreement Expands Follett’s Leading Position in Ebook Content, Technology for SchoolsMCHENRY, Ill.,<br><br> Aug. 8, 2013 – Follett today announced a partnership with U.S. trade publisher Hachette Book Group (HBG) to provide preK-12 school libraries and students expanded access to popular children’s titles in an ebook lending format for the 2013-2014 school year. <br><br>E-book offerings published under HBG's Little, Brown Books for Young Readers imprint include noteworthy books such as the Ninth Ward (Coretta Scott King Author Honor Book Award) and The Absolutely True Diary of a Part-Time Indian (National Book Award Winner). “Our goal is to have authors’ work available to schools and students as technologies and reading habits evolve, and this partnership with Follett helps us in this effort,” said Evan Schnittman, HBG's EVP, Chief Marketing and Sales Officer. <br><br>HBG's wide array of titles are available for purchase on Titlewave®, Follett’s powerful collection development, search and ordering tool. With the new HBG partnership, Follett now offers more than 190,000 ebook titles through Titlewave. <br><br>“As one of Follett’s largest partners, HBG offers a wide variety of quality ebook titles that customers can circulate to students for as long as needed to support the school’s educational needs,” said Todd Litzsinger, President of Follett’s Content Solutions and Services. “The addition of HBG’s ebook titles reflects our mission of helping educators engage students with content and technology that drives learning outcomes.” The HBG announcement marks Follett’s second trade publisher ebook partnership so far this summer; Follett and Random House entered into a similar ebook distribution agreement in June.<br><br>With books increasingly moving to digital formats, Follett has been at the forefront of the transition with tools and solutions that help customers access, adapt and integrate the new forms of content within the school library and classroom environments. For example, FollettShelf® is the digital shelf most used by schools to access ebooks, and the Follett Digital Reader™ provides students with a consistent and easy-to-use ebook reading environment on their desktops, tablets and smartphones. Today, 28 million students and educators in 42,000 schools worldwide use ebooks provided by Follett. To learn more about Follett, visitwww.follettlearning.com.</pre>
							</div>
						</div>
						<div id="wsb-element-68451596" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="font-size: 14pt;" id="yui_3_7_2_1_1378166372313_2059"></span><span style="font-size: 16px;"></span><h5 style="font-family: inherit;"><strong>MOORESVILLE GRADED SCHOOL DISTRICT TRANSFORMS SOCIAL STUDIES CURRICULUM WITH DISCOVERY EDUCATION DIGITAL TEXTBOOK </strong>
								<br>
								-- Mooresville Graded School District deepens partnership with Discovery Education preparing students for global Citizenship with digital content --
								<br>
								</h5>								<pre style="font-family: inherit;">Silver Spring, Md. (Aug. 5, 2013) – The nationally recognized Mooresville Graded School District (MGSD) and Discovery Education, the leading provider of digital content for K-12 classrooms, announced today an expansion of their partnership that brings Discovery Education’s digital social studies textbook to middle school classrooms district wide. Discovery Education is the primary provider of digital content and digital textbooks to MGSD. <br><br>Discovery Education’s Social Studies Techbook™ series transforms teaching and learning through dynamic and interactive content that links to historical resources and features activities that help students think critically, develop arguments and investigate history. During the 2012-2013 school year, MGSD middle school educators piloted Discovery Education’s Social Studies Techbook and found it an ideal resource to help meet their goal of preparingevery child, every day to be a successful and responsible citizen in a global workplace and community. <br><br>Discovery Education’s Social Studies Techbook is the latest Discovery Education service to be adopted by the district as part of their digital conversion. Previously, MGSD has adopted Discovery Education’s Science Techbook series, as well as Discovery Education Streaming Plus for use district wide. As part of its ongoing relationship with MGSD, Discovery Education has provided customized professional development to district educators supporting the integration of its digital content into classroom instruction.<br><br>Discovery Education’s Social Studies Techbook series is a complete digital solution that replaces traditional textbooks and features dynamic digital content and engaging resources for United States History, World History and World Geography &amp; Cultures. Each subject area includes a multimedia reference library that links key documents to people and places; interactive maps, digital explorations and activities; primary source documents; and informational texts. <br><br>It is designed to support multiple reading levels and languages, promote personalized learning, inspire curiosity, encourage critical thinking and enable project-based learning. “We are excited to expand our partnership with Discovery Education,” said Dr. Mark Edwards, superintendent of Mooresville Graded School District. “One of the cornerstones of our transformation has been the introduction of the highest quality digital media into all core content areas. The deepening of our relationship with Discovery Education supports us as we provide all students a firm preparation for global citizenship.” Significantly less expensive than traditional textbooks and platform independent, the all-in-one resource works with any device, including iPads, tablets, mobile devices, laptops or desktops, maximizing investment in existing technology and lowering district costs. <br><br>Constantly updated to reflect today’s changing world, the series also enables teachers to incorporate current issues into their curriculum. In addition, Discovery Education’s Techbook series supports educators as they implement the Common Core State Standards through detailed lesson plans and model lessons that demonstrate what the new standards look like in action. The series also includes custom assessments that measure students’ progress and recommend individualized resources that reinforce classroom instruction. “Discovery Education is pleased to be a part of Mooresville Graded School District’s efforts supporting the learning of every child, every day and we look forward to continuing to provide Superintendent Mark Edwards and the entire Mooresville team with the highest quality digital content and targeted, effective professional development,” said Andy Schaefer, vice president, Discovery Education. Discovery Education launched its revolutionary digital textbook series in the fall of 2011 with a Techbook program for K-8 science. <br><br>Proven to increase student engagement and achievement, Discovery Education announced in March 2012 the expansion of the series to include middle school social studies and high school science subjects. More than 600,000 students across 41 states as well as the provinces of Alberta, British Columbia, Manitoba, and Ontario in Canada currently have access to Discovery Education’s Techbook series. Click here to learn more about how Discovery Education is supporting the work of Mooresville Graded School District andhere for more information about Discovery Education’s Techbook series. </pre>
							</div>
						</div>
						<div id="wsb-element-68596283" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="color: rgb(0, 100, 0);"><strong></strong></span>								<pre style="font-family: inherit;">Free Search and News on the Shift to Digital Learning Content &amp; Curriculum </pre>
							</div>
						</div>
						<div id="wsb-element-72925092" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/c7958f53d53243a02eb89f4cee83fe1a?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:151;height:117px;">
								</div>
							</div>
						</div>
					</div>
				</div>

<%= render 'share/footer_social'%>
<%= render 'share/temp_nav'%>
