<% provide(:title, 'Styles Demo') %>

<style>
	
	.shadowed img{
		padding-bottom:16px;
		background:url("/assets/shadow.gif") bottom center no-repeat;
		}
	
</style>

<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
      <h1>Services</h1>
            
            
            
		<h2>The Learning Counsel</h2>
		<p>
			<h2>Directory</h2>
		<p>
			A new Directory, free to all and agnostic, is being built to house brief descriptions and links for all types of content and content providers&nbsp;with a special twist.&nbsp;
		</p>
		<p>
			<h2>Industry news</h2>
		<p>
			The Learning Counsel will accept digital content and curriculum news from Industry, plus policy announcements by education institutions.
		</p>
		<p>
			<h2>consulting</h2>
		<p>
			Specialized consulting and contract&nbsp;engagements on the state-of-the-market and school strategy are available.&nbsp;
		</p>
		<p>
			<h2>ENEWSLETTERS</h2>
		<p>
			The Learning Counsel sends one push email a month to a national audiences of Educators and&nbsp;honorary members&nbsp;of the "LC."
		</p>
		<p>
			<h2>Custom publishing</h2>
		<p>
			The Learning Counsel custom publishing resources centered on differentiation of digital content and curriculum, policy, current practices in the market and more.
		</p>
		<p>
			&nbsp;
		</p><h2>Events</h2>
		<p>
			The Learning Counsel creates custom events on behalf of schools on the state of the digital learning content and curriculum field, inviting sponsorships from major curriculum providors and other industry.&nbsp;
		</p>
		<p>
			<h2>&nbsp;</h2>
		<p>
			&nbsp;
		</p>
      
    </div>


    
    <!-- <div id="column"> -->
    	
      
      <div class="shadowed">
      	<%= image_tag("/assets/image_lani_conference.jpeg", :class => 'imgr', :style => 'width:300px;', :alt => '') %>
      </div>
            
  </div>
</div>
