<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Location" content="home.html">
		<meta name="generator" content="Starfield Technologies; Go Daddy Website Builder v7.0.41">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fjalla+One">
		<link rel="stylesheet" type="text/css" href="site.css?v=74198312">
		<script>
			if ( typeof ($sf) === "undefined") {
				$sf = {
					baseUrl : "//img3.wsimg.com/wst/v7/WSB7_J_20130910_1512_Matrix_204",
					skin : "app",
					"preload" : 0,
					require : {
						jquery : "//img3.wsimg.com/wst/v7/WSB7_J_20130910_1512_Matrix_204/libs/jquery/jq.js"
					}
				};
			}
		</script><script id="duel" src="//img3.wsimg.com/starfield/duel/v2.5.1/duel.js?appid=O3BkA5J1#TzNCa0E1SjF2Mi41LjFwcm9k"></script>
	</head>
	<body>
		<style type="text/css">
			#wsb-element-68402522 {
				top: 336px;
				left: 8px;
				position: absolute;
				z-index: 26
			}
			#wsb-element-68402522 {
				width: 877px;
				height: 73px
			}
			#wsb-element-68402523 {
				top: 17px;
				left: 11px;
				position: absolute;
				z-index: 39
			}
			#wsb-element-68402523 .txt {
				width: 876px;
				height: 16px;
				padding: 0px
			}
			#wsb-element-68402526 {
				top: 58px;
				left: 401px;
				position: absolute;
				z-index: 84
			}
			#wsb-element-68402526 > div {
				width: 98px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402526 > div > div {
				width: 98px;
				height: 35px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402526 img {
				position: absolute
			}
			#wsb-element-68402529 {
				top: 332px;
				left: 11px;
				position: absolute;
				z-index: 25
			}
			#wsb-element-68402529 .wsb-shape {
				width: 879px;
				height: 49px;
				padding: 0px
			}
			#wsb-element-68402530 {
				top: 415px;
				left: 11px;
				position: absolute;
				z-index: 90
			}
			#wsb-element-68402530 .txt {
				width: 277px;
				height: 28px;
				padding: 0px
			}
			#wsb-element-68402531 {
				top: 408px;
				left: 319px;
				position: absolute;
				z-index: 91
			}
			#wsb-element-68402531 .txt {
				width: 560px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402532 {
				top: 440px;
				left: 11px;
				position: absolute;
				z-index: 92
			}
			#wsb-element-68402532 .wsb-line-element {
				width: 290px;
				height: 20px
			}
			#wsb-element-68402533 {
				top: 441px;
				left: 321px;
				position: absolute;
				z-index: 93
			}
			#wsb-element-68402533 .wsb-line-element {
				width: 568px;
				height: 20px
			}
			#wsb-element-68402534 {
				top: 474px;
				left: 12px;
				position: absolute;
				z-index: 94
			}
			#wsb-element-68402534 > div {
				width: 93px;
				height: 93px;
				padding: 0px
			}
			#wsb-element-68402534 > div > div {
				width: 93px;
				height: 93px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402534 img {
				position: absolute
			}
			#wsb-element-68402535 {
				top: 479px;
				left: 115px;
				position: absolute;
				z-index: 95
			}
			#wsb-element-68402535 .txt {
				width: 175px;
				height: 64px;
				padding: 0px
			}
			#wsb-element-68402536 {
				top: 584px;
				left: 12px;
				position: absolute;
				z-index: 96
			}
			#wsb-element-68402536 > div {
				width: 93px;
				height: 93px;
				padding: 0px
			}
			#wsb-element-68402536 > div > div {
				width: 93px;
				height: 93px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402536 img {
				position: absolute
			}
			#wsb-element-68402537 {
				top: 589px;
				left: 115px;
				position: absolute;
				z-index: 97
			}
			#wsb-element-68402537 .txt {
				width: 175px;
				height: 64px;
				padding: 0px
			}
			#wsb-element-68402538 {
				top: 694px;
				left: 12px;
				position: absolute;
				z-index: 98
			}
			#wsb-element-68402538 > div {
				width: 93px;
				height: 93px;
				padding: 0px
			}
			#wsb-element-68402538 > div > div {
				width: 93px;
				height: 93px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402538 img {
				position: absolute
			}
			#wsb-element-68402539 {
				top: 699px;
				left: 116px;
				position: absolute;
				z-index: 99
			}
			#wsb-element-68402539 .txt {
				width: 183px;
				height: 134px;
				padding: 0px
			}
			#wsb-element-68402540 {
				top: 884.5px;
				left: 321px;
				position: absolute;
				z-index: 100
			}
			#wsb-element-68402540 > div {
				width: 173px;
				height: 173px;
				padding: 0px
			}
			#wsb-element-68402540 > div > div {
				width: 173px;
				height: 173px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402540 img {
				position: absolute
			}
			#wsb-element-68402541 {
				top: 877px;
				left: 519px;
				position: absolute;
				z-index: 101
			}
			#wsb-element-68402541 .txt {
				width: 369px;
				height: 231px;
				padding: 0px
			}
			#wsb-element-68402542 {
				top: 959.5px;
				left: 11px;
				position: absolute;
				z-index: 102
			}
			#wsb-element-68402542 .txt {
				width: 278px;
				height: 23px;
				padding: 0px
			}
			#wsb-element-68402546 {
				top: 633px;
				left: 315px;
				position: absolute;
				z-index: 107
			}
			#wsb-element-68402546 .wsb-line-element {
				width: 568px;
				height: 20px
			}
			#wsb-element-68409319 {
				top: 196px;
				left: 621px;
				position: absolute;
				z-index: 171
			}
			#wsb-element-68409319 > div {
				width: 108px;
				height: 95px;
				padding: 0px
			}
			#wsb-element-68409319 > div > div {
				width: 108px;
				height: 95px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68409319 img {
				position: absolute
			}
			#wsb-element-68409320 {
				top: 215px;
				left: 265px;
				position: absolute;
				z-index: 170
			}
			#wsb-element-68409320 .txt {
				width: 356px;
				height: 20px;
				padding: 0px
			}
			#wsb-element-68518828 {
				top: 677px;
				left: 590px;
				position: absolute;
				z-index: 177
			}
			#wsb-element-68518828 .txt {
				width: 300px;
				height: 80px;
				padding: 0px
			}
			#wsb-element-68518829 {
				top: 504px;
				left: 590px;
				position: absolute;
				z-index: 175
			}
			#wsb-element-68518829 .txt {
				width: 300px;
				height: 80px;
				padding: 0px
			}
			#wsb-element-68518831 {
				top: 852px;
				left: 314px;
				position: absolute;
				z-index: 173
			}
			#wsb-element-68518831 .wsb-line-element {
				width: 568px;
				height: 20px
			}
			#wsb-element-68518832 {
				top: 823.5px;
				left: 325px;
				position: absolute;
				z-index: 172
			}
			#wsb-element-68518832 .txt {
				width: 560px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68576441 {
				top: 460px;
				left: 321px;
				position: absolute;
				z-index: 178
			}
			#wsb-element-68576441 > div {
				padding: 0px
			}
			#wsb-element-68576441 .youtube {
				width: 227px;
				height: 168px
			}
			#wsb-element-68578679 {
				top: 652px;
				left: 323px;
				position: absolute;
				z-index: 179
			}
			#wsb-element-68578679 > div {
				padding: 0px
			}
			#wsb-element-68578679 .youtube {
				width: 226px;
				height: 167px
			}
			#wsb-element-68591432 {
				top: 170px;
				left: 639px;
				position: absolute;
				z-index: 180
			}
			#wsb-element-68591432 .wsb-button {
				width: 78px;
				height: 30px;
				color: inherit;
				border: none 0px transparent;
				padding: 0px
			}
			#wsb-element-68596283 {
				top: 132px;
				left: 14px;
				position: absolute;
				z-index: 181
			}
			#wsb-element-68596283 .txt {
				width: 174px;
				height: 67px;
				padding: 0px
			}
			#wsb-element-70600221 {
				top: 1114px;
				left: 519px;
				position: absolute;
				z-index: 183
			}
			#wsb-element-70600221 .txt {
				width: 361px;
				height: 269px;
				padding: 0px
			}
			#wsb-element-70600222 {
				top: 1114px;
				left: 325px;
				position: absolute;
				z-index: 182
			}
			#wsb-element-70600222 > div {
				width: 173px;
				height: 173px;
				padding: 0px
			}
			#wsb-element-70600222 > div > div {
				width: 173px;
				height: 173px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-70600222 img {
				position: absolute
			}
			#wsb-element-72925092 {
				top: 15px;
				left: 14px;
				position: absolute;
				z-index: 184
			}
			#wsb-element-72925092 > div {
				width: 151px;
				height: 117px;
				padding: 0px
			}
			#wsb-element-72925092 > div > div {
				width: 151px;
				height: 117px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-72925092 img {
				position: absolute
			}
		</style>
		<div class="wsb-canvas body">
			<div class="wsb-canvas-page-container" style="min-height: 100%; padding-top: 50px; position: relative;">
				<div class="wsb-canvas-scrollable" style="background-color: #191919; background-image: url(//nebula.wsimg.com/c87cadaefe289f6101f1ae2d8dfc9822?AccessKeyId=0C14E31F34058210C74E); background-position-x: left; background-position-y: top; background-position: left top; background-repeat: repeat; position: absolute; width: 100%; height: 100%;"></div>
				<div id="wsb-canvas-template-page" class="wsb-canvas-page page" style="height: 1400px; margin: auto; width: 900px; background-color: #ffffff; position: relative; ">
					<div id="wsb-canvas-template-container" style="position: absolute;">
						<div id="wsb-element-68402522" class="wsb-element-navigation" data-type="element">
							<div style="width: 877; height: 73; " class="wsb-nav nav_theme nav-btn-left nav-text-left nav-horizontal wsb-navigation-rendered-top-level-container" id="wsb-nav-68402522">
								
								
								<style>
									#wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover > a, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active > a:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover > a {
										background-color: !important;
										color: !important;
									}
								</style>
								
								
								<ul class="wsb-navigation-rendered-top-level-menu ">
									<li style="width: auto" class="active">
										<a href="home.html" data-title="Home" data-pageid="335616" data-url="home.html">Home</a>
									</li>
									<li style="width: auto">
										<a href="industry-news.html" data-title="INDUSTRY NEWS" data-pageid="68414016" data-url="industry-news.html">INDUSTRY NEWS</a>
									</li>
									<li style="width: auto">
										<a href="blogs.html" data-title="Blogs" data-pageid="68433299" data-url="blogs.html">Blogs</a>
									</li>
									<li style="width: auto">
										<a href="about.html" data-title="About" data-pageid="336327" data-url="about.html">About</a>
									</li>
									<li style="width: auto">
										<a href="services.html" data-title="Services" data-pageid="11144655" data-url="services.html">Services</a>
									</li>
									<li style="width: auto">
										<a href="contact.html" data-title="Contact" data-pageid="336329" data-url="contact.html">Contact</a>
									</li>
									<li style="width: auto">
										<a href="directory.html" data-title="DIRECTORY" data-pageid="74158100" data-url="directory.html">DIRECTORY</a>
									</li>
								</ul>
							</div>
						</div>
						
						
						
						<div id="wsb-element-68402529" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape_grey " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 49px; width: 879px;"></div>
						</div>
						
						
						<div id="wsb-element-68402530" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h2>industry news&nbsp;</h2>
							</div>
						</div>
						<div id="wsb-element-68402531" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1>VIDEO</h1>
							</div>
						</div>
						<div id="wsb-element-68402532" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 290px; height: 20px; border-top: 4px solid #b8b8b8;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68402533" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 568px; height: 20px; border-top: 4px solid #212121;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68402534" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/56edc8547dd68884964067dd4a843cfa?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:93;height:93px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68402535" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h5><span style="line-height: 1.4;"></span><span style="font-size: 12px;"><span id="yui_3_7_2_1_1378166372313_2059">Achieve3000 Expands on Successful Formula</span></span><span style="line-height: 1.4;"></span></h5>								<pre style="font-family: inherit;">LAKEWOOD, N.J. – Aug. 21, 2013 – Achieve3000 today<br><a href="industry-news.html" target="">more</a></pre>
</div>						</div>
						<div id="wsb-element-68402536" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/65d94afbef364b5c8349f52688ec6dae?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:93;height:93px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68402537" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="line-height: 1.4;"></span><h5 style="font-family: inherit;">Follett, Hachette Book Group Partner to Distribute Children’s Ebooks&nbsp;</h5>
								<p>
									<a href="industry-news.html" data-cke-saved-href="page:68414016" target="">more</a>
								</p>
							</div>
						</div>
						<div id="wsb-element-68402538" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/c914416be2c9240748275771e8805a31?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:93;height:93px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68402539" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h5><span style="line-height: 1.4;"></span><span style="color: black;" id="yui_3_7_2_1_1378166372313_7041">MOORESVILLE GRADED SCHOOL DISTRICT TRANSFORMS SOCIAL STUDIES CURRICULUM WITH DISCOVERY EDUCATION DIGITAL TEXTBOOK</span></h5>
								<div>
									<p>
										<a href="industry-news.html" target="">more</a>&nbsp;&nbsp;
									</p>
								</div>
							</div>
						</div>
						<div id="wsb-element-68402540" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/b9a1b98d81d338becfedab402cf6bcfd?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:173;height:173px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68402541" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h5>Wanted Teacher Features of the 22nd Century</h5>
								<p>
									by LeiLani Cauthen, <em>The Learning Counsel -- Sept 2013 </em>
								</p>
								<p>
									<em></em>&nbsp;
								</p>
								<p>
									<em></em>My dad was a teacher that taught high school English, history, ran the photography class, and coached basketball. It was a pretty small school district and teachers were multi-taskers. He would be the first to question an educational system that, for sake of efficiency, used more technology and fewer teachers. He would question such a reality because he was a real master of his flock of students. He was well beyond a guide and source of information, he was an entertainer and challenger-of-minds.
								</p>
								<div>
									<p>
										<a href="blogs.html" target="">&nbsp;more</a>
									</p>
								</div><p>
							</div>
						</div>
						<div id="wsb-element-68402542" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h3><a href="industry-news.html" target="">Read all the news</a></h3>
							</div>
						</div>
						<div id="wsb-element-68402546" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 568px; height: 20px; border-top: 1px solid #c3c3c3;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68409319" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/d2444283a03ef33122c73106408930b6?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:108;height:95px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-68409320" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<p>
									<span style="font-size: 14px;">Search Learning Content Data, Reviews, News &amp; More</span>
								</p>
							</div>
						</div>
						<div id="wsb-element-68518828" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1>FREE RESOURCE BOOK</h1>
								<p>
									2013 Free Education Resources Book
								</p>
								<p>
									<em></em>&nbsp;
								</p>
								<p>
									<em>Okay, okay, it's promoted via a silly video with swanky 1970's-type music, but someone went to a lot of work to create it, and it's FREE.&nbsp; </em>
								</p>
							</div>
						</div>
						<div id="wsb-element-68518829" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1>Favorite Video Link</h1><h2>Sir Ken Robinson</h2>
								<p>
									Changing Education Paradigms
								</p>
							</div>
						</div>
						<div id="wsb-element-68518831" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 568px; height: 20px; border-top: 4px solid #212121;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68518832" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1>Blogs</h1>
							</div>
						</div>
						<div id="wsb-element-68576441" class="wsb-element-youtube" data-type="element">
							<div>
								<div class="youtube">
									<iframe src="//www.youtube.com/embed/zDZFcDGpL4U?feature=oembed&wmode=opaque&theme=light&showinfo=1&autoplay=0&loop=0" frameborder="0" allowfullscreen="allowfullscreen" style="width:100%;height:100%;"></iframe>
								</div>
							</div>
						</div>
						<div id="wsb-element-68578679" class="wsb-element-youtube" data-type="element">
							<div>
								<div class="youtube">
									<iframe src="//www.youtube.com/embed/XsNlrgN7mCo?feature=oembed&wmode=opaque&theme=light&showinfo=1&autoplay=0&loop=0" frameborder="0" allowfullscreen="allowfullscreen" style="width:100%;height:100%;"></iframe>
								</div>
							</div>
						</div>
						<div id="wsb-element-68591432" class="wsb-element-button" data-type="element">
							<div>
								<a href="directory.html">
								<div class="wsb-button button_grey">
									<span class="button-content wsb-button-content" style="white-space:nowrap">SEARCH</span>
								</div></a>
							</div>
						</div>
						<div id="wsb-element-68596283" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="color: rgb(0, 100, 0);"><strong></strong></span>								<pre style="font-family: inherit;">Free Search and News on the Shift to Digital Learning Content &amp; Curriculum </pre>
</div>						</div>
						<div id="wsb-element-70600221" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h5>Facing down the learning content disruption</h5>
								<p>
									by David Kafitz, <em>The Learning Counsel -- Sept 2013 </em>
								</p><em></em>								<pre style="font-family: inherit;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Schools and higher ed institutions are facing down a serious disruption in learning content, going from paper to digital in all things.&nbsp; For nearly 100 years, classroom teaching has centered primarily on the textbook.&nbsp; One of the few, major publishers would send out their reps to sign multi-million dollar deals with School Boards or Superintendents. &nbsp;Thus the common assumption was that the schools do a single deal every five-to-seven years as needed to replace all textbooks and related materials.&nbsp; In higher ed the adoption was complicated with all individual professors choosing their own.&nbsp; </pre>
<div>									<p>
										<a href="blogs.html" target="">&nbsp;more</a>
									</p>
								</div><p>
							</div>
						</div>
						
						
						<div id="wsb-element-70600222" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/0eb452224d0d8296473d13f617e2638b?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:173;height:173px;">
								</div>
							</div>
						</div>
						<div id="wsb-element-72925092" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/c7958f53d53243a02eb89f4cee83fe1a?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:151;height:117px;">
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
				
				
				<div id="wsb-canvas-template-footer" class="wsb-canvas-page-footer footer" style="margin: auto; min-height:100px; height: 100px; width: 900px; position: relative;">
					<div id="wsb-canvas-template-footer-container" class="footer-container" style="position: absolute">
						<div style="position:absolute;top:17px;left:11px;z-index:39;height:16px;width:876px;background:transparent;border:none;">
							<div class="txt ">
								<p style="text-align: center;">
									<span class="editor_footer">Copyright&nbsp;©&nbsp;LearningCounsel&nbsp; |&nbsp; &nbsp;<a href="contact.html" target="">Privacy Policy</a></span>
								</p>
							</div>
						</div>
						<div style="position:absolute;top:58px;left:401px;z-index:84;height:35px;width:98px;background:transparent;border:none;">
							<div>
								<div class="img">
									<a href="http://www.godaddy.com/hosting/website-builder.aspx" target="_blank" rel="nofollow"><img src="//nebula.wsimg.com/55827bb0ae72087fa4bcdf4d3680a7d3?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:98;height:35px;"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="view-as-mobile" style="text-align:center; margin:10px auto 20px;display:none;">
					<a href="#" onclick="return false;">View on Mobile</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			require(['jq!starfield/jquery.mod', 'modules/cookiemanager/cookiemanager', 'modules/iebackground/iebackground'], function($, cookieManager, bg) {
				if (cookieManager.getCookie("WSB.ForceDesktop")) {
					$('.view-as-mobile', '.wsb-canvas-page-container').show().find('a').bind('click', function() {
						cookieManager.eraseCookie("WSB.ForceDesktop");
						window.location.reload(true);
					});
				}
				bg.fixBackground();
			});
		</script>
		<script>
			var addthis_config = {
				ui_language : "en"
			};
		</script><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5162fff83017c0e0"></script>
		<script>
			addthis.layers({
				'share' : {
					'mobile' : false
				}
			});
		</script>
	</body>
</html>