<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Location" content="contact.html">
		<meta name="generator" content="Starfield Technologies; Go Daddy Website Builder v7.0.41">
		<title>Contact</title>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fjalla+One">
		<link rel="stylesheet" type="text/css" href="site.css?v=74198312">
		<script>
			if ( typeof ($sf) === "undefined") {
				$sf = {
					baseUrl : "//img3.wsimg.com/wst/v7/WSB7_J_20130910_1512_Matrix_204",
					skin : "app",
					"preload" : 0,
					require : {
						jquery : "//img3.wsimg.com/wst/v7/WSB7_J_20130910_1512_Matrix_204/libs/jquery/jq.js"
					}
				};
			}
		</script><script id="duel" src="//img3.wsimg.com/starfield/duel/v2.5.1/duel.js?appid=O3BkA5J1#TzNCa0E1SjF2Mi41LjFwcm9k"></script>
	</head>
	<body>
		<style type="text/css">
			#wsb-element-68402522 {
				top: 336px;
				left: 8px;
				position: absolute;
				z-index: 26
			}
			#wsb-element-68402522 {
				width: 877px;
				height: 73px
			}
			#wsb-element-68402523 {
				top: 17px;
				left: 11px;
				position: absolute;
				z-index: 39
			}
			#wsb-element-68402523 .txt {
				width: 876px;
				height: 16px;
				padding: 0px
			}
			#wsb-element-68402525 {
				top: 473px;
				left: 321px;
				position: absolute;
				z-index: 55
			}
			#wsb-element-68402525 {
				width: 407px;
				height: 382px
			}
			#wsb-element-68402526 {
				top: 58px;
				left: 401px;
				position: absolute;
				z-index: 84
			}
			#wsb-element-68402526 > div {
				width: 98px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402526 > div > div {
				width: 98px;
				height: 35px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-68402526 img {
				position: absolute
			}
			#wsb-element-68402529 {
				top: 332px;
				left: 11px;
				position: absolute;
				z-index: 25
			}
			#wsb-element-68402529 .wsb-shape {
				width: 879px;
				height: 49px;
				padding: 0px
			}
			#wsb-element-68402584 {
				top: 441px;
				left: 321px;
				position: absolute;
				z-index: 171
			}
			#wsb-element-68402584 .wsb-line-element {
				width: 568px;
				height: 20px
			}
			#wsb-element-68402585 {
				top: 408px;
				left: 319px;
				position: absolute;
				z-index: 170
			}
			#wsb-element-68402585 .txt {
				width: 560px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402586 {
				top: 409px;
				left: 11px;
				position: absolute;
				z-index: 169
			}
			#wsb-element-68402586 .txt {
				width: 277px;
				height: 35px;
				padding: 0px
			}
			#wsb-element-68402587 {
				top: 440px;
				left: 11px;
				position: absolute;
				z-index: 168
			}
			#wsb-element-68402587 .wsb-line-element {
				width: 290px;
				height: 20px
			}
			#wsb-element-68402588 {
				top: 473px;
				left: 27px;
				position: absolute;
				z-index: 172
			}
			#wsb-element-68402588 .txt {
				width: 193px;
				height: 80px;
				padding: 0px
			}
			#wsb-element-68596283 {
				top: 132px;
				left: 14px;
				position: absolute;
				z-index: 181
			}
			#wsb-element-68596283 .txt {
				width: 174px;
				height: 67px;
				padding: 0px
			}
			#wsb-element-72925092 {
				top: 15px;
				left: 14px;
				position: absolute;
				z-index: 184
			}
			#wsb-element-72925092 > div {
				width: 151px;
				height: 117px;
				padding: 0px
			}
			#wsb-element-72925092 > div > div {
				width: 151px;
				height: 117px;
				position: relative;
				overflow: hidden
			}
			#wsb-element-72925092 img {
				position: absolute
			}
		</style>
		<div class="wsb-canvas body">
			<div class="wsb-canvas-page-container" style="min-height: 100%; padding-top: 50px; position: relative;">
				<div class="wsb-canvas-scrollable" style="background-color: #191919; background-image: url(//nebula.wsimg.com/c87cadaefe289f6101f1ae2d8dfc9822?AccessKeyId=0C14E31F34058210C74E); background-position-x: left; background-position-y: top; background-position: left top; background-repeat: repeat; position: absolute; width: 100%; height: 100%;"></div>
				<div id="wsb-canvas-template-page" class="wsb-canvas-page page" style="height: 857px; margin: auto; width: 900px; background-color: #ffffff; position: relative; ">
					<div id="wsb-canvas-template-container" style="position: absolute;">
						<div id="wsb-element-68402522" class="wsb-element-navigation" data-type="element">
							<div style="width: 877; height: 73; " class="wsb-nav nav_theme nav-btn-left nav-text-left nav-horizontal wsb-navigation-rendered-top-level-container" id="wsb-nav-68402522">
								<style>
									#wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li:hover > a, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active > a:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover, #wsb-nav-68402522.wsb-navigation-rendered-top-level-container ul > li.active .nav-subnav li:hover > a {
										background-color: !important;
										color: !important;
									}
								</style>
								<ul class="wsb-navigation-rendered-top-level-menu ">
									<li style="width: auto">
										<a href="home.html" data-title="Home" data-pageid="335616" data-url="home.html">Home</a>
									</li>
									<li style="width: auto">
										<a href="industry-news.html" data-title="INDUSTRY NEWS" data-pageid="68414016" data-url="industry-news.html">INDUSTRY NEWS</a>
									</li>
									<li style="width: auto">
										<a href="blogs.html" data-title="Blogs" data-pageid="68433299" data-url="blogs.html">Blogs</a>
									</li>
									<li style="width: auto">
										<a href="about.html" data-title="About" data-pageid="336327" data-url="about.html">About</a>
									</li>
									<li style="width: auto">
										<a href="services.html" data-title="Services" data-pageid="11144655" data-url="services.html">Services</a>
									</li>
									<li style="width: auto" class="active">
										<a href="contact.html" data-title="Contact" data-pageid="336329" data-url="contact.html">Contact</a>
									</li>
									<li style="width: auto">
										<a href="directory.html" data-title="DIRECTORY" data-pageid="74158100" data-url="directory.html">DIRECTORY</a>
									</li>
								</ul>
							</div>
						</div>
						<div id="wsb-element-68402525" class="wsb-element-form" data-type="element">
							<div class="form" id="form_6394d0716b6846038ca404a5acfcb7a2">
								
								Form goes here
								<input type="hidden" name="param1">
								<input type="hidden" name="param2">
								<input type="hidden" name="param3" value="form_6394d0716b6846038ca404a5acfcb7a2">
								<input type="hidden" name="param4" value="form-298050">
								<input type="hidden" name="param5" value="68402525">
								<input type="hidden" name="param6" value="xdvadcbebggfsfoetelbahwcpgvenfddbgrfkhfceaydbfubtdlcfhrbnaudfgwc">
								<div class="form-row">
									<label class="form-label">Name: <span class="form-req">*</span></label>
									<input type="text" name="name" class="form-value">
								</div>
								<div class="form-row">
									<label class="form-label">Email: <span class="form-req">*</span></label>
									<input type="text" name="email" class="form-value">
								</div>
								<div class="form-row">
									<label class="form-label">Subject: <span class="form-req">*</span></label>
									<input type="text" name="subject" class="form-value">
								</div>
								<div class="form-row">
									<label class="form-label">Message: <span class="form-req">*</span></label>									<textarea name="message" class="form-value"></textarea>
</div>								<div class="form-row">
									<input type="submit" value="Submit" class="form-submit" onclick="return false;">
								</div>
							</div>
							<div id="msg_6394d0716b6846038ca404a5acfcb7a2" class="form-message" style="display:none;">
								Thank you for contacting us! If needed, you will hear back within 48-72 hours.
							</div>
							<script type="text/javascript">
								require(["jq!starfield/jquery.mod", "modules/regexhelper/regexhelper"], function($, regexhelper) {
									var formId = "form_6394d0716b6846038ca404a5acfcb7a2";
									var msgId = "msg_6394d0716b6846038ca404a5acfcb7a2";
									var phpurl = "/plugins/xdomain.php";
									var svcurl = "http://sitesupport.websitetonight.com/FormMailerV7.aspx";
									var enable = true;
									var postSubmitOption = 0;
									var postSubmitUrl = "";
									var form;
									var message;
									var button;
									var cssClassDisabled = "form-button-disabled";
									var cssClassInvalid = "form-value-invalid";
									function OnLoad() {
										message = $("div#" + msgId).hide();
										form = $("div#" + formId).show();
										form.find("input[name=\"param1\"]").attr("value", window.location.host);
										form.find("input[name=\"param2\"]").attr("value", window.location.href);
										button = form.find("input[type=\"submit\"]").click(OnSubmitClick);
									}

									function OnSubmitClick() {
										var valid = true;
										var txtName = form.find("input[name=\"name\"]").removeClass(cssClassInvalid);
										var txtEmail = form.find("input[name=\"email\"]").removeClass(cssClassInvalid);
										var txtSubject = form.find("input[name=\"subject\"]").removeClass(cssClassInvalid);
										var txtMessage = form.find("textarea[name=\"message\"]").removeClass(cssClassInvalid);
										var name = $.trim(txtName.attr("value"));
										if (name.length === 0) {
											valid = false;
											txtName.addClass(cssClassInvalid);
										}
										var emailAddress = $.trim(txtEmail.attr("value"));
										if (emailAddress.length === 0) {
											valid = false;
											txtEmail.addClass(cssClassInvalid);
										} else {
											if (!regexhelper.validateEmailAddress(emailAddress)) {
												valid = false;
												txtEmail.addClass(cssClassInvalid);
											}
										}
										var subject = $.trim(txtSubject.attr("value"));
										if (subject.length === 0) {
											valid = false;
											txtSubject.addClass(cssClassInvalid);
										}
										var message = $.trim(txtMessage.val());
										if (message.length === 0) {
											valid = false;
											txtMessage.addClass(cssClassInvalid);
										}
										if (!valid) {
											return;
										}
										if (button.hasClass(cssClassDisabled)) {
											return;
										}
										button.addClass(cssClassDisabled);
										var formData = {
											param1 : form.find("input[name=\"param1\"]").attr("value"),
											param2 : form.find("input[name=\"param2\"]").attr("value"),
											param3 : form.find("input[name=\"param3\"]").attr("value"),
											param4 : form.find("input[name=\"param4\"]").attr("value"),
											param5 : form.find("input[name=\"param5\"]").attr("value"),
											param6 : form.find("input[name=\"param6\"]").attr("value"),
											name : name,
											email : emailAddress,
											subject : subject,
											message : message
										};
										var qsFormData = $.param(formData);
										var settings = {
											url : phpurl,
											data : {
												action : "post",
												options : {
													url : svcurl,
													data : qsFormData,
													proxy : 0
												}
											},
											type : "post",
											success : OnSubmitSuccess,
											error : OnSubmitError
										};
										$.ajax(settings);
									}

									function OnSubmitSuccess(response) {
										if (response.status == "error") {
											OnSubmitError();
											return;
										}
										if (postSubmitOption === 0) {
											form.hide();
											message.show();
											message.parent().css("overflow", "auto");
										} else {
											window.location = postSubmitUrl;
										}
									}

									function OnSubmitError() {
										button.removeClass(cssClassDisabled);
										alert("Unknown error occurred. Please try again.");
									}
									$(document).ready(OnLoad);
								});
							</script>
						</div>
						<div id="wsb-element-68402529" class="wsb-element-shape" data-type="element">
							<div class="wsb-shape shape_grey " style="-moz-box-sizing: border-box; box-sizing: border-box; height: 49px; width: 879px;"></div>
						</div>
						<div id="wsb-element-68402584" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 568px; height: 20px; border-top: 4px solid #212121;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68402585" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h2 class="editor_h1">Get In Touch
								<br>
								</h2>
							</div>
						</div>
						<div id="wsb-element-68402586" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<h1>Our Location</h1>
							</div>
						</div>
						<div id="wsb-element-68402587" class="wsb-element-line" data-type="element">
							<div class="wsb-line-element" style="width: 290px; height: 20px; border-top: 4px solid #000000;margin: 10px 0;"></div>
						</div>
						<div id="wsb-element-68402588" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<p>
									The Learning Counsel
								</p>
								<p>
									Sacramento, CA
								</p>
								<p>
									(916) 801-5673
								</p>
								<p>
									leilanic@learningcounsel.com
								</p>
							</div>
						</div>
						<div id="wsb-element-68596283" class="wsb-element-text" data-type="element">
							<div class="txt ">
								<span style="color: rgb(0, 100, 0);"><strong></strong></span>								<pre style="font-family: inherit;">Free Search and News on the Shift to Digital Learning Content &amp; Curriculum </pre>
</div>						</div>
						<div id="wsb-element-72925092" class="wsb-element-image" data-type="element">
							<div>
								<div class="img"><img src="//nebula.wsimg.com/c7958f53d53243a02eb89f4cee83fe1a?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:151;height:117px;">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="wsb-canvas-template-footer" class="wsb-canvas-page-footer footer" style="margin: auto; min-height:100px; height: 100px; width: 900px; position: relative;">
					<div id="wsb-canvas-template-footer-container" class="footer-container" style="position: absolute">
						<div style="position:absolute;top:17px;left:11px;z-index:39;height:16px;width:876px;background:transparent;border:none;">
							<div class="txt ">
								<p style="text-align: center;">
									<span class="editor_footer">Copyright&nbsp;©&nbsp;LearningCounsel&nbsp; |&nbsp; &nbsp;<a href="contact.html" target="">Privacy Policy</a></span>
								</p>
							</div>
						</div>
						<div style="position:absolute;top:58px;left:401px;z-index:84;height:35px;width:98px;background:transparent;border:none;">
							<div>
								<div class="img">
									<a href="http://www.godaddy.com/hosting/website-builder.aspx" target="_blank" rel="nofollow"><img src="//nebula.wsimg.com/55827bb0ae72087fa4bcdf4d3680a7d3?AccessKeyId=0C14E31F34058210C74E&amp;disposition=0" alt="" style="width:98;height:35px;"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="view-as-mobile" style="text-align:center; margin:10px auto 20px;display:none;">
					<a href="#" onclick="return false;">View on Mobile</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			require(['jq!starfield/jquery.mod', 'modules/cookiemanager/cookiemanager', 'modules/iebackground/iebackground'], function($, cookieManager, bg) {
				if (cookieManager.getCookie("WSB.ForceDesktop")) {
					$('.view-as-mobile', '.wsb-canvas-page-container').show().find('a').bind('click', function() {
						cookieManager.eraseCookie("WSB.ForceDesktop");
						window.location.reload(true);
					});
				}
				bg.fixBackground();
			});
		</script>
		<script>
			var addthis_config = {
				ui_language : "en"
			};
		</script><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5162fff83017c0e0"></script>
		<script>
			addthis.layers({
				'share' : {
					'mobile' : false
				}
			});
		</script>
	</body>
</html>