<% provide(:title, 'Downloads') %>

		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 


		<header>				
				
			<%= render 'share/backtotop' %>
			
		</header>		
		
		<section>
			
			<div class="kontainer">
				
				<div class="kontainer-space-1"></div>
				
				
				<div id="mainkolumn" class="withsidebar">
		
	    			<div id="k-articlecontent">
							
						<bodycopy id="bodycopy">
							
		 					<%= render 'share_files' %>
		 						
						</bodycopy>

					</div>

					<br clear="all">
					
				</div>

				<div id="sidebar">
					<div id="sidebar_inner">

					</div>
				</div>
				

				<br clear="all">
					
				<div style="height: 30px;"></div>
					
			</div> <!--white -->
			
		</section>
