<% provide(:title, 'EdMatchUp Service') %>

<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%= render 'share/title'%>
  	
    <%= render 'share/site_search' %>  
    
    <%= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
      <div id="comments" style="height: 480px">
        <h2>EdMatchUp Service entry...</h2>
      	<%= image_tag("image_coming_soon.png") %>
      	<p><em>Please leave us a message through our easy Contact form.</em></p>
      </div>
    </div>
  </div>
</div>
