				<div class="center gen-background-color" style="width: 490px;">
					<div class="label-form-gen">
						<span>Instructions to change your password will be sent</span><br> 
						<span>to the email address you enter here:</span>
					</div>		
					<div style="height: 4px;"></div>			
					<div class="width-350 inline-block">
						<input class="input-gen width-350 height-30" id="admin_user_new_pwd_reset_email" name="admin_user[new_pwd_reset_email]" tabindex="1001" type="text" value="" placeholder="address@email.com" />
					</div>
					<div class="inline-block margin-left-pwd-reset" style="position: relative;">
						<div id="submit_new_pwd_reset" class="btn-submit-gen width-60" tabindex="">Submit</div>
					</div>
				</div>
