<% provide(:title, 'Admin Home') %>

	<style>
	
		#signin-page {
			height: 800px;
		}
	
		#signin-page #signin-page-inner {
		    width: 80%;
		    margin: 0 auto;
		}	

		div .table-signin {
			display: table;
			background-color: #DEDB3C;
			width: 880px;
			border-radius: 20px;
			border:2px solid #254520;
			box-shadow: 1px 1px 10px #888888;
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 60px;
		}
	
		.table-signin p {
			font-family: msyh; 
			font-size: 16px;
			color: #005187;"
		}
		
	</style>


	<div id="signin-page">
		
		<header>
	
			<%= render 'share/backtotop' %>
			
			<div style="height: 70px;"></div>
			
		</header>
		
		
		<div id="signin-page-inner">
			
			<div class="table-signin">
				<div class="row">
					
					<div class="cell-100percent" tabindex="1">
						
						<p>Admin Home</p>
												
					</div>
					
				</div>
				
			</div>
			
		</div>	
		
	</div>					
					
	<script>

		$(window).load( function() {
		//$(document).ready(function(){

		});
	
	</script>
