<div class="wrapper row1">
  <div id="header" class="clear">
  	
	<%#= render 'share/title'%>
  	
    <%#= render 'share/site_search' %>  
    
    <%#= render 'share/navigate' %>  
    
  </div>
</div>

<div class="wrapper row3">
  <div id="container" class="clear">
    <div id="content">
      <div id="comments" style="height: 480px">

	 		<p><%= render(:partial => "share/menu_admin") %></p>            	
  	
			<p><%= link_to "&laquo; Back".html_safe, :back %></p>

      		<h2><p><em>Administration</em></p></h2>
    
      </div>
    </div>
  </div>
</div>
