<% provide(:title, 'Industry News') %>

		<style type="text/css">

			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}

		</style>		
			
		<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>
			
		<link href="/assets/screen_headlines.css" media="screen, projection" rel="stylesheet" type="text/css">
		
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>

		<script type="text/javascript" src="/assets/pinboards.js"></script> 


		<header>					

			<%= render 'share/backtotop' %>
			
	    	<%= render 'layouts/flash_alert' %>
	    	
		</header>		
		
	    		    	
		
		<section>
			
			<div style="background-color: white;">
				
				<div style="height: 30px;"></div>
				
				<div id="container" class="inner">
			
					<div id="maincolumn" class="withsidebar">
						<div id="articlecontent">
		    				<a name="articlecontent"></a>
		            		
		            		<div class="channel-article-header industry_news_orange">
		            			<div><span>INDUSTRY NEWS</span></div>
		            		</div>
		            				        
		            		<h1 id="headline">Pearson announces a strategic investment in English language learning platform Voxy
			                    <span class="byline">BY <a href="#" style="color: black;" rel="author">The LC Staff</a>
			    				</span>
		    				</h1>                        
		            		
		            		<p id="deck"></p>  
		        
		                    <div id="panographic-image">
		                		<img src="/assets/article-pearson.png" alt="article-pearson.png">
		            		</div>
		            		
		                    <p class="imagecaption" id="pancaption"></p>
		
								
							<bodycopy id="bodycopy">
								
			 					<%= render 'articles/pearson_3' %> 
			 						
							</bodycopy>
	
							<div id="middlepromo"></div>
		
						    <div id="bottom-of-article">
						        <div class="photo-credit"></div>        
						        <div class="updated">August 2, 2013</div>
						    </div>
			
			
						    <div id="article-credit">
						
								<div class="columnist-photo">
									<a href="#" rel="author"><img src="/assets/article-icon-6-m-white.png" width="100px"></a>
								</div>
								<div class="color-notch bg-industry-news"></div>						
								<div class="credits">
									<p><span class="columnist-name"><a href="#">The LC Staff</a></span>
									</p>	
								</div>
							
							</div>
			
	
						</div>
	
						<br clear="all">
						
						<div id="bottompromo"></div>
		
						<br clear="all">
		    
					</div> 
	
	
					<div id="sidebar">
						<div id="sidebar_inner">

							
						</div>
					</div>
				</div>

					<br clear="all">
						
					<div style="height: 30px;"></div>
					
			</div> 
			
		</section>