<% provide(:title, 'Industry News') %>

		<style type="text/css">

			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}

		</style>		
			
		<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>
			
		<link href="/assets/screen_headlines.css" media="screen, projection" rel="stylesheet" type="text/css">
		
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>

		<script type="text/javascript" src="/assets/pinboards.js"></script> 



		<header>					

			<%= render 'share/backtotop' %>
			
	    	<%= render 'layouts/flash_alert' %>
			
		</header>		
		
		<section>
			
			<div style="background-color: white;">
				
				<div style="height: 30px;"></div>
				
				<div id="container" class="inner">
			
					<div id="maincolumn" class="withsidebar">
						<div id="articlecontent">
		    				<a name="articlecontent"></a>
		    				
		            		<div class="channel-article jump industry_news_pink">
		            			<span>INDUSTRY NEWS</span>
		            		</div>
		        
		            		<h1 id="headline">
		            			Tales2Go Releases Android Version of its Award-Winning Service
			                    <span class="byline">BY <a href="#" style="color: black;" rel="author">Jacob Hanson, Contributor</a>
			    				</span>
		    				</h1>                        
		            		
		            		<p id="deck"></p>  
		        
		                    <div id="panographic-image" style="width: 400px;">
		                		<img src="/assets/article-tales-to-go-releases.png" alt="article-tales-to-go-releases.png">
		            		</div>
		            		
		                    <p class="imagecaption" id="pancaption"></p>
		
							<!-- <div id="toppromo"></div> -->
								
							<bodycopy id="bodycopy">
								
			 					<%= render 'articles/tales_to_go_releases_6' %>
			 						
							</bodycopy>
	
							<div id="middlepromo"></div>
		
						    <div id="bottom-of-article">
						        <div class="photo-credit"></div>        
						        <div class="updated">October 2013</div>
						    </div>
			
						    <div id="article-credit">
						
								<div class="columnist-photo">
									<a href="#" rel="author"><img src="/assets/article-icon-6-m-white.png" width="100px"></a>
								</div>
								<div class="color-notch bg-industry-news-pink"></div>						
								<div class="credits">
									<p><span class="columnist-name"><a href="#">Jacob Hanson, Contributor</a></span>
									</p>	
								</div>
							
							</div>
	
	
	
						</div>
	
						<br clear="all">
						
						<!-- <a class="articlefootertool" href="#" target="_blank">PRINT THIS ARTICLE</a>
						<a class="articlefootertool" href="javascript:mailer();">EMAIL THIS ARTICLE</a> -->
								
						<div id="bottompromo"></div>
		
						<br clear="all">
		    
					</div> <!--end maincolumn //-->
	
	
					<div id="sidebar">
						<div id="sidebar_inner">
									
							<!-- <div id="particlepinboardsidebar" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div>
			
							<div id="select_services">
								<h2 class="feature">Select Services</h2>
								
								<dl id="Services">
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd>
								</dl>
								
							</div> -->							
							
						</div>
					</div>
				</div>

					<br clear="all">
			
					<!-- <div class="container-bottom">
						<div class="readmore-container">
							<div class="readmore-title-container">
	    						<div class="readmore-title">READ MORE</div>
		    				</div>
	            			<div id="backtotopcontainer">
								<div id="backtotopinnercontainer">
									<div id="backtotopbutton">
										<img src="/assets/back-to-top.png">
									</div>
								</div>
							</div>
	
							<div id="particlepinboardreadmore" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div>
	
						</div>
						<div class="readmore-bottombuffer"></div>							
						<div id="divvy" style="display: none;"></div>
	
						<div id="backtotopinnercontainer">
							<div id="backtotopbutton">
								<img src="/assets/image_lani_100_100.png">
								
							</div>
						</div>
					</div> -->
						
					<div style="height: 30px;"></div>
					
			</div> <!--white -->
			
		</section>
