<% provide(:title, 'Idea') %>

		<style type="text/css">

			@font-face {
				font-family: KlavikaExtraLight;
				src: url('/assets/KlavikaWebDisplayExtraLight.eot');
				src: url('/assets/KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayExtraLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaLight;
				src: url('/assets/KlavikaWebBasicLight.eot');
				src: url('/assets/KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicLight.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaRegular;
				src: url('/assets/KlavikaWebBasicRegular.eot');
				src: url('/assets/KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicRegular.woff') format('woff');
			}		
			@font-face {
				font-family: KlavikaMedium;
				src: url('/assets/KlavikaWebBasicMedium.eot');
				src: url('/assets/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicMedium.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBold;
				src: url('/assets/KlavikaWebBasicBold.eot');
				src: url('/assets/KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebBasicBold.woff') format('woff');
			}
			@font-face {
				font-family: KlavikaBlack;
				src: url('/assets/KlavikaWebDisplayBlack.eot');
				src: url('/assets/KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), url('/assets/KlavikaWebDisplayBlack.woff') format('woff');
			}

		</style>		
			
		<style type="text/css">
			@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
		</style>
			
		<link href="/assets/screen_headlines.css" media="screen, projection" rel="stylesheet" type="text/css">
		
		<script type="text/javascript" src="/assets/entrepeneurs_jquery-1.js"></script> 
		<script type="text/javascript" src="/assets/entrepeneurs_jquery.js"></script>

		<script type="text/javascript" src="/assets/pinboards.js"></script> 
		

		<header>					
			
		 	<%= render 'share/backtotop' %>
								
	    	<%= render 'layouts/flash_alert' %>
			
		</header>		
		
		<section>
			
			<div style="background-color: white;">
				
				<div style="height: 30px;"></div>
			    
				
				<div id="container" class="inner">
		

					<div id="bigarticlehead">
	  
						<div style="margin-left: 14%;">
				 			<img src="/assets/article-we-need.png" class="mainfeatureimage" height="450">
						</div>
	                	
	       				<div class="channel-article header idea"><span>IDEA</span></div>
	                
	       				<!-- <div id="channel-article-header" class="bg-idea"><span class="channel"><a href="#">IDEA</a></span></div> -->
	       					        			               
	        			<h1 id="headline">WE NEED NEW WORDS FOR DIGITAL CURRICULUM
						<span class="byline">BY 
							<a href="#" style="color: black;" rel="author">LeiLani Cauthen</a>
							<p>November 2013</p>
						</span>
						</h1>
						<p id="deck">
							Digital Curriculum is a lot of things, but what it has yet to achieve is an agreed-upon set of 
							words describing what it is and does to give it more context of what’s happening with it in schools today.							
						</p>
	        		</div>
			
					<div id="maincolumn" class="withsidebar">
			
	
		    			<div id="articlecontent">
		    				<a name="articlecontent"></a>
		
							<div id="toppromo"></div>

							<br>
		
		 					<bodycopy id="bodycopy">
		 						
		 						
		 						<%= render 'articles/we_need_5' %>

							
							</bodycopy>
				
		
							<!-- <div id="middlepromo"></div> -->
																
						    <div id="bottom-of-article">
						    	
						        <!-- <div class="photo-credit">IMAGE: <a href="#">The Learning Counsel</a></div> -->
						        						        
						        <div class="updated">November 2013</div>
						    </div>
		
		    				<div id="article-credit">
		
								<div class="columnist-photo">
									<a href="#" rel="author">
										<img src="/assets/image_lani_100_100.png">
									</a>
								</div>
								<div class="color-notch bg-idea"></div>
								<div class="credits">
									<p>
										<span class="columnist-name"><a href="#">Lei Lani Cauthen</a></span>
										 is the Executive Director of The Learning Counsel.
										<br>
										<!-- <a href="http://www.twitter.com/LeiLaniCauthen" target="_blank" rel="nofollow">@LeiLaniCauthen</a> -->
										<a href="#" target="_blank" rel="nofollow">@LeiLaniCauthen</a>
									</p>	
								</div>
			
							</div>
		
						</div>
					
						<div id="article-share-footer"></div>
											
						<!-- <a class="articlefootertool" href="#" target="_blank">PRINT THIS ARTICLE</a>
						<a class="articlefootertool" href="javascript:mailer();">EMAIL THIS ARTICLE</a> -->	
	
	    
					</div> <!--end maincolumn //-->


					<div id="sidebar">
						
						<div id="sidebar_inner">
									
							<!-- <div id="particlepinboardsidebar" class="pinboard articlepinboard">
								<div class="pinboardContent"></div>
							</div>
			
							<div id="select_services">
								<h2 class="feature">Select Services</h2>
								
								<dl id="Services">
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd>
										<dt><a target="_new" href="#">Services</a></dt>
									<dd>Learn about our services.</dd>
								</dl>
								
								
							</div> -->
							
						</div>
						
					</div>
				</div>

				<br clear="all">
		
				<div class="container-bottom">
					
					<div class="readmore-container">
					</div>
					<div class="readmore-bottombuffer"></div>							
					<div id="divvy" style="display: none;"></div>

				</div>

				<div style="height: 30px;"></div>
				
			</div> <!--white -->
			
		</section>
		
		
<!-- <script>
$(document).ready(function () {
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
  $('#backtotopbutton').css({'display':'none'});
  $('#prev').css({'display':'none'});
  $('#next').css({'display':'none'});
  $('head').append('<script type="text/javascript" src="http://www.inc.com/lib/jquery-cycle2/jquery.cycle2.carousel.min.js"></script>');
}
});
</script> -->