
	#tbl-page {
		width: 100%;
	}
	#tbl-page #tbl-page-inner {
	  width: 1200px;
	  margin: 0 auto;
	  min-height: 800px;
	}	
	div .tbl-container {
		display: table;
		background-color: #E3DDCF;
		width: 1000px;
		border-radius: 0px;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 10px;
		padding-right: 10px;			
	}
	.tbl-container p {
		font-family: msyh; 
		font-size: 16px;
		color: #005187;
	}
	.main {
		font-family:Arial, Helvetica, sans-serif;
		font-size: 20px;
		color: black;
		height: 500px;
	}
	.links {
		font-family:Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: brown;    		
	}
	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 18px;
	}
	h4 {
		font-size: 16px;
		font-weight: 600;
	}    	
	h5 {
		font-size: 12px;
	}    	    	
	p {
		font-size: 12px;
	}
	.bar {
		font-size: 16px;
		font-weight: 400;
	}
	.input-upload {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		width: 600px;
		height: 24px;
		border-style:solid;
		background-color: #fff;
		border-color: #000;
		border-width: 1px;
		padding-left: 6px;
		color: #888;
	}
	.submit-upload {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		height: 24px;
	}
	#tbl {
		width: 10300px; 
	}
	table#tbl th {
		padding-left: 0px;
	}    	    	
	table#tbl tr {
		height: 20px;
	}    	
	table#tbl td {
		vertical-align: bottom;    		
		padding-top: 0px;
		padding-bottom: 4px;       		    		    		
	}
	.gray {
		background: #CCC			    		
	}
	.white {
		background: #fff    		
	}
	.hover-col {
		background-color: rgba(0, 0, 0, 0.1);
	}
	.hover-row {
		background-color: #FAC0C1;
	}
	.row-select {
		color: #fff;			
		background-color: brown;
	}
	.btn-color-select {
		color: #fff;	
	}
	.btn-color {
	  color: #A31C1C;			
	}
	.delete-btn {
	  display: inline-block;
	  text-decoration: none; 
	  width: 50px;
	  height: 20px;
	  background: inherit;
	  border-width: 0px;
	}
	.delete-btn:focus {
	}
	.delete-btn:hover { 
	  text-decoration: underline; 
	}
	.delete-btn:active { 
	  text-decoration: underline; 
	}
	.header-shift {
		padding-left: 0px;
	}    	    	
	.reset-db-btn {
	  width: 200px;
	  height: 20px;
	}
	#loading {
		background: asset-url("icon_loading.gif") no-repeat center center;
		height: 100px; width: 100px;
		position: fixed; left: 47%; top: 50%; z-index: 1000;
		margin: -25px 0 0 -25px;
		visibility: hidden;
	}				
	    	