	
  @font-face {
    font-family: 'ChunkFive Regular';
    src: asset-url('Chunkfive.eot');
    src: local('ChunkFive Regular'), local('ChunkFive'), asset-url('Chunkfive.woff') format('woff'), asset-url('Chunkfive.otf') format('opentype');
  }
  @font-face {
    font-family: 'Artifika';
    font-style: normal;
    font-weight: normal;
    src: local('Artifika Medium'), local('Artifika-Medium'), asset-url('Artifika-Regular.woff') format('woff'), asset-url('Artifika-Regular.ttf') format('truetype');
  }
	// @font-face {
	  	// font-family: 'msyh';
	  	// src: asset-url('msyh.eot') format('embedded-opentype'), asset-url('msyh.ttf') format('truetype');
	// }
	// @font-face {
	  	// font-family: 'msyhb';
	  	// src: asset-url('msyhb.eot') format('embedded-opentype'), asset-url('msyhb.ttf') format('truetype');
	// }
  @font-face {
    font-family: 'quattrocento';
    font-style: normal;
    font-weight: 400;
    src: asset-url('QuattrocentoSans.woff') format('woff');
  }   
  @font-face {
    font-family: 'Quattrocento';
    font-style: normal;
    font-weight: 400;
    src: asset-url('QuattrocentoSans.woff') format('woff');
  } 	
  @font-face {
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    src: asset-url('QuattrocentoSans.woff') format('woff');
  }   
	@font-face {
	  	font-family: 'QuattrocentoSans-Regular';
	  	src: asset-url('QuattrocentoSans-Regular.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'QuattrocentoSans-Italic';
	  	src: asset-url('QuattrocentoSans-Italic.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'QuattrocentoSans-Bold';
	  	src: asset-url('QuattrocentoSans-Bold.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'QuattrocentoSans-BoldItalic';
	  	src: asset-url('QuattrocentoSans-BoldItalic.ttf') format('truetype');
	}
	@font-face {
		font-family: 'KlavikaExtraLight';
		src: asset-url('KlavikaWebDisplayExtraLight.eot');
		src: asset-url('KlavikaWebDisplayExtraLight.eot?#iefix') format('embedded-opentype'), asset-url('KlavikaWebDisplayExtraLight.woff') format('woff');
	}
	@font-face {
		font-family: 'KlavikaLight';
		src: asset-url('KlavikaWebBasicLight.eot');
		src: asset-url('KlavikaWebBasicLight.eot?#iefix') format('embedded-opentype'), asset-url('KlavikaWebBasicLight.woff') format('woff');
	}
	@font-face {
		font-family: 'KlavikaRegular';
		src: asset-url('KlavikaWebBasicRegular.eot');
		src: asset-url('KlavikaWebBasicRegular.eot?#iefix') format('embedded-opentype'), asset-url('KlavikaWebBasicRegular.woff') format('woff');
	}		
	@font-face {
		font-family: 'KlavikaMedium';
		src: asset-url('KlavikaWebBasicMedium.eot');
		src: asset-url('KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'), asset-url('KlavikaWebBasicMedium.woff') format('woff');
	}
	@font-face {
		font-family: 'KlavikaBold';
		src: asset-url('KlavikaWebBasicBold.eot');
		src: asset-url('KlavikaWebBasicBold.eot?#iefix') format('embedded-opentype'), asset-url('KlavikaWebBasicBold.woff') format('woff');
	}
	@font-face {
		font-family: 'KlavikaBlack';
		src: asset-url('KlavikaWebDisplayBlack.eot');
		src: asset-url('KlavikaWebDisplayBlack.eot?#iefix') format('embedded-opentype'), asset-url('KlavikaWebDisplayBlack.woff') format('woff');
	}
  @font-face {
      font-family: 'AsSeenOnTV';
      src: asset-url('AsSeenOnTV.ttf') format('truetype');
  }
  @font-face {
      font-family: 'AsseenonTVSkew';
      src: asset-url('AsseenonTVSkew.ttf') format('truetype');
  }

	/*@font-face {
	  font-family: 'NotethisRegular';
	  src: asset-url('Note_this.eot');
	  src: local('Note this Regular'), local('Notethis'), asset-url('Note_this.ttf') format('truetype');
	  
	}
	@font-face {
	  	font-family: 'bytes';
	  	src: asset-url('bytes.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'BNEfG';
	  	src: asset-url('BNEfG98.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'BNEG';
	  	src: asset-url('BNEG98.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'BNEnG';
	  	src: asset-url('BNEnG98.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'BNEoG';
	  	src: asset-url('BNEoG98.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'copyviol';
	  	src: asset-url('Copyviol.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'copyvlN';
	  	src: asset-url('CopyvlN.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'crackdr2';
	  	src: asset-url('crackdr2.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'crkdownr';
	  	src: asset-url('crkdownr.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'crkdwno1';
	  	src: asset-url('crkdwno1.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'crkdwno2';
	  	src: asset-url('BNEfG98.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'forgotbi';
	  	src: asset-url('Forgotbi.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'forgottb';
	  	src: asset-url('Forgottb.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'forgotte';
	  	src: asset-url('Forgotte.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'forgotti';
	  	src: asset-url('Forgotti.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'forgotts';
	  	src: asset-url('Forgotts.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'ffs';
	  	src: asset-url('ForgottenFuturistShadow.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'excelsiorcomics';
	  	src: asset-url('excelsiorcomics.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'exelsiorcomics3d';
	  	src: asset-url('exelsiorcomics3d.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'exelsiorcomics3dital';
	  	src: asset-url('exelsiorcomics3dital.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'exelsiorcomicscond';
	  	src: asset-url('exelsiorcomicscond.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'exelsiorcomicscondital';
	  	src: asset-url('exelsiorcomicscondital.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'excelsiorcomicsexpand';
	  	src: asset-url('excelsiorcomicsexpand.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'excelsiorcomicsexpandital';
	  	src: asset-url('excelsiorcomicsexpandital.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'excelsiorcomicsital';
	  	src: asset-url('excelsiorcomicsital.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'excelsiorcomicsleft';
	  	src: asset-url('excelsiorcomicsleft.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'JuneBug';
	  	src: asset-url('JuneBug.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'Vollkorn-Italic';
	  	src: asset-url('Vollkorn-Italic.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'JandaCheerfulScript';
	  	src: asset-url('JandaCheerfulScript.ttf') format('truetype');
	}
	@font-face {
	  	font-family: 'second-breakfast';
	  	src: asset-url('second-breakfast.ttf') format('truetype');
	}*/


	/* fonts */

	/*.headline-excelsiorcomics {
		font-size: 36px;
		color: #000;
		font-family: excelsiorcomics;
		margin-top: 18px;
		margin-left: 4px;
		padding-bottom: 4px;
		position: relative;	
	}*/	
	.headline-excelsiorcomics {
		color: #000;
		font-family: QuattrocentoSans-Regular; /*Quattrocento sans;*/
		font-size: 22px;	
		font-size: 20px; /*Was 6px;*/
		margin-left: 4px;
		margin-top: 18px;
		padding-bottom: 4px;
		position: relative;
	}

	.headline-JandaCheerfulScript {
		font-size: 36px;
		color: #000;
		font-family: JandaCheerfulScript;
		margin-top: 18px;
		margin-left: 4px;
		padding-bottom: 4px;
		position: relative;	
	}	
	.headline-junebug {
		font-size: 26px;
		color: #000;
		font-family: JuneBug;
		margin-top: 30px;
		margin-left: 0px;
		padding-bottom: 4px;
		position: relative;	
	}	
	.headline-second-breakfast {
		font-size: 16px;
		color: #000;
		font-family: second-breakfast;
		margin-top: 10px;
		margin-left: 10px;
		position: relative;	
	}	

	.headline-junebug-red {
	}	
	.headline-junebug-gold {
	}
	.headline-junebug-blue {
	}
	.headline-junebug:hover {
		text-decoration: underline;
		color: #989A9C;
	}			
	.headline-junebug .red:hover {
		color: #9C2426;
	}		
	.headline-junebug .gold:hover {
		color: #B8A727;
	}
	.headline-junebug .blue:hover {
		color: #3F27B8;
	}



	.boxtemp-red {
		border-style: solid;
		border-width: 1px;
		border-color:red;	
	}
	.boxtemp-black {
		border-style: solid;
		border-width: 1px;
		border-color:black;	
	}
	.boxtemp-green {
		border-style: solid;
		border-width: 1px;
		border-color:green;	
	}
	.boxtemp-blue {
		border-style: solid;
		border-width: 1px;
		border-color:blue;	
	}
	.boxtemp-red-d {
		border-style: solid;
		border-width: 2px;
		border-color:red;	
	}
	.boxtemp-black-d {
		border-style: solid;
		border-width: 2px;
		border-color:black;	
	}
	.boxtemp-green-d {
		border-style: solid;
		border-width: 2px;
		border-color:green;	
	}
	.boxtemp-blue-d {
		border-style: solid;
		border-width: 2px;
		border-color:blue;	
	}





	/* --body--*/

	body {
		background-color: #fff;
		/*background-color: #F1F2E1;		*/		

		position: relative;
		/*margin-right: auto;
		margin-left:auto;*/		
	}

	/* -- h1 h2 h3 h4 h5 -- */
	
	h1 {
	    font-size:30px;
	    font-family: Arial;
	}
	h2 {
	    font-size:24px;
	    font-family: Arial;		    
	}
	h3 {
	    font-size:18px;
	    font-family: Arial;		    
	}
	h4 {
	    font-size:14px;
	    font-family: Arial;		    
	}
	h5 {
	    font-size:10px;
		line-height:10%;	
	    font-family: Arial;				    
	}

	/* -- p -- */
		
	p {
	    font-size:10px;
	    font-family: Arial;		    
	    padding-left: 6px;
	}
		

	/* -- div layouts -- */

	div #edmatchuplogo {
		/*background-color: white;
		padding: 10px 10px 10px 30px;		
		margin: 10px;*/		
		
		align: top;
		float: right;
	}

	div .shadow {
		box-shadow: 1px 1px 10px #888888;
	}

	div .shadow-inset {
		box-shadow: 1px 1px 10px #000000 inset;
	}

	div .content {
		background-color: white;
		/*width: auto;*/
	}



	/*div .klyde {
		width: 1000px;
		margin-right: auto;
		margin-left: auto;
		background-color: #F1F2E1;
	}*/	
	
	
	div .space-10 {
		height: 10px;
	}
	
	div .space-20 {
		height: 20px;
	}

	div .space-30 {
		height: 30px;
	}

	div .space-40 {
		height: 40px;
	}

	div .space-50 {
		height: 50px;
	}

	div .space-60 {
		height: 60px;
	}

	div .space-70 {
		height: 70px;
	}

	div .space-80 {
		height: 80px;
	}

	div .space-90 {
		height: 90px;
	}
	
	div .space-100 {
		height: 100px;
	}

	div .space-150 {
		height: 150px;
	}

	div .space-200 {
		height: 200px;
	}

	/* -- table -- */

	div .table-main {
		display: table;
		background-color: white;
		width: 100%;
	}

	div .table-yellow-edmatchup {
		display: table;
		background-color: yellow;
		width: auto;
		border-radius: 20px;
		border:2px solid #254520;
		box-shadow: 1px 1px 10px #888888;
		margin-left: 38px;
	}

	div .table-white-edmatchup {
		display: table;
		background-color: #fff;
		width: auto;
	}

	div .table-yellow {
		display: table;
		background-color: yellow;
		width: auto;
	}

	div .table-gray {
		display: table;
		background-color: #ACC2B0;
		width: 100%;
	}

	div .table-white {
		display: table;
		background-color: #fff;
		width: 100%;
	}
	div .cell {
		display: table-cell;
		verticle-align: top;
	}

	div .row {
		display: table-row;
		align: top;
	}

	div .cell-1000 {
		display: table-cell;
		width: 1000px;
		vertical-align: top;		
	}
	div .cell-950 {
		display: table-cell;
		width: 950px;
		vertical-align: top;		
	}
	div .cell-900 {
		display: table-cell;
		width: 900px;
		vertical-align: top;		
	}

	div .cell-800 {
		display: table-cell;
		width: 800px;
		vertical-align: top;		
	}

	div .cell-750 {
		display: table-cell;
		width: 750px;
		vertical-align: top;		
	}

	div .cell-700 {
		display: table-cell;
		width: 700px;
		vertical-align: top;		
	}

	div .cell-650 {
		display: table-cell;
		width: 650px;
		vertical-align: top;		
	}

	div .cell-600 {
		display: table-cell;
		width: 600px;
		vertical-align: bottom;		
	}

	div .cell-550 {
		display: table-cell;
		width: 550px;
		vertical-align: top;		
	}

	div .cell-500 {
		display: table-cell;
		width: 500px;
		vertical-align: top;		
	}

	div .cell-450 {
		display: table-cell;
		width: 450px;
		vertical-align: top;		
	}

	div .cell-400 {
		display: table-cell;
		width: 400px;
		vertical-align: top;		
	}

	div .cell-350 {
		display: table-cell;
		width: 350px;
		vertical-align: top;		
	}

	div .cell-300 {
		display: table-cell;
		width: 300px;
		vertical-align: top;		
	}

	div .cell-250 {
		display: table-cell;
		width: 250px;
		vertical-align: top;		
	}

	div .cell-225 {
		display: table-cell;
		width: 225px;
		vertical-align: top;		
	}

	div .cell-200 {
		display: table-cell;
		width: 200px;
		vertical-align: bottom;		
	}

	div .cell-180 {
		display: table-cell;
		width: 180px;
		vertical-align: top;		
	}
	
	div .cell-175 {
		display: table-cell;
		width: 175px;
		vertical-align: top;		
	}

	div .cell-150 {
		display: table-cell;
		width: 150px;
		vertical-align: top;		
	}

	div .cell-125 {
		display: table-cell;
		width: 125px;
		vertical-align: top;		
	}

	div .cell-100 {
		display: table-cell;
		width: 100px;
		vertical-align: top;
	}

	div .cell-80 {
		display: table-cell;
		width: 80px;
		vertical-align: top;		
	}

	div .cell-50 {
		display: table-cell;
		width: 50px;
		vertical-align: top;		
	}

	div .cell-30 {
		display: table-cell;
		width: 30px;
		vertical-align: top;		
	}

	div .cell-100percent {
		display: table-cell;
		width: 100%;
		vertical-align: top;		
	}

	div .cell-100auto {
		display: table-cell;
		width: auto;
		vertical-align: top;		
	}

	div .cell-right-signin {
		display: table-cell;
		width: 50%;
		text-align: left;
		align: top;		
	}

	div .cell-left-signin {
		display: table-cell;
		width: 30%;	
		align: top;
		text-align: right;		
		padding-right: 20px;
	}
	
	div .cell-submit-signin {
		display: table-cell;
		width: 50%;
		text-align: left;
		align: top;		
		padding-left: 0px;
	}

	/* -- hr -- */

	.plain {
		clear: both;	
	}


	/* -- home presentation -- */

	div #homepresent {
		background-color: yellow;
		padding: 0px 0px 0px 0px;
	}


	/* -- flash notice -- */

	.flash-alert-login {
		background-color: white;
		color: green;
		font-style: italic;
		font-family: Arial;
		font-size: small;
		text-align: right;
		padding-right: 20px;
	}

	.flash-alert-notice {
		background-color: white;
		color: green;
		font-style: italic;
		font-family: Arial;
		font-size: small;
		text-align: center;
		padding-right: 20px;
	}

	.flash-alert-success {
		background-color: white;
		color: green;
		font-style: italic;
		font-family: Arial;
		font-size: small;
		text-align: center;
		padding-right: 20px;
	}

	.flash-alert-logout {
		background-color: white;
		color: red;
		font-style: italic;
		font-family: Arial;
		font-size: small;
		text-align: right;
		padding-right: 20px;
	}

	.flash-alert-error {
		background-color: white;
		color: red;
		font-style: italic;
		font-family: Arial;
		font-size: small;
		text-align: center;
		padding-right: 20px;
	}

	.link-to-right {
		color: black;
		font-family: Arial;		
		font-size: 13px;
		float: right;
		padding: 0px 14px 0px 0px;
	}




	.scroll_video_next, 
	.scroll_video_prev {
	    /*position:absolute;*/
	    /*right:-70px;*/
	    height:100%;
	    width:70px;    
	    display:block;
	    /*z-index: 10;*/
	    background-image: asset-url('largePointers.png');
	    background-repeat: no-repeat;
	    background-position:-155px center;    
	}
	
	.scroll_video_prev { left:-70px; background-position: -20px center; }
	.scroll_video_next:hover{ background-position:-405px center;}
	.scroll_video_prev:hover { background-position:-270px center; }





	/*** image ***/

	.image-h200 {
		height: 200px;
	}




	/*--btn--*/

	.btn {
	  
	  	display: inline-block;
	  	text-decoration: none; 
	  
	  	/*background: #CCC; 
	  	color: #FFF;	  
	  	border-radius: 4px;
	  	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
	  	font-family: msyh, Arial, sans-serif;
	  	line-height: 2.5em;
	  	padding: 0 3em;*/	  
	}

	.btn:focus {
	  background: #CCC; 
	  color: #5F7A2A;
	  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
	}
	
	.green.btn {
	  background: linear-gradient(#6BDB55,#57B245);
	  text-shadow: 1px 1px 1px #57B245; 
	}

	.olive.btn {
	  background: linear-gradient(#749C24,#ADC973);
	  text-shadow: 1px 1px 1px #57B245; 
	}

	.styled.btn {
		/*background-color: white;*/
				
		/*background-color:rgba(86, 133, 78, 0.8);*/
		
		background-color: inherit;
				
		color: #D0D618;
		
		font-family: msyh;
		font-size: 16px;
		width: 250px;
		height: 30px;
		border-style:solid;
		border-radius: 6px;
		border-color: #13571F;
		border-width: 2px;
		
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;		
	}
		
	.styled.btn:focus {
		border-color: #97FF47;
		
		color: #2AF707;
				
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}

	.submitcontact.btn {
		/*background-color: white;*/	
		/*background-color:rgba(86, 133, 78, 0.8);*/
		background-color: #376340;		
		/*color: #7FD1FA;*/		
		color: #FFFFFF;
		font-family: msyh;
		font-size: 16px;
		width: 300px;
		height: 70px;
		border-style:solid;
		border-radius: 6px;
		border-color: transparent;
		border-width: 2px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;		
	}
		
	.submitcontact.btn:focus {
		border-color: #41b737; /*#47FFFF;*/
		
		color: #41b737; /*#18C9C9;*/
				
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}

	.submitregcommun.btn {
		/*background-color: white;*/
				
		/*background-color:rgba(86, 133, 78, 0.8);*/
		
		background-color: #376340; /*inherit;*/
				
		/*color: #7FD1FA;	
		
		color: #3A8EC9;*/
		color: #FFFFFF;		
		font-family: msyh;
		font-size: 16px;
		width: 300px;
		height: 70px;
		border-style:solid;
		border-radius: 6px;
		border-color: transparent; /*#005C9E;*/
		border-width: 2px;
		
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;		
	}
		
	.submitregcommun.btn:focus {
		border-color: #41b737; /*#47FFFF;*/
		
		color: #41b737; /*#18C9C9;*/
				
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}



	.submitreg.btn {
		/*background-color: white;*/
				
		/*background-color:rgba(86, 133, 78, 0.8);*/
		background-color: #376340; /*inherit;*/	
		/*color: #7FD1FA;	
		color: #3A8EC9;*/
		color: #FFFFFF;
		
		font-family: msyh;
		font-size: 16px;
		width: 310px;
		height: 30px;
		border-style:solid;
		border-radius: 6px;
		border-color: #13571F;
		border-width: 2px;
		
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;		
	}
		
	.submitreg.btn:focus {
		border-color: #97FF47;
		
		color: #2AF707;
				
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}

	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    #ccc;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    #ccc;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    #ccc;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    #ccc;
	}
		
	.btn-joinClose:hover {
		-webkit-box-shadow: 0 0 25px #ccc;
		-moz-box-shadow: 0 0 25px #ccc;
		box-shadow: 0 0 25px #ccc;
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-o-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)		
	}	
	
	.red.btn {
	  background: linear-gradient(#D60A0A,#B20808);
	  text-shadow: 1px 1px 1px #B20808; 
	}
	
	.blue.btn {
	  background: linear-gradient(#11A1D6,#0E86B2);
	  text-shadow: 1px 1px 1px #0E86B2; 
	}

	.blue.btn {
	  background: linear-gradient(#0E86B2, #11A1D6);
	  text-shadow: 1px 1px 1px #0E86B2; 
	}
	
	.small.btn {
	  line-height: 1.75em;
	  padding: 0 1.5em; 
	  width: 100px;
	}
	
	/*.large.btn {
	  	line-height: 3em;
	  	padding: 0 3.5em;
	  	font-family: msyh;
	  	font-size: 16px; 
	  	width: 240px;	  
		height: 24px;
		border-style:solid;
		border-radius: 6px;
		border-color: #13571F;
		border-width: 2px;
	}*/
		
	.btn:hover { 
	  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
	  inset 0 1.5em 1em rgba(255,255,255,0.3);
	}
	
	.btn:active { 
	  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
	  inset 0 1.5em 1em rgba(0,0,0,0.3); 
	}


	/*--button3 --*/

	
	.button3 {
	  /* General Properties */
	  height:34px;
	  width:250px;
	  
	  
	  border:1px solid #494949;    
	  
	  background:#404040;
	  background:-moz-radial-gradient(bottom, #656565, #404040 60%);
	  
	  background:-webkit-gradient(radial, center bottom, 0, center 230, 230, from(#656565), to(#404040));  
	  -moz-border-radius:3px;
	  
	  
	  -webkit-border-radius:3px;  
	  border-radius:3px;
	  
	  -moz-box-shadow:0px 0px 3px #000;
	  -webkit-box-shadow:0px 0px 3px #000;
	  box-shadow:0px 0px 3px #000;
	  color:#fff;
	  
	  text-shadow:0px 0px 5px rgba(255, 255,255, 0.5);  
	  font-family:'NotethisRegular', Verdana, Arial, sans-serif;  
	  
	  font-size:24px;
	  padding-top:1px;
	  outline: none;  
	}
	  
	.button3:hover, .button3:focus {
	  background:-moz-radial-gradient(bottom, #656565, #404040 80%);
	  background:-webkit-gradient(radial, center bottom, 0, center 230, 250, from(#656565), to(#404040));
	  outline: none;
	  border: none;  
	}
	
	.button3:active {
	  -moz-box-shadow:0px 0px 2px #000;
	  -webkit-box-shadow:0px 0px 2px #000;
	  box-shadow:0px 0px 2px #000;
	  text-shadow:0px 0px 8px rgba(255, 255,255, 1);
	  outline: none;
	  border: none;
	}



	
	
	
	

	/*-- footer --*/	
	
	div .footer {
		padding: 0px 0px 0px 0px;
		position: relative;
		top: -4px;
		z-index: +5;
		/*background-color: #fff;*/						
	}
	
	div .table-footer {
		display: table;
		width: 100%;
		box-shadow: 2px 2px 10px #000;		
		
      	/*background: -moz-linear-gradient(center bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);     */		
		
		
        background: #203121;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #203121), color-stop(0.95, #3E4F4B), color-stop(0.96, #6F7C67), color-stop(0.99, #4F5E44));
        background: -moz-linear-gradient(center bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        background: -webkit-linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        background: -o-linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        background: -ms-linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203121', endColorstr='#3E4F4B', GradientType=0 );
        background: linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);     
		
		
        /*background: #4F7551;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #4F7551), color-stop(0.95, #49695A), color-stop(0.96, #829179), color-stop(0.99, #67785A));
        background: -moz-linear-gradient(center bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        background: -webkit-linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        background: -o-linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        background: -ms-linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F7551', endColorstr='#49695A', GradientType=0 );
        background: linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);*/		
		
		
		
		
		/*background: linear-gradient(top, #254520 0%, #56854E 100%);  
		background: -moz-linear-gradient(top, #254520 0%, #56854E 100%); 
		background: -webkit-linear-gradient(top, #254520 0%,#56854E 100%);*/		
						
	}

	div .table-footer-inner {
		display: table;
		height: 140px;
		
      	/*background: -moz-linear-gradient(center bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);     */

        background: #203121;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #203121), color-stop(0.95, #3E4F4B), color-stop(0.96, #6F7C67), color-stop(0.99, #4F5E44));
        background: -moz-linear-gradient(center bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        background: -webkit-linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        background: -o-linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        background: -ms-linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203121', endColorstr='#3E4F4B', GradientType=0 );
        background: linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);     


        /*background: #4F7551;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #4F7551), color-stop(0.95, #49695A), color-stop(0.96, #829179), color-stop(0.99, #67785A));
        background: -moz-linear-gradient(center bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        background: -webkit-linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        background: -o-linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        background: -ms-linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4F7551', endColorstr='#49695A', GradientType=0 );
        background: linear-gradient(bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);*/
       
       		
		/*background: linear-gradient(top, #254520 0%, #56854E 100%);  
		background: -moz-linear-gradient(top, #254520 0%, #56854E 100%); 
		background: -webkit-linear-gradient(top, #254520 0%,#56854E 100%);*/		
				
	}

	div .table-footer a {
		font-family: msyh;	
		color: #fff;			
		font-size: 18px;
		text-decoration: none;
	}
	
	div .table-footer a:hover {
		color: #BFFAB9;
	}
	
	div .table-footer a:active {
		color:#F0F56E;
		outline: none;
	}
	
	/*-- eleminate dotted border on Mozilla buttons --*/
	a:focus, a:active, 
	button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	select::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {
	    border: 0;
	    outline : 0;
	}


	
	
	
	div.content_about {
		padding: 10px 10px 10px 30px;		
		background-color: white;
		font-family:Arial, Helvetica, sans-serif;
	}
	
	div.content_about h1 {
		font-size: 16px;
		font-weight: normal;
		font-style: italic;
		line-height: normal;
		color: #333333;
	}
	
	div.content_about p {
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: normal;
		color: #333333;
	}
	
	div.content_about li {
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		line-height: normal;
		color: #333333;
	}
	
	
	
	






.bar-article-header-spotlight {

	/*height: 21px;*/	
	
	width: 619px;
    
    /*text-align: center;*/
       
	/*border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;*/       
       
    border-top: 30px solid #9DC786;
    
    /*border-top: 30px solid rgb(99,33,73,0.5);*/
       
    border-left: 14px solid transparent;
    border-right: 0px solid transparent;
       
    height: 0px;
    
    
    /*background-color: #9DC786;*/
       
    /*background-color: transparent;    */
       
	-webkit-transform: rotate(0.05deg);
	-moz-transform: scale(1.1);
	-o-transform: rotate(0.05deg);
	transform: rotate(0.05deg);    
    
}


.idea {
  border-top: 30px solid #A6A6A6;
}

/*.idea span {
  color: #000000;
}*/


.tactic {
    border-top: 30px solid #214325;
}


/*.idea {
	border-top: 30px solid #F7CE00;
}*/

.blog {/* brown */
	border-top: 30px solid #AD4B05;
}
.coffee_chat {
	border-top: 30px solid #634E3F;	
}
.industry_news_orange {/* orange */
	border-top: 30px solid #F6861F
}
.industry_news_green {/* green */
	border-top: 30px solid #1FF6B9
}
.industry_news_tan {/* tan */
	border-top: 30px solid #BFA582
}
.industry_news_violet {/* violet */
	border-top: 30px solid #B882C2
}
.industry_news_blue {/* blue */
	border-top: 30px solid #0567AD
}
.industry_news_brown {/* brown */
	border-top: 30px solid #AD4B05
}
.industry_news_pink {/* pink */
	border-top: 30px solid #FAB1C6
}
.industry_news_pine {/* pine */
	border-top: 30px solid #197057
}
.industry_news_royalred {/* royalred */
	border-top: 30px solid /*Was: #CC45B3 Changed to light green*/ #41b737;
}
.thoughts {/* blue */
	border-top: 30px solid #009CD8
}
.spotlight {/* green */
	border-top: 30px solid #9DC786
}
.perspective {/* purple */
	border-top: 30px solid #07017B
}
.people {/* red */
	border-top: 30px solid #FB433A
}
.research {/* turquoise dark */
	border-top: 30px solid #568E96
}
/*.tactic {
	border-top: 30px solid #000000
}*/

.sponsor {/* gray */
	border-top: 30px solid #9FA5A3
}
.default {/* black */
	border-top: 30px solid #9FA5A3
}
.design {/* dark violet*/
	border-top: 30px solid #5E085D
}






.thoughts_catbox {
border-top: 27px solid #37633A;
}
.coffee_chat_catbox {
border-top: 27px solid #3AAB48;
}
.idea_catbox  {
border-top: 27px solid #A6A6A6;
}
.research_catbox  {
border-top: 27px solid #808080;
}
.tactic_catbox {
border-top: 27px solid #214325;
}
.people_catbox  {
border-top: 27px solid #3AAB48;
}
.spotlight_catbox {/* green */
	border-top: 27px solid #9DC786
}




/*.idea_catbox {
	border-top: 27px solid #F7CE00;
}*/

.blog_catbox {/* brown */
	border-top: 27px solid #AD4B05;
}
/*.coffee_chat_catbox {
	border-top: 27px solid #634E3F;
}*/

.industry_news_catbox_orange {/* orange */
	border-top: 27px solid #F6861F
}
.industry_news_catbox_green {/* green */
	border-top: 27px solid #1FF6B9
}
.industry_news_catbox_tan {/* tan */
	border-top: 27px solid #BFA582
}
.industry_news_catbox_violet {/* violet */
	border-top: 27px solid #B882C2
}
.industry_news_catbox_blue {/* blue */
	border-top: 27px solid #0567AD
}
.industry_news_catbox_brown {/* brown */
	border-top: 27px solid #AD4B05
}
.industry_news_catbox_pink {/* pink */
	border-top: 27px solid #FAB1C6
}
.industry_news_catbox_pine {/* pine */
	border-top: 27px solid #197057
}
.industry_news_catbox_royalred {/* royalred */
	border-top: 27px solid #CC45B3
}

/*.thoughts_catbox {
	border-top: 27px solid #009CD8
}*/

.spotlight_catbox {/* green */
	border-top: 27px solid #9DC786
}
.perspective_catbox {/* purple */
	border-top: 27px solid /* was: #07017B*/ #1f7c82;
}
/*.people_catbox {
	border-top: 27px solid #FB433A
}*/
/*.research_catbox {
	border-top: 27px solid #568E96
}*/


/*.tactic_catbox {
	border-top: 27px solid #000000
}*/

.sponsor_catbox {/* gray */
	border-top: 27px solid #9FA5A3
}
.default_catbox {/* black */
	border-top: 27px solid #9FA5A3
}
.design_catbox {/* dark violet*/
	border-top: 27px solid #5E085D
}


.bg-idea {/* yellow */
	background-color: #F7CE00 !important
}
.bg-blog {/* brown */
	background-color: #AD4B05 !important
}
.bg-coffee-chat {/* coffee brown */
	background-color: #634E3F !important
}
.bg-industry-news {/* orange */
	background-color: #F6861F !important
}
.bg-industry-news-orange {/* orange */
	background-color: #F6861F !important
}
.bg-industry-news-green {/* green */
	background-color: #1FF6B9 !important
}
.bg-industry-news-tan {/* tan */
	background-color: #BFA582 !important
}
.bg-industry-news-violet {/* violet */
	background-color: #B882C2 !important
}
.bg-industry-news-blue {/* blue */
	background-color: #0567AD !important
}
.bg-industry-news-brown {/* brown */
	background-color: #AD4B05 !important
}
.bg-industry-news-pink {/* pink */
	background-color: #FAB1C6 !important
}
.bg-industry-news-pine {/* pine */
	background-color: #197057 !important
}
.bg-industry-news-royalred {/* royalred */
	background-color: #CC45B3 !important
}
.bg-perspective {/* purple */
	background-color: #07017B !important
}
.bg-people {/* red */
	background-color: #FB433A !important
}
.bg-research {/* turquoise dark */
	background-color: #568E96 !important
}
.bg-sponsor {/* gray */
	background-color: #9FA5A3 !important
}
.bg-spotlight {/* green */
	background-color: #9DC786 !important
}
.bg-tactic {/* black */
	background-color: #000000 !important
}
.bg-thoughts {/* blue */
	background-color: #009CD8 !important
}
.bg-default {/* black */
	background-color: #9FA5A3 !important
}
.bg-design {/* dark violet*/
	background-color: #5E085D !important
}


.k-panographic-image {
	margin-top: 20px;
	margin-bottom: 16px;
	text-align: center;
}
.k-panographic-image img {
	/*width: 100%*/	
}



#article-credit .color-notch {
	float: left;
	height: 3px;
	width: 14px;
	
	/*background: #0099FF;*/
		
	margin-bottom: 14px;
	margin-right: 486px
}



.line-idea {/* yellow */
	border-top: #F7CE00 5px solid !important
}
.line-blog {/* brown */
	border-top: #AD4B05 5px solid !important
}
.line-coffee-chat {/* coffee brown */
	border-top: #634E3F 5px solid !important
}
.line-industry-news {/* orange */
	border-top: #F6861F 5px solid !important
}
.line-industry-news-orange {/* orange */
	border-top: #F6861F 5px solid !important
}
.line-industry-news-green {/* green */
	border-top: #1FF6B9 5px solid !important
}
.line-industry-news-tan {/* tan */
	border-top: #BFA582 5px solid !important
}
.line-industry-news-violet {/* violet */
	border-top: #B882C2 5px solid !important
}
.line-industry-news-blue {/* blue */
	border-top: #0567AD 5px solid !important
}
.line-industry-news-brown {/* brown */
	border-top: #AD4B05 5px solid !important
}
.line-industry-news-pink {/* pink */
	border-top: #FAB1C6 5px solid !important
}
.line-industry-news-pine {/* pine */
	border-top: #197057 5px solid !important
}
.line-industry-news-royalred {/* royalred */
	border-top: #CC45B3 5px solid !important
}
.line-perspective {/* purple */
	border-top: #07017B 5px solid !important
}
.line-people {/* red */
	border-top: #FB433A 5px solid !important
}

.line-research {/* turquoise dark */
	border-top: #568E96 5px solid !important
}

.line-sponsor {/* gray */
	border-top: #9FA5A3 5px solid !important
}
.line-spotlight {/* green */
	border-top: #9DC786 5px solid !important
}
.line-tactic {/* black */
	border-top: #000000 5px solid !important
}
.line-thoughts {/* blue */
	border-top: #009CD8 5px solid !important
}
.line-default {/* black */
	border-top: #9FA5A3 5px solid !important
}
.line-design {/* dark violet*/
	border-top: #5E085D 5px solid !important
}






.headlines .h1 {
	font-family: KlavikaBlack;
	font-size: 34pt;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1em;
	position: relative
}
.headlines .h2 {
	font-family: KlavikaExtraLight;
	font-size: 17pt;
	margin-top: 10px;
	margin-bottom: 12px;
	position: relative;
	line-height: 1.15em
}
.headlines .h1 a, .headlines .h2 a {
	color: black;
	text-decoration: none
}
div.headlines {
	margin-left: 0px;
	padding-left: 0px
}

a {
	color: #003399;
	text-decoration: none
}
a:hover {
	text-decoration: underline
}




.k-mainfeaturerow {
	position: relative;
	height: 680px
}
.k-mainfeaturerow .caption {
	background: #000000;
	color: #FFFFFF;
	width: 830px;
	/*width: 500px;*/
	height: 21px;
	position: absolute;
	top: 438px;
	left: 125px;
	padding-top: 9px;
	padding-left: 15px;
	font-size: 9pt;
	font-family: KlavikaMedium;
	text-transform: uppercase
}

.k-mainfeaturerow .caption a {
	color: white
}

.k-mainfeaturerow .headlines {
	float: right;
	width: 755px;
	padding-top: 30px;
	margin-bottom: 25px;
	position: absolute;
	left: 205px
}


.channel-article-caption {
	width: 600px;
}

.channel-article-header {
    border-left: 30px solid transparent;  
    height: 0;  
}

.channel-article-header span {
	font-family: KlavikaBold;
	text-transform: uppercase;
	font-size: 9pt;	
	color: #fff;
	position: relative;
	top: -25px;	
	padding-left: 20px;
}






/*body {
	position: relative;
	margin: 0px;
	font-family: KlavikaRegular, Helvetica, Arial, san-serif;
}*/


h3 {
	font-family: KlavikaMedium;
	font-size: 13pt;
	margin-top: 0px;
	margin-bottom: 0.8em
}

/*.kontainer {
	position: relative;
	margin: 0 auto;
	clear: both;
	width: 970px;
	background-color: #fff;
}*/
.kontainer {
     position: relative;
     margin: 0 auto;
     clear: both;
     /*width: 950px;*/
     width: 970px;
     padding-left: 20px;
     /*background-color: #fff;
     border:2px solid #f7f7f7;
     box-shadow: 4px 4px 4px #CCC;*/
}
 
.kontainer-space-1 {
	height: 30px;
}
.kontainer-space-2 {
	height: 30px;
}

#container { /* delete */
	position: relative;
	margin: 0 auto;
	clear: both;
	width: 970px;
}


.container-home {
	position: relative;
	margin: 0 auto;
	clear: both;
	width: 970px;
	background-color: white;	
	/*height: 1500px;*/	
	
}






#prev, #next {
	display: block !important
}





.container-main {
	width: 100%
}


.kolumnist-photo {
	width: 100px;
	/*height: 100px;*/	
	
	margin-left: 8px;
	margin-right: 20px;
	float: left;
	background: #fff;
	
	/*background: #5628e1;*/	
}

.imagekaption {
	font-family: arial, helvetica, sans-serif;
	text-align: left;
	color: #666666;
	font-size: 11px;
	line-height: 13px;
	margin-top: 3px;
	margin-bottom: 3px
}

bodykopy p {
	margin-top: 0px;
	margin-bottom: 0.9em;
	font-family: QuattrocentoSans-Regular; /*Vollkorn, "Times New Roman";*/
	font-size: 16px;
	color: #000000;
	line-height: 1.5em;
	letter-spacing: -0.01em
}
bodykopy ol, #bodykopy ul {
	font-family: Vollkorn, "Times New Roman";
	font-size: inherit
}

#bodykopy strong, #bodykopy b {
	font-family: QuattrocentoSans-Regular;
	/*font-family: KlavikaBlack;*/
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0.8em;
	font-weight: bold;
	letter-spacing: 0
}

#mainkolumn {
	float: left;
	width: 100%
}

#mainkolumn.withsidebar {
	width: 639px
}
#k-sidebar {
	width: 300px;
	float: left;
	margin-left: 29px
}






#k-bigarticlehead #k-channel-article-header {
	margin-top: -16px;
	position: relative;
	margin-left: 116px;
	width: 842px
}
#k-bigarticlehead h1#k-headline {
	width: 958px;
}
p#k-deck {
	font-family: KlavikaExtraLight;
	font-size: 17pt;
	line-height: 1.2em;
	margin-top: 4px;
	margin-bottom: 2px;
	letter-spacing: -0.03em
}





#k-articlesidebar {
	width: 200px;
	float: left
}
#k-articlesidebar li {
	font-size: 13px !important
}
#k-articlesidebar_inner {
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 10px
}

#k-articlecontent ol {
	margin: 8px;
	padding: 0px
}
#k-articlecontent ol, #k-articlecontent ul {
	padding-left: 20px
}

h1#k-headline {
	display: block;
	font-family: KlavikaBlack;
	font-size: 35pt;
	font-weight: normal;
	line-height: 1em;
	margin-top: 18px;
	margin-bottom: 5px;
	letter-spacing: -0.03em
}

#k-article-credit {
	height: 100px;
	width: 628px;
	clear: both;
	font-weight: normal;
	font-size: 10pt;
	margin-top: 35px
}
#k-article-credit .columnist-photo {
	width: 100px;
	height: 100px;
	margin-left: 8px;
	margin-right: 20px;
	float: left;
	background: #5628e1
}

#k-article-credit .color-notch {
	float: left;
	height: 3px;
	width: 14px;
	background: #0099FF;
	margin-bottom: 14px;
	margin-right: 486px
}

#k-article-credit .credits {
	float: left;
	width: 486px
}
#k-article-credit .credits a {
	text-decoration: none;
	border-bottom: #d4d4d4 1px solid;
	color: #000000
}
#k-article-credit .columnist-name {
	/*text-transform: uppercase;*/
		
	font-weight: bold
}
#k-bottom-of-article {
	width: 628px;
	margin-bottom: 50px;
	margin-top: 10px;
	font-size: 8pt;
	text-transform: uppercase
}
#k-bottom-of-article .photo-credit {
	float: left;
	font-size: 8pt;
	text-align: left;
	color: #999999;
	width: 400px
}
#k-bottom-of-article .photo-credit a {
	color: #999999
}
#k-bottom-of-article .updated {
	font-weight: bold;
	float: right;
	text-align: right
}














.rowfluid .psubfeature {
	width: 33%;
	height: 200px;
	display: inline-block;
	position: relative;
	vertical-align: top
}
.rowfluid .psubfeature .innerpcell-subfeature {
	margin-right: 61px
}
.rowfluid .psubfeature .h1 {
	font-size: 9pt;
	font-family: KlavikaMedium;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 10px;
	display: inline;
	line-height: 22pt
}
.rowfluid .psubfeature .h1-channel {
	font-size: 9pt;
	font-family: KlavikaLight;
	text-transform: uppercase;
	color: #000000;
	padding-top: 7px;
	display: inline;
	line-height: 22pt
}
.rowfluid .psubfeature .h1 a {
	color: white
}
#front-page-item .h1 {
	font-size: 9pt;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
	margin-right: 1em
}
.rowfluid .psubfeature .h2 {
	font-size: 20pt;
	font-family: KlavikaBlack;
	margin-top: 18px;
	line-height: 1.05em;
	overflow: visible;
	margin-bottom: 5px
}
.rowfluid .psubfeature #article-share {
	width: 100%
}


div.kk-headlines {
    margin-left: 0;
    padding-left: 0;
}

body.page .kk-headlines .h1 {
	font-size: 22px
}


.kk-headlines .h1 {
     font-family: 'Quattrocento', sans-serif;
	 margin-top: 25px;
}
.kk-headlines .h1 {
	/*font-family: KlavikaBlack;*/
	font-size: 28pt;
	/*margin-top: 0px;*/
	margin-bottom: 10px;
	line-height: 1em;
	position: relative
}


.kk-headlines .h2 {
font-family: 'Quattrocento', serif;
}

.kk-headlines .h2 {
	/*font-family: KlavikaExtraLight;*/
	font-size: 16pt;
	margin-top: 10px;
	margin-bottom: 12px;
	position: relative;
	line-height: 1.15em
}
.kk-headlines .h1 a {
	color: black;
	text-decoration: none;
}
.kk-headlines .k-decorate-none {
	text-decoration: none;
}
.kk-headlines .h2 a {
	color: black;
}
.k-mainfeaturerow .kk-headlines {
	float: right;
	/*width: 755px;*/
	width: 600px;
	padding-top: 30px;
	margin-bottom: 25px;
	position: absolute;
	/*left: 205px;*/
	left: 0px;

}







html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}
html {
	line-height: 1
}
ol, ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}
q, blockquote {
	quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none
}
a img {
	border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block
}
form {
	margin: 0;
	padding: 0;
	z-index: 0
}
:focus {
	-moz-outline-style: none
}
a {
	color: #009CD8;
	text-decoration: none
}
img {
	border: 0px
}
a:hover {
	text-decoration: underline
}
i, cite, em, var, address, dfn {
	font-style: italic
}
ol, ul {
	list-style: disc
}
strong, b {
	font-weight: bold
}
.clearme {
	clear: both
}
blockquote {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 22px
}
#bodycopy strong, #bodycopy b {
	font-family: KlavikaBlack;
	font-size: 18px;
	margin-top: 0px;
	margin-bottom: 0.8em;
	font-weight: normal;
	letter-spacing: 0
}
body.page .headlines .h1 {
	font-size: 22px
}
.headlines .h1 {
	font-family: KlavikaBlack;
	font-size: 34pt;
	margin-top: 0px;
	margin-bottom: 10px;
	line-height: 1em;
	position: relative
}
.headlines .h2 {
	font-family: KlavikaExtraLight;
	font-size: 17pt;
	margin-top: 10px;
	margin-bottom: 12px;
	position: relative;
	line-height: 1.15em
}
span.byline a {
	color: black
}
span.byline {
	line-height: 20px;
	white-space: nowrap;
	letter-spacing: -0.3px;
	font-family: KlavikaMedium, Arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: black;
	padding-left: 5px
}
span.byline a:hover {
	text-decoration: underline
}
.headlines .h1 a, .headlines .h2 a {
	color: black;
	/*text-decoration: none*/	
}
div.headlines {
	margin-left: 0px;
	padding-left: 0px
}
.mainfeaturerow {
	position: relative;
	height: 680px
}
.mainfeaturerow > img {
	width: 970px;
	height: 450px;
	overflow: hidden;
	margin: 0px;
	background-color: lightgray
}
.mainfeaturerow .caption {
	background: #000000;
	color: #FFFFFF;
	width: 830px;
	height: 21px;
	position: absolute;
	top: 438px;
	left: 125px;
	padding-top: 9px;
	padding-left: 15px;
	font-size: 9pt;
	font-family: KlavikaMedium;
	text-transform: uppercase
}
.mainfeaturerow .caption a {
	color: white
}
.mainfeaturerow .subchannel-caption {
	background: #000000;
	color: #FFFFFF;
	width: 830px;
	height: 21px;
	position: absolute;
	top: 549px;
	left: 125px;
	padding-top: 9px;
	padding-left: 15px;
	font-size: 9pt;
	font-family: KlavikaMedium;
	text-transform: uppercase
}
.mainfeaturerow .headlines {
	float: right;
	width: 755px;
	padding-top: 30px;
	margin-bottom: 25px;
	position: absolute;
	left: 205px
}
.mainfeaturerow #headline-trio {
	width: 970px;
	height: 166px;
	clear: both;
	padding: 0px;
	position: absolute;
	margin-top: 240px
}
body.channel h1 {
	font-size: 34pt;
	text-transform: uppercase;
	font-family: KlavikaBlack;
	margin: 0px
}
.rowfluid .psubfeature {
	width: 33%;
	height: 200px;
	display: inline-block;
	position: relative;
	vertical-align: top
}
.rowfluid .psubfeature .innerpcell-subfeature {
	margin-right: 61px
}
.rowfluid .psubfeature .h1 {
	font-size: 9pt;
	font-family: KlavikaMedium;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 10px;
	display: inline;
	line-height: 22pt
}
.rowfluid .psubfeature .h1-channel {
	font-size: 9pt;
	font-family: KlavikaLight;
	text-transform: uppercase;
	color: #000000;
	padding-top: 7px;
	display: inline;
	line-height: 22pt
}
.rowfluid .psubfeature .h1 a {
	color: white
}
.rowfluid .psubfeature .h2 {
	font-size: 20pt;
	font-family: KlavikaBlack;
	margin-top: 18px;
	line-height: 1.05em;
	overflow: visible;
	margin-bottom: 5px
}
.rowfluid .psubfeature .h2 a {
	color: #000;
	/*text-decoration: none*/	
}
.rowfluid .psubfeature .k-decorate-none {
	text-decoration: none;	
}
.rowfluid .psubfeature #article-share {
	width: 100%
}
body {
	position: relative;
	margin: 0px;
	font-family: KlavikaRegular, Helvetica, Arial, san-serif
}
bodycopy p {
	margin-top: 0px;
	margin-bottom: 0.9em;
	font-family: Vollkorn, "Times New Roman";
	font-size: 16px;
	color: #000000;
	line-height: 1.5em;
	letter-spacing: -0.01em
}
bodycopy ol, #bodycopy ul {
	font-family: Vollkorn, "Times New Roman";
	font-size: inherit
}
h3 {
	font-family: KlavikaMedium;
	font-size: 13pt;
	margin-top: 0px;
	margin-bottom: 0.8em
}


#bottom-of-article .updated {
	font-weight: bold;
	float: right;
	text-align: right
}


	div #main_header_adblock_1 {
		height: 140px;
		width: 600px;		
		/*background-color: #D2F6FA;*/
				
		background-color: #D2FADA;
		
		border: 1px solid #ccc;
		border-radius: 10px;
		
		/*box-shadow: 1px 1px 10px #888888;*/		
		
		padding: 10px 10px 10px 30px;		
		margin: 10px;
		align: top;
		/*float: right;*/		
	}


	#ad1-upper {
		background-color: #8080FF; 
		width: 300px; 
		height: 300px; 
		margin-top: 8px; 
		border: 1px solid #8080FF; 
		border-top-left-radius: 10px; 
		border-top-right-radius: 10px;
	}
	#ad1-upper-inner {
		margin-left: 30%;
		margin-top: 30%;
	}
	#ad1-lower {
		background-color: #8080FF; 
		width: 300px; 
		height: 376px; 
		margin-top: 8px; 
		border: 1px solid #8080FF; 
		border-bottom-left-radius: 10px; 
		border-bottom-right-radius: 10px;
	}
	#ad2 {
		position: relative;
		background-color: #70DBFF; 
		width: 100%; 
		height: 200px; 
		margin-top: 8px; 
		border: 1px solid #ccc; 
		border-radius: 10px;
	}
	#ad2-inner {
		position: relative;
		margin-left: 44%;
		margin-top: 8%;
	}


	.link-back {
		color: #C4740C; /*#9C5800;*/
		font-size: 16px;
		font-family: KlavikaMedium;		
	}
	.linkback {
		margin-left: 50px;		
	}

	#privacy-format {
		color: #000;
		font-family: Arial, Helvetica, sans-serif;
	}
	#privacy-format strong {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	}
	#privacy-format ul li {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: 800;
	}
	#privacy-format .privacy-title {
		color: #010157;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;		
		font-size: 22px;
	}
	#privacy-format blockquote {
		font-weight: 800;
	}
	#privacy-format em {
		color: #666;
		font-weight: 400;
	}
