/*** image ***/

.img-cell-single {
	position: absolute;
	bottom: 0px;	
}




/*** layout ***/


.jump {
	width: 600px;
}
.header {
	width: 830px;
	position: relative;
	top: -20px;
	float: right;
}
.catbox {
	width: 240px;
	position: relative;
	top: -10px;
	float: right;
}
.catbox_posit {
	width: 240px;
	top: -10px;
	float: right;
}
.board .catcolorbox_posit {
	position: absolute;
	right: 0;
	bottom: -22px;
}
.catbox_pos {
	width: 240px;
	top: -10px;
	float: right;
}
.board .catcolorbox_pos {
	position: absolute;
	right: 0;
	bottom: -11px;
}

.catbox-article {
    border-left: 27px solid transparent;  
    height: 0;  
}
.catbox-article span {
	font-family: KlavikaBold;
	text-transform: uppercase;
	font-size: 9pt;	
	color: #fff;
	padding-left: 20px;
	position: relative;
	top: -20px;	
}
.catbox-article a {
	
}
.catbox-article span:hover {
	color: #fff;
	text-decoration: underline;
}

.channel-article {
    border-left: 30px solid transparent;  
    height: 0;  
}
.channel-article span {
	font-family: KlavikaBold;
	text-transform: uppercase;
	font-size: 9pt;	
	color: #fff;
	padding-left: 20px;
	position: relative;
	top: -25px;	
}
.channel-article a:hover {
	color: #fff;
}
.channel-article span:hover {
	color: #fff;
}



.board {
	margin: 0;
	width: 100%;
	font-size: 0px;
	position: relative;
	background-image: none
}
.board a {
	color: #000
}
.board a:hover {
	text-decoration: none
}
.board .rowfluid {
	position: relative;
	width: 970px;
	margin: auto
}
.board .col_1 {
	width: 33%;
	margin-right: -1px;
	border-right: solid 1px #e5e5e5
}
.board .col_2 {
	width: 33.8%
}
.board .col_3 {
	width: 33%;
	margin-left: -1px;
	border-left: solid 1px #e5e5e5
}
.board .b_container {
	height: 200px
}
.board .b_container {
	position: relative;
	width: 300px
}
.board .col_2 .b_container {
	width: 300px
}

.board .inner_cell {
	margin-top: 13px;
	background-color: #FFF;
	height: 303px;
	position: relative
}
.board .row_1 .inner_cell {
	margin-top: 0px
}
.board .col_2 .inner_cell {
	margin-left: 14px;
	margin-right: 14px
}
.board .col_3 .inner_cell {
	margin-left: 13px;
	margin-right: 5px
}
.board .b_headline {
	font-size: 20px;
	line-height: 20px;
	color: #000;
	font-family: KlavikaBlack, Arial, sans-serif;
	margin-top: 30px;
	margin-left: 0px;
	width: 290px;
	position: relative
}
.board .catcolorbox {
	background-color: #009cd8;
	position: absolute;
	color: #FFF;
	font-size: 12px;
	line-height: 27px;
	font-family: KlavikaMedium, Arial, sans-serif;
	display: inline-block;
	right: 0;
	width: 230px;
	bottom: -15px;
	padding-left: 10px;
	padding-top: 1px;
	padding-right: 10px;
	overflow: hidden;
	max-height: 28px;
	text-overflow: ellipsis
}
.board .b_link:hover {
	text-decoration: underline;
}
.board .container_space {
	margin-bottom: -1px;
	border-bottom: solid 1px #e5e5e5;
	width: 100%;
	text-align: center;
	min-height: 121px
}
.board .container_space_1 {
	margin-bottom: -1px;
	border-bottom: solid 1px #e5e5e5;
	width: 100%;
	text-align: center;
	min-height: 121px
}

.board .b_container_1 {
	position: relative;
	width: 300px;
	height: 200px;	
}
.board .col_2 .b_container_1 {
	width: 300px
}
.board .inner_cell_1 {
	margin-top: 13px;
	background-color: #FFF;
	height: 303px;
	position: relative
}
.board .col_1 .inner_cell_1 {
	margin-left: 5px;
	margin-right: 13px
}
.board .col_2 .inner_cell_1 {
	margin-left: 14px;
	margin-right: 14px
}
.board .col_3 .inner_cell_1 {
	margin-left: 13px;
	margin-right: 5px
}







.board .catcolorbox_1 {
	position: absolute;
	right: 0;
	bottom: -15px;
}
.board .rowfluid.row_wideunit {
	width: 100%;
	background-color: #f5f5f5;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 15px;
	margin-bottom: 25px
}



.board .pbyline {
	line-height: 20px;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: KlavikaMedium, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0px
}
.board .text_container {
	border-top: solid 5px #F6861F;
	background-color: #FFF;
	display: table;
	height: 295px
}
.board .text_container {
	font-size: 34px;
	line-height: 34px;
	font-family: KlavikaExtraLight, Arial, sans-serif;
	letter-spacing: -1px;
	vertical-align: bottom;
	display: table-cell
}
.text_box {
	font-size: 34px;
	line-height: 34px;
	font-family: KlavikaExtraLight, Arial, sans-serif;
	letter-spacing: -1px;
	vertical-align: bottom;
	display: table-cell
}

.board .text_container .text_cat {
	left: 0;
	top: 8px;
	font-family: KlavikaMedium, Arial, sans-serif;
	font-size: 12px;
	position: absolute;@-moz-document url-prefix(){
		top: 13px;
	}
}
.board .b_portrait {
	z-index: 3
}
.board .b_portrait.col_1, .board .b_portrait.col_2, .board .b_portrait.col_3 {
	border-bottom: none
}
.board .b_portrait .b_container {
	height: 521px
}
.board .col_1, .board .col_2, .board .col_3 {
	position: relative;
	display: inline-block;
	margin-bottom: -1px;
	border-bottom: solid 1px #e5e5e5;
	height: 100%;
	vertical-align: top
}
.board .col_1 .inner_cell {
	margin-left: 5px;
	margin-right: 13px
}





















/*.k-governcell {
	position: relative;
}
.k-outercell {
	height: auto;	
	position: relative;
}
.kol1-3 {
	width: 315px;
	position: absolute; left: 2px;
}
.kol2-3 {
	width: 315px;
	position: absolute; left: 327px;
}
.kol3-3 {
	width: 315px;	
	position: absolute; right: 2px;
}
.ktop {
	border-top: 1px solid #e5e5e5;
}
.kbottom {
	border-bottom: 1px solid #e5e5e5;				
}
.k-cell-divider-horiz {
	width: 326px;
	height: 1px;
	border-bottom: 1px solid #e5e5e5;	
	position: relative;
	right: -4px;
	left: -4px;
}
.k-cell-divider-1 {
	border-right: 1px solid #e5e5e5;
	width: 1px;
	position: absolute;
	left: 322px; 
}
.k-cell-divider-2 {
	border-right: 1px solid #e5e5e5;
	width: 1px;
	position: absolute;
	left: 648px; 
}
.k-inner-cell {
	padding-top: 0px;
	position: relative;
	background-color: #FFF;	
	height: auto;
}
.k-b-container {
	position: relative;
	padding-left: 4px;	
	padding-top: 4px;
	height: 184px;
}
.k-b-container-double {
	position: relative;
	padding-left: 4px;	
	padding-top: 4px;
	height: 284px;
}
.k-img-cell-single {
	position: absolute;
	bottom: 0px;	
}
.k-empty {
	height: 0px;
}
.katbox {
	width: 240px;
	position: relative;
	top: -10px;
	text-align: left;
}
.katbox_posit {
	width: 240px;
	top: -10px;
	text-align: left;	
}
.katcolorbox_posit {
	position: absolute;
	right: 0;
	bottom: -18px;
}
.katbox-article {
    border-left: 27px solid transparent;  
    height: 0;      
}
.katbox-article span {
	font-family: KlavikaBold;
	text-transform: uppercase;
	font-size: 9pt;	
	color: #fff;
	padding-left: 20px;
	position: relative;
	top: -24px;	
}
.katbox-article span:hover {
	text-decoration: underline;
}
.k-link-a:hover {
	text-decoration: none;
}
.katbox-article span:hover {
	color: #fff;
}
.k-b-headline {
	font-size: 20px;
	line-height: 20px;
	color: #000;
	font-family: KlavikaBlack, Arial, sans-serif;
	margin-top: 20px;
	margin-left: 0px;
	width: 290px;
	position: relative;
	height: auto;
}
.k-b-headline:hover {
	text-decoration: none;
}
.katcolorbox {
	background-color: #009cd8;
	position: absolute;
	color: #FFF;
	font-size: 12px;
	line-height: 27px;
	font-family: KlavikaMedium, Arial, sans-serif;
	display: inline-block;
	right: 0;
	width: 230px;
	bottom: 0px;
	padding-left: 10px;
	padding-top: 1px;
	padding-right: 10px;
	overflow: hidden;
	max-height: 28px;
	text-overflow: ellipsis;
}
.k-b-link:hover {
	text-decoration: underline;
}
.kbyline {
	line-height: 20px;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: KlavikaMedium, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
}
.kbyline:hover {
	text-decoration: underline;
}*/
















.k-governcell, .k-governcell-double {
	position: relative;
}
.k-outercell, .k-outercell-double {
	height: auto;	
	position: relative;
	vertical-align: top;
}
.k-outercell-double {
	
}
.k-img {
}
.kol {
	width: 955px;
	position: relative;
	display: inline-block;
}
.kol2 {
	width: 472px;
	position: relative;
	display: inline-block;
}
.kol3 {
	width: 315px;
	position: relative;
	display: inline-block;
}

.ktop {
	border-top: 1px solid #e5e5e5;
}
.kbottom {
	border-bottom: 1px solid #e5e5e5;				
}
.kleft {
	border-left: 1px solid #e5e5e5;
}
.kright {
	border-right: 1px solid #e5e5e5;				
}
.k-cell-divider-horiz {
	width: 326px;
	height: 1px;
	border-bottom: 1px solid #e5e5e5;	
	position: relative;
	right: -4px;
	left: -4px;
}
.k-cell-divider {
	border-right: 1px solid #e5e5e5;
	width: 1px;
	display: inline-block;
}
.k-inner-cell {
	padding-top: 0px;
	position: relative;
	background-color: #FFF;	
	height: auto;
}
.k-b-container {
	position: relative;
	padding-left: 4px;	
	padding-top: 4px;
	height: 184px;
}
.k-b-container-double {
	position: relative;
	padding-left: 4px;	
	padding-top: 4px;
	height: 184px;
}
.k-img-cell-single {
	position: absolute;
	bottom: 0px;	
	
	text-align: center;
}
.k-empty {
	height: 0px;
}
.katbox {
	width: 240px;
	position: relative;
	top: -10px;
	text-align: left;
}
.katbox_posit {
	width: 240px;
	top: -10px;
	text-align: left;	
}
.katcolorbox_posit {
	position: absolute;
	right: 0;
	bottom: -18px;
}
.katbox-article {
    border-left: 27px solid transparent;  
    height: 0;      
}
.katbox-article span {
	font-family: KlavikaBold;
	text-transform: uppercase;
	font-size: 9pt;	
	color: #fff;
	padding-left: 20px;
	position: relative;
	top: -24px;	
}
.katbox-article span:hover {
	text-decoration: underline;
}
.k-link-a:hover {
	text-decoration: none;
}
.katbox-article span:hover {
	color: #fff;
}
.k-b-headline {
	font-size: 20px;
	line-height: 20px;
	color: #000;
	font-family: KlavikaBlack, Arial, sans-serif;
	margin-top: 20px;
	margin-left: 0px;
	width: 290px;
	position: relative;
	height: auto;
}
.k-b-headline:hover {
	text-decoration: none;
}
.katcolorbox {
	background-color: #009cd8;
	position: absolute;
	color: #FFF;
	font-size: 12px;
	line-height: 27px;
	font-family: KlavikaMedium, Arial, sans-serif;
	display: inline-block;
	right: 0;
	width: 230px;
	bottom: 0px;
	padding-left: 10px;
	padding-top: 1px;
	padding-right: 10px;
	overflow: hidden;
	max-height: 28px;
	text-overflow: ellipsis;
}
.k-b-link:hover {
	text-decoration: underline;
}
.kbyline {
	line-height: 20px;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: KlavikaMedium, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: 0px;
}
.kbyline:hover {
	text-decoration: underline;
}



