
<div id="mainfooter" class="footer">
	<div class="table-footer">			
		<div class="row">
			<div class="cell-250">
				<div class="table-footer-inner">
					<div class="row">
						<div class="cell-250" style="padding-left: 24px; padding-top: 14px;">
				  			<%= image_tag("image_learning_counsel.png", :alt => '') %>
				  		</div>
					</div>
				</div>
			</div>
			
			<div class="cell-600">
				<div class="table-footer-inner">
					<div class="row" style="height: 50px"></div> 			
					<div class="row">
						<div class="cell-125" style="text-align: center;">
							<a href="/about">About Us</a>							
				  		</div>
						<div class="cell-125" style="text-align: center;">
							<a href="/contacts">Contact Us</a>							
				  		</div>
						<div class="cell-125" style="text-align: center;">
							<a href="/signup">Join</a>							
				  		</div>
						<div class="cell-125" style="text-align: center;">
							<a href="/advertise">Advertise</a>							
				  		</div>
					</div>
				</div>
			</div>			
		</div>					
	</div>	
</div>

<!-- <script>
	window.onload = function() {
		var canvas = document.getElementById("canvas");
		var ctx = canvas.getContext("2d");
		
		ctx.beginPath();
		ctx.moveTo(100, 150);
		ctx.lineTo(450, 50);
		ctx.lineWidth = 10;
		
		ctx.strokeStyle = "#ff0000";
		ctx.stroke();
	}
</script>

<div>
	<canvas id="canvas" width="578" height="200"></canvas>
</div> -->


			<!-- <div class="cell-100percent">
				<div class="table-footer-inner">
					<div class="row">
						<div class="cell-100">
							<a href="/about" style="text-decoration: none;">About Us</a>							
				  		</div>
						<div class="cell-100">
							<a href="/about">About Us</a>							
				  		</div>
						<div class="cell-100">
							<a href="/about">About Us</a>							
				  		</div>
						<div class="cell-100">
							<a href="/about">About Us</a>							
				  		</div>
				  		<div class="cell-100auto">
				  		</div>				  		
					</div>
				</div>
			</div> -->
			

