
	<div style="height: 5px;"></div>


	<style>
		
		#kfooter {
			height: 100px;
			width: 100%;
			background-color: #000;
			
		}
		#kfooter .kfooter-title {
			color: #FFF;
			font-size: 11px;
			top: 13px;
			position: relative;
			font-family: KlavikaMedium;
			display: inline-block;
			float: left;
			margin-left: 40%;
		}
		#kfooter .kfooter-links {
			font-size: 11px;
			top: 17px;
			position: relative;
			font-family: KlavikaMedium;
			display: inline-block;
			float: right;
			margin-right: 5%;		
		}
		#kfooter .kfooter-links a {
			color: #fff;
		}		
		#kfooter .kfooter-logo {
			display: inline-block;
			float: left;
			margin-left: 5%;					
		}	
		#kfooter .kfooter-logo img {
			margin-top: 8px;
		}	
		#kfooter .kfooter-spacer {
			display: inline-block;
		}
		
	</style>

	<div id="kfooter">
		
		<div class="kfooter-logo">
			<img src="../repository/logo-icon-lc-transparent.png" height="25px">
		</div>
		
		<div class="kfooter-title">COPYRIGHT 2013 THE LEARNING COUNSEL</div>
		
		<!-- <div class="kfooter-links"><a href="/privacy">PRIVACY</a></div>		
		<div class="kfooter-spacer"></div>
		<div class="kfooter-links"><a href="/sponsor">SPONSOR</a></div>
		<div class="kfooter-spacer"></div>				
		<div class="kfooter-links"><a href="/contacts/new">CONTACT US</a></div>		 -->
		
				
	</div>
	
