
<style>

	@font-face {
	  	font-family: 'msyhb';
	  	src: url('/assets/msyhb.eot');	  
	  	src: url('/assets/msyhb.ttf') format('truetype');
	}
	@font-face {
		font-family: 'msyh';
	    src: url('/assets/msyh.eot');	  		
		src: url('/assets/msyh.ttf') format('truetype');
	}
	
	@font-face {
		font-family: digitgraphics;
		src: url('/assets/digitgraphics.eot');
	}

	@font-face {
		font-family: KlavikaExtraLight;
		src: url('/assets/KlavikaWebDisplayExtraLight.eot');
	}
		
	
	nav {
		font-family: msyh;

		position: relative;
		z-index: +10;
		 
		height: 38px;

       
        /*background: #202631;*/        
        
        /*background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #202631), color-stop(0.95, #3e464f), color-stop(0.96, #67717c), color-stop(0.99, #444f5e));*/        
        
        /*background: -moz-linear-gradient(center bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);*/
       
       
        /*background: -webkit-linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);
        background: -o-linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);
        background: -ms-linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);*/        
        
        
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202631', endColorstr='#3e464f', GradientType=0 );*/
       
              
        /*background: linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);*/
       
       
       
       
        background: -moz-linear-gradient(center bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%); 
       
               
       /*background: -moz-linear-gradient(center bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);*/
                                   
        
       /*background: -moz-linear-gradient(center bottom, #49704B 10%, #627A75 95%, #95A38B 96%, #879E75 99%); */      
              

      /*background: -moz-linear-gradient(center bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);     */     
     
        
        /*background: linear-gradient(bottom, #203121 10%, #3E4F4B 95%, #6F7C67 96%, #4F5E44 99%);*/

        /*background: linear-gradient(bottom, #49704B 10%, #627A75 95%, #95A38B 96%, #879E75 99%);*/
		
	}

 	/*
 	202631 -> 203121 -> 49704B -> 375239 -> 4F7551
 	
	3e464f -> 3E4F4B -> 627A75 -> 50635F -> 496962 -> 49695A
	
	67717c -> 6F7C67 -> 95A38B -> 829179
	
	444f5e -> 4F5E44 -> 879E75 -> 67785A
	*/	
	
	




	nav a:hover {
	text-decoration: none;
	}

	nav ul {
		padding-left: 0px;
		margin-top: 0px;
		border-radius: 0px;  
		list-style: none;
		position: relative;
		display: inline-table;		
	}
		
	nav li {
		float: left;		
		display: inline;
	}
		
	nav ul:after {
		content: "";
		clear: both;
		display: block;
	}
	
	nav ul li:hover {
		
      /*background: -moz-linear-gradient(center bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);*/      
      
        background: -moz-linear-gradient(center bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%); 
      
		
		/*background: #56854E; 
		background: linear-gradient(top, #56854E 0%, #254520 100%);  
		background: -moz-linear-gradient(top, #56854E 0%, #254520 100%); 
		background: -webkit-linear-gradient(top, #56854E 0%,#254520 100%);*/		
		 
	}
	
	nav ul li:hover a {
		color: #BFFAB9;
	}
	
	nav ul li a {
		display: block;
		padding: 9px 9px;
		color: #fff;
		text-decoration: none;
		font-size: 20px;
	}

	nav ul ul {
		display: none;
	}

	nav a:active {
		/*background: #56854E; 
		background: linear-gradient(top, #56854E 0%, #254520 100%);  
		background: -moz-linear-gradient(top, #56854E 0%, #254520 100%); 
		background: -webkit-linear-gradient(top, #56854E 0%,#254520 100%); */		
		
      /*background: -moz-linear-gradient(center bottom, #4F7551 10%, #49695A 95%, #829179 96%, #67785A 99%);*/      
      
      
        background: -moz-linear-gradient(center bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%); 
      
		
		
		color:#F0F56E;
		outline: none;
	}
		
		
	nav ul ul {
		background-color:rgba(86, 133, 78, 0.8);

		-moz-box-shadow:2px 2px 20px rgba(0,0,0,.8);
		-webkit-box-shadow:2px 20px 2px rgba(0,0,0,.8);
		box-shadow:2px 2px 20px rgba(0,0,0,.8);

		/*border-bottom-left-radius: 0px;
   		border-bottom-right-radius: 0px;		*/
   		   		
		border-bottom-left-radius: 10px;
   		border-bottom-right-radius: 10px;
		position: absolute;
	}

	nav ul ul li:first-child {
		float: none; 
		position: relative;
	}
			
	nav ul ul li {
		float: none; 
		position: relative;
	}
				
	nav ul ul li a {
		padding: 10px 20px;
		border-bottom-left-radius: 0px;
   		border-bottom-right-radius: 0px;
	}

	nav ul ul li:last-child a {
		padding: 10px 20px;
		border-bottom-left-radius: 10px;
   		border-bottom-right-radius: 10px;
	}

	/*nav ul ul li a:hover {
		background-color:rgba(0, 0, 0, 0.4); /*#22401D*/
		/*color: #000000;*/
	/*}*/
			
	nav ul ul li a:hover {
		/*background-color:rgba(86, 133, 78, 0.8); */ 
		background-color:rgba(0, 0, 0, 0.4); /*#22401D*/
		color: #2AF707;
	}

	nav ul ul ul {
		position: absolute;
		left: 100%; top:0;
	}
	
	/*.extendfull, .extendleft
	{
		margin-left: -3000px;
		padding-left: 3000px;
	}
	
	.extendfull, .extendright
	{
		margin-right: -3000px;
		padding-right: 3000px;
	}	*/


      /*a.blue {
        background: #202631;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #202631), color-stop(0.95, #3e464f), color-stop(0.96, #67717c), color-stop(0.99, #444f5e));
        background: -moz-linear-gradient(center bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);
        background: -webkit-linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);
        background: -o-linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);
        background: -ms-linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202631', endColorstr='#3e464f', GradientType=0 );
        background: linear-gradient(bottom, #202631 10%, #3e464f 95%, #67717c 96%, #444f5e 99%);
      }*/
     
</style>

        
     <!-- link_to("Logout  ", :controller => 'admin_users', :action => 'logout' )  -->
         
	 <nav>	 	
		<div id="topNav">
			
			<ul style="width: 100%; padding-left: 0px;">
				<li><a href="/index">Home</a></li>
				<li><a href="/edmatchups">EdMatchUp</a>
					<ul>
						<li><a href="/edmatchups">
								<img src="/assets/image_ed_flow_chart_small.png" style="width: auto;">
							</a>
						</li>
					</ul>
				</li>
				<li><a href="/admin_users/index">Database</a>
					<ul>
						<li><a href="admin_users/list">Users</a></li>
						<li><a href="admin_users/contacts">Contacts</a></li>
						<li><a href="admin_users/institues">Institutes</a></li>
						<li><a href="admin_users/publishers">Publishers</a></li>
					</ul>					
				</li>
								
				<li><a href="#">Articles</a>
					<ul>
						<li><a href="archives/new">New Entry</a></li>
						<li><a href="archives/list">List</a></li>						
					</ul>
				</li>

				<% if !session[:username] %>
					<li style="float: right; padding-right: 40px;"><a href="/signin">Sign In</a></li>
					<li style="float: right; padding-right: 0px;"><a href="/signup">Join</a></li>
				<% else %>
					<li><a href="/signout" style="float: right;">Sign Out</a></li>
					<% if session[:has_account] %>		
					<li><a href="/home" style="float: right;">My Home Page</a></li>
					<% end %>		
					<p style="padding: 0px 30px 0px 0px; color: green;float: right;"><%= session[:username] %></p>
				<% end %>
				
			</ul>
						
			
			
		</div>
	</nav>

    <script>
      
        (function($){  
                      
            var nav = $("#topNav");  
                      
            nav.find("li").each(function() {  
                if ($(this).find("ul").length > 0) {  
      
                    $(this).mouseenter(function() {  
                    	
                        $(this).find("ul").stop(true, true).slideDown(300);  
                    });  
                              
                    $(this).mouseleave(function() {  
                        $(this).find("ul").stop(true, true).slideUp(300);  
                    });  
                }  
            });  
        })(jQuery);
          
    </script>  
