
	<div style="padding: 6px 0px 0px 0px; display: inline-block;">
		<%#= link_to image_tag("button_schools.jpg", alt: "Schools", :width => '70'), institutes_new_path %>
		
		<%= link_to image_tag("button_schools.jpg", alt: "Schools", :width => '70'), '#' %>
		
		<br>
		<p style="padding: 0px 0px 0px 12px; font-size: 11px; font-weight: bolder;">Schools</p>
	</div>
	<div style="padding: 6px 0px 0px 0px; display: inline-block;">
		<%#= link_to image_tag("button_teachers.jpg", alt: "Teachers", :width => '70'), teachers_new_path %>
		
		<%= link_to image_tag("button_teachers.jpg", alt: "Teachers", :width => '70'), '#' %>
		
		<br>
		<p style="padding: 0px 0px 0px 12px; font-size: 11px; font-weight: bolder;">Teachers</p>
	</div>
	<div style="padding: 6px 0px 0px 0px; display: inline-block;">
		<%#= link_to image_tag("button_students.jpg", alt: "Students", :width => '70'), students_new_path %>
		
		<%= link_to image_tag("button_students.jpg", alt: "Students", :width => '70'), '#' %>
		
		<br>
		<p style="padding: 0px 0px 0px 12px; font-size: 11px; font-weight: bolder;">Students</p>
	</div>
	<div style="padding: 6px 0px 0px 0px; display: inline-block;">
		<%#= link_to image_tag("button_publishers.jpg", alt: "Publishers", :width => '70'), publishers_new_path %>
		
		<%= link_to image_tag("button_publishers.jpg", alt: "Publishers", :width => '70'), '#' %>
		
		<br>
		<p style="padding: 0px 0px 0px 12px; font-size: 11px; font-weight: bolder;">Publishers</p>
	</div>
