


<div id="masthead" class="mastheadNormal">

<div style="display: none;" id="div-gpt-ad-interstitial_oop"><iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom;" marginheight="0" marginwidth="0" name="google_ads_iframe_/4160/mv.inc/homepage_1" id="google_ads_iframe_/4160/mv.inc/homepage_1" frameborder="0" height="1" scrolling="no" width="1"></iframe></div>

<div style="display: none;" id="div-gpt-ad-leaderboard_abovenav" class="inner"><iframe src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px none; vertical-align: bottom;" marginheight="0" marginwidth="0" name="google_ads_iframe_/4160/mv.inc/homepage/flexiblepushdown_0" id="google_ads_iframe_/4160/mv.inc/homepage/flexiblepushdown_0" frameborder="0" height="250" scrolling="no" width="970"></iframe></div>

    <div style="height: 60px;" id="top-black-bar-marker"></div>
    <div style="position: fixed; top: -7px; background-color: rgba(0, 0, 0, 0.9);" id="top-black-bar" class="outer">
            
    	<div id="white-stripe-bar" class="outer">
            <div class="inner">
            	<div style="display: block;" id="slimlogonav"><a href="http://www.inc.com/"><img src="Entrepeneurs_files/inclogo_sm.png" id="smalllogo" onmouseover="showslimnav();"></a><img src="Entrepeneurs_files/incmenuicon.png" id="smallnav" onmouseover="showslimnav();"></div>

                <div style="display: none;" id="productnav">
                    <a href="http://riders.inc.com/?cid=soridersnav" target="_blank"><img src="Entrepeneurs_files/product_riderssummit.png"></a><a href="http://conference.inc.com/?cid=soinc5000nav" target="_blank"><img src="Entrepeneurs_files/product_inc5000conference.png"></a>
                </div>
    
                <div id="s-icons" class="social">
                    <ul>
                        <li class="linkedin"><a href="http://www.linkedin.com/today/inc.com" target="_blank"></a></li>
                        <li class="twitter"><a href="http://www.twitter.com/inc" target="_blank"></a></li>
                        <li class="google"><a href="https://plus.google.com/+incmagazine" target="_blank"></a></li>
                        <li class="facebook"><a href="http://www.facebook.com/inc" target="_blank"></a></li>
                    </ul>
                </div>
    
                <div id="s-links" class="social"><a href="http://www.inc.com/inc5000/list">Inc. 5000 List</a> | <a href="http://www.inc.com/magazine">magazine</a> | <a href="http://www.inc.com/events">events</a> | <a href="http://www.inc.com/newsletter">newsletters</a> | <a href="http://mediakit.inc.com/" target="_blank">advertise</a> | <a href="http://www.inc.com/magsub">subscribe</a></div>
            </div>
        </div>
        <div id="lower-bar">

        <div class="inner">
        <div id="member_container">
        <!-- LOGIN THIN PANEL -->
            <div id="forgot_login_form" style="float:left;position:absolute;z-index:12;background:#000;height:32px;width:450px;display:none;">
                <form id="forgotten_login_form" method="post" action="http://www.inc.com/retrievepassword">
                    <input style="width: 250px;height: 20px;border: 0px;margin: 5px 0px;float: left;" placeholder="Email" name="retrieve_email" id="forgotemail" type="text">
                    <input src="Entrepeneurs_files/login-submit-button.png" onclick="document.forgotten_login_form.submit();" id="forgotlogin_submit" style="margin-left:5px;margin-top:5px;float:left;" type="image">
                </form>
                <div class="hide_forgot" onclick="closeForgotPass();return false;" style="float: left;margin-top: 8px;margin-left: 10px;text-transform: uppercase;font-family: KlavikaRegular;font-size: 8pt;">hide [x]</div> 
            </div>
            <div id="login">
                <form><input id="email" placeholder="Email" type="text"><input id="password" placeholder="Password" type="password"><input src="Entrepeneurs_files/login-submit-button.png" id="login_submit" type="image"></form><div class="forgot" style="cursor:pointer;" onclick="openForgotPass();return false;">forgot login?</div>
                <div class="using">
                    <div style="float:left;margin-right:2px;">Or login using:</div>
                    <div id="externalauthorizors">
                        <div id="external_google_sm" class="external_authorizer">
                            <form name="google_openid_form" id="google_openid_form" action="http://www.inc.com/lib/dopeid/openidlogin.php" method="post" autocomplete="off">
                                <input name="openid_identifier" id="openid_identifier" value="https://www.google.com/accounts/o8/id" type="hidden">
                                <input name="process" value="1" type="hidden">
                                <input name="returl" value="http%3A%2F%2Fwww.inc.com%2F" type="hidden">
                                <input id="googlefollowusrid" name="followusrid" value="" type="hidden">
                                <button class="googlebutton" style="border:0px;background-color:transparent;" type="submit" id="login_google_sm"></button>
                            </form>
                        </div>
                        
                        <div id="external_yahoo_sm" class="external_authorizer">
                            <form name="yahoo_openid_form" id="yahoo_openid_form" action="http://www.inc.com/lib/dopeid/openidlogin.php" method="post" autocomplete="off">
                                <input name="openid_identifier" id="openid_identifier" value="https://me.yahoo.com/" type="hidden">
                                <input name="process" value="1" type="hidden">
                                <input name="returl" value="http%3A%2F%2Fwww.inc.com%2F" type="hidden">
                                <input id="yahoofollowusrid" name="followusrid" value="" type="hidden">
                                <button class="yahoobutton" style="border:0px;background-color:transparent;" type="submit" id="login_yahoo_sm"></button>
                            </form>
                        </div>
                        
                        <div id="external_facebook_sm" class="external_authorizer">
                            <a href="http://www.inc.com/lib/facebook/fb_login.php"><img src="Entrepeneurs_files/spacer_002.gif" class="facebookbutton"></a>
                        </div>
                        
                        <div id="external_linkedin_sm" class="external_authorizer">
                            <a href="http://www.inc.com/lib/linkedin/startlogin.php?returl=http://www.inc.com/"><div class="linkedinbutton"></div></a>
                        </div>
                        
                        <div id="external_twitter_sm" class="external_authorizer">
                            <iframe id="createaccountframe" src="Entrepeneurs_files/start.html" style="width: 21px; height: 21px;" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>    
                <div class="close">close [x]</div>
            </div>
        <!-- LOGIN THIN PANEL -->
        <div style="display: block;" id="welcome_loggedout"><a class="login" href="" onclick="javascript:openLogin();hideslimnav();return false;" rel="#overlay_loginform">Login</a> or <a id="signup" href="" onclick="javascript:openRegistration();return false;">signup</a></div>
                <div style="display: none;" id="welcome">Welcome <strong><a href="http://www.inc.com/member" rel="nofollow" id="memberlink"></a></strong> | <a href="http://www.inc.com/logout?ret=http://www.inc.com/" rel="nofollow">Log Out</a></div>
        </div>

        <div id="search-bar" style="float: right; width: 250px;">
            <form action="http://www.inc.com/search" method="get" onsubmit="if (document.getElementById('search-field').value == 'SEARCH') {return false;}">
                  <input name="q" id="search-field" type="text">
                  <div id="search-icon"><input src="Entrepeneurs_files/searchbaricon.png" class="top" type="image"></div>
            </form>
        </div>

        </div>

        </div>

                                <div id="theajaxregpull" style="margin-top:-32px;"></div>
        
        
        <div id="slimnavcontainer" class="inner"><ul id="slimNav"><li><a href="http://www.inc.com/startup" onclick="mastheadAjaxContent.intentionIntercept('startup','channel',1);return false;">Startup</a></li><li><a href="http://www.inc.com/grow" onclick="mastheadAjaxContent.intentionIntercept('grow','channel',6);return false;">Grow</a></li><li><a href="http://www.inc.com/lead" onclick="mastheadAjaxContent.intentionIntercept('lead','channel',4);return false;">Lead</a></li><li><a href="http://www.inc.com/innovate" onclick="mastheadAjaxContent.intentionIntercept('innovate','channel',7);return false;">Innovate</a></li><li><a href="http://www.inc.com/people" onclick="mastheadAjaxContent.intentionIntercept('people','channel',415);return false;">People</a></li><li><a href="http://www.inc.com/money" onclick="mastheadAjaxContent.intentionIntercept('money','channel',2);return false;">Money</a></li><li><a href="http://www.inc.com/inclive" onclick="mastheadAjaxContent.intentionIntercept('inclive','series',28);return false;">Video</a></li></ul></div>
        <div id="slimbottomnav" class="outer" style="height:4px; background-color: none;" onmouseover="hideslimnav();">&nbsp;</div>
    </div>
    
    
    <!-- "MENU LINE INTERRUPT" -->
              <div class="inner">
                <div id="interrupt">
                  <ul id="interrupt-imgs" class="cycle-slideshow" data-cycle-slides="&gt; li"><li class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 99; opacity: 1; visibility: hidden; display: block;"><a style="visibility: hidden;" href="http://www.inc.com/idealab"><img style="visibility: hidden;" src="Entrepeneurs_files/logo-idealab.png"></a></li>
                                           
                  <li class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px; left: 0px; z-index: 99; opacity: 1;"><a href="http://www.inc.com/idealab"><img src="Entrepeneurs_files/logo-idealab.png"></a></li></ul>
              </div>
          </div>
              <!-- "MENU LINE INTERRUPT" -->

    <div class="outer" id="above-nav">
        <div id="inc-logo"><a href="http://www.inc.com/"><img src="Entrepeneurs_files/inc-logo.png" height="78" width="225"></a></div>
    </div>
    
    <!--MAIN NAVIGATION-->
    <div id="main-nav" class="outer">
        <div id="main-nav-items" class="inner"><ul id="mainNav"><li><a style="color: rgb(0, 0, 0);" href="http://www.inc.com/startup" onclick="mastheadAjaxContent.intentionIntercept('startup','channel',1);if(this.timer)window.clearTimeout(this.timer);return false;" onmouseover="nav('0',this); this.style.color='#f7ce00';" onmouseout="if(this.timer)window.clearTimeout(this.timer);" class="navItem">Startup</a></li><li><a style="color: rgb(0, 0, 0);" href="http://www.inc.com/grow" onclick="mastheadAjaxContent.intentionIntercept('grow','channel',6);if(this.timer)window.clearTimeout(this.timer);return false;" onmouseover="nav('1',this); this.style.color='#f6861f';" onmouseout="if(this.timer)window.clearTimeout(this.timer);" class="navItem">Grow</a></li><li><a style="color: rgb(0, 0, 0);" href="http://www.inc.com/lead" onclick="mastheadAjaxContent.intentionIntercept('lead','channel',4);if(this.timer)window.clearTimeout(this.timer);return false;" onmouseover="nav('2',this); this.style.color='#009cd8';" onmouseout="if(this.timer)window.clearTimeout(this.timer);" class="navItem">Lead</a></li><li><a style="color: rgb(0, 0, 0);" href="http://www.inc.com/innovate" onclick="mastheadAjaxContent.intentionIntercept('innovate','channel',7);if(this.timer)window.clearTimeout(this.timer);return false;" onmouseover="nav('3',this); this.style.color='#7eb75d';" onmouseout="if(this.timer)window.clearTimeout(this.timer);" class="navItem">Innovate</a></li><li><a style="color: rgb(0, 0, 0);" href="http://www.inc.com/people" onclick="mastheadAjaxContent.intentionIntercept('people','channel',415);if(this.timer)window.clearTimeout(this.timer);return false;" onmouseover="nav('4',this); this.style.color='#fb433a';" onmouseout="if(this.timer)window.clearTimeout(this.timer);" class="navItem">People</a></li><li><a style="color: rgb(0, 0, 0);" href="http://www.inc.com/money" onclick="mastheadAjaxContent.intentionIntercept('money','channel',2);if(this.timer)window.clearTimeout(this.timer);return false;" onmouseover="nav('5',this); this.style.color='#06027b';" onmouseout="if(this.timer)window.clearTimeout(this.timer);" class="navItem">Money</a></li><li><a style="color: rgb(0, 0, 0);" href="http://www.inc.com/inclive" onclick="mastheadAjaxContent.intentionIntercept('inclive','series',28);if(this.timer)window.clearTimeout(this.timer);return false;" onmouseover="nav('6',this); this.style.color='#000000';" onmouseout="if(this.timer)window.clearTimeout(this.timer);" class="navItem">Video</a></li></ul></div>
    </div>
    <!--MAIN NAVIGATION-->

    <div id="dropdown" class="outer launch panel">
        <div class="inner" style="margin-top:20px;">

            <!--LEFT HAND SUB NAVIGATION-->
            <div style="width:177px;height:205px;float:left;"><ul id="leftSubNav"></ul></div>
            <!--LEFT HAND SUB NAVIGATION-->
            
          <div id="mastheadContentContainer"><div class="ajaxloader"><img src="Entrepeneurs_files/ajax-loader.gif"></div></div>
            
        </div> 
        <div id="bottombar" class="bottomnavbar" style="">
            <div id="bottombarinner" class="inner" style=""></div>
        </div>
    </div>
    </div>	
