


<style>
	
	#signin-page {
		background-color: #C7C7C7;
	}
	
	
	#signin-page #signin-page-inner {
	    width: 50%;
	    margin: 0 auto;
		height: 100px; 
		text-align: center; 

		vertical-align: center; 
		background-color: #A60000; 
		position: relative; 
	}	
	
</style>

<div id="signin-page">

	<div style="height: 200px;"></div>
		
	<a href="sessions/new">		
	<div id="signin-page-inner">
		
     <!-- link_to "Sign In", 'sessions/new'  -->
     		
	</div>
	</a>
	
	<div style="height: 750px;"></div>
	
</div>
